USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Import_CargoOut]    Script Date: 06/11/2021 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

DECLARE @total INT,
        @filtered INT

EXEC [dbo].[pr_Search_Import_CargoOut] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,
		@FilteredRowsCount= @filtered OUTPUT, @PSDATE = '2021-08-01', @PEDATE = '2021-08-31', @PCOMPYID = 32

SELECT @total, @filtered
*/

ALTER PROCEDURE [dbo].[pr_Search_Import_CargoOut]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
		,@PSDATE SMALLDATETIME
		,@PEDATE SMALLDATETIME
		,@PCOMPYID INT
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'
	DECLARE @LSDATE SMALLDATETIME,@LEDATE SMALLDATETIME,@LCOMPYID INT
	SET @LSDATE=@PSDATE
	SET @LEDATE=@PEDATE
	SET @LCOMPYID=@PCOMPYID

    DECLARE @TableMaster TABLE
    ( 
	   GODATE SMALLDATETIME
      ,GOTIME DATETIME
	  ,GONO INT
	  ,GODNO VARCHAR(15)
	  ,CONTNRNO VARCHAR(100)
	  ,CONTNRSDESC VARCHAR(50)
	  ,VHLNO VARCHAR(100)
	  ,STMRNAME VARCHAR(100)
	  ,PRDTDESC VARCHAR(100)
	  ,GPLNO VARCHAR(50)
	  ,IGMNO VARCHAR(50)
	  ,GDRVNAME VARCHAR(100)
	   ,GOQTY int
	  ,GIDID int
	  , GODID int 
      , RowNum INT
    )

	update GATEOUTDETAIL
	set  GODATE = convert(varchar(10),GODATE,120)

    INSERT INTO @TableMaster(GODATE,GOTIME ,GONO,GODNO,CONTNRNO ,CONTNRSDESC,VHLNO,STMRNAME,PRDTDESC,  GPLNO,IGMNO,GDRVNAME,GOQTY,GIDID,GODID, RowNum)
    SELECT   GODATE
            , GOTIME
			,GONO
			,GODNO
		    ,isnull(GATEINDETAIL.CONTNRNO,'')
			,isnull(PRODUCTGROUPMASTER.PRDTGDESC,'')
			,isnull(GATEOUTDETAIL.VHLNO,'')
			,isnull(GATEINDETAIL.STMRNAME,'')
			,isnull(GATEINDETAIL.PRDTDESC,'')
			,isnull(GATEINDETAIL.GPLNO ,'')
			,isnull(GATEINDETAIL.IGMNO ,'')
			,isnull(GDRVNAME,''),isnull(GOQTY,0)
			,GATEOUTDETAIL.GIDID
            , GODID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 2 THEN GONO
                  WHEN 3 THEN GODNO
				   WHEN 4 THEN GATEINDETAIL.CONTNRNO
				    WHEN 5 THEN PRODUCTGROUPMASTER.PRDTGDESC
					 WHEN 6 THEN GATEOUTDETAIL.VHLNO
                  WHEN 7 THEN GATEINDETAIL.STMRNAME
				    WHEN 8 THEN GATEINDETAIL.GPLNO
					  WHEN 9 THEN GATEINDETAIL.IGMNO
                  WHEN 10 THEN GDRVNAME
				    WHEN 11 THEN PRDTDESC
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                   WHEN 2 THEN GONO
                  WHEN 3 THEN GODNO
				   WHEN 4 THEN GATEINDETAIL.CONTNRNO
				    WHEN 5 THEN PRODUCTGROUPMASTER.PRDTGDESC
					 WHEN 6 THEN GATEOUTDETAIL.VHLNO
                  WHEN 7 THEN GATEINDETAIL.STMRNAME
				    WHEN 8 THEN GATEINDETAIL.GPLNO
					  WHEN 9 THEN GATEINDETAIL.IGMNO
                  WHEN 10 THEN GDRVNAME
	 			WHEN 11 THEN PRDTDESC
               
                END
            END DESC ,
			 CASE @SortDirection    /*DATETIME ORDER BY*/
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN GODATE
                  WHEN 1 THEN GOTIME
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN GODATE
                  WHEN 1 THEN GOTIME				
               
                END
            END DESC 
            
        
             

            
            ) AS RowNum
            
FROM      dbo.GATEINDETAIL  (NOLOCK)  INNER JOIN 
           dbo.VEHICLETICKETDETAIL  (NOLOCK) ON GATEINDETAIL.GIDID = VEHICLETICKETDETAIL.CGIDID INNER JOIN 
		   dbo.CONTAINERSIZEMASTER (NOLOCK) ON GATEINDETAIL.CONTNRSID = CONTAINERSIZEMASTER.CONTNRSID Inner Join 
		   dbo.PRODUCTGROUPMASTER  (NOLOCK) ON GATEINDETAIL.PRDTGID = PRODUCTGROUPMASTER.PRDTGID  INNER JOIN 
		   dbo.GATEOUTDETAIL (NOLOCk) ON   GATEINDETAIL.GIDID = GATEOUTDETAIL.GIDID 
         
WHERE (GATEOUTDETAIL.COMPYID= @LCOMPYID) AND (GATEOUTDETAIL.GODATE BETWEEN @LSDATE AND @LEDATE) 
     AND (GATEOUTDETAIL.SDPTID = 4) AND (GATEOUTDETAIL.REGSTRID = 1) AND  (@FilterTerm IS NULL 
              OR GODATE LIKE @FilterTerm
              OR GOTIME LIKE @FilterTerm
			  OR GONO LIKE @FilterTerm
              OR GODNO LIKE @FilterTerm
			  OR GATEINDETAIL.CONTNRNO LIKE @FilterTerm
              OR PRODUCTGROUPMASTER.PRDTGDESC LIKE @FilterTerm
			  OR GATEINDETAIL.STMRNAME LIKE @FilterTerm
			  OR GATEINDETAIL.GPLNO LIKE @FilterTerm
			  OR GATEINDETAIL.STMRNAME LIKE @FilterTerm
			  OR GATEOUTDETAIL.GDRVNAME LIKE @FilterTerm
			  OR GATEINDETAIL.PRDTDESC LIKE @FilterTerm
              
            )

    SELECT GODATE,GOTIME ,GONO,GODNO,CONTNRNO ,CONTNRSDESC,VHLNO,STMRNAME,PRDTDESC,GPLNO,IGMNO,GDRVNAME,GOQTY,GIDID,GODID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    ORDER BY GODNO DESC
    --SELECT @TotalRowsCount = COUNT(*)
      --FROM GATEOUTDETAIL INNER JOIN GATEINDETAIL ON GATEOUTDETAIL.GIDID=GATEINDETAIL.GIDID LEFT OUTER JOIN CONTAINERSIZEMASTER ON GATEINDETAIL.CONTNRSID=CONTAINERSIZEMASTER.CONTNRSID   /* CHANGE  TABLE NAME */
      --WHERE (GATEINDETAIL.COMPYID=@LCOMPYID) AND (GODATE BETWEEN @PSDATE AND @PEDATE)
      
SELECT @TotalRowsCount = COUNT(*)
FROM   dbo.GATEOUTDETAIL           
WHERE (GATEOUTDETAIL.COMPYID= @LCOMPYID) AND (GODATE BETWEEN @LSDATE AND @LEDATE) AND (GATEOUTDETAIL.SDPTID = 4) AND (REGSTRID = 1)
      
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END



