USE [SCFS_ERP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDGODOWNMASTER_BONDGODOWNTYPEMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDGODOWNMASTER]'))
ALTER TABLE [dbo].[BONDGODOWNMASTER] DROP CONSTRAINT [FK_BONDGODOWNMASTER_BONDGODOWNTYPEMASTER]
GO
/****** Object:  Table [dbo].[BONDGODOWNTYPEMASTER]    Script Date: 26/08/2022 17:47:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDGODOWNTYPEMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDGODOWNTYPEMASTER]
GO
/****** Object:  Table [dbo].[BONDGODOWNMASTER]    Script Date: 26/08/2022 17:47:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDGODOWNMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDGODOWNMASTER]
GO
/****** Object:  Table [dbo].[BONDGODOWNMASTER]    Script Date: 26/08/2022 17:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDGODOWNMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDGODOWNMASTER](
	[GWNID] [int] NOT NULL CONSTRAINT [DF_BONDGODOWNMASTER_GWNID]  DEFAULT (0),
	[GWNTID] [int] NULL CONSTRAINT [DF_BONDGODOWNMASTER_GWNTID]  DEFAULT (null),
	[GWNDESC] [varchar](100) NULL CONSTRAINT [DF_BONDGODOWNMASTER_GWNDESC]  DEFAULT (null),
	[GWNCODE] [varchar](50) NULL CONSTRAINT [DF_BONDGODOWNMASTER_GWNCODE]  DEFAULT (null),
	[GWNSPC] [numeric](18, 2) NULL CONSTRAINT [DF_BONDGODOWNMASTER_GWNSPC]  DEFAULT (0),
	[GWNADDR] [varchar](250) NULL CONSTRAINT [DF_BONDGODOWNMASTER_GWNADDR]  DEFAULT (null),
	[CUSRID] [varchar] (50) NULL CONSTRAINT [DF_BONDGODOWNMASTER_CUSRID]  DEFAULT (''),
	[LMUSRID] [varchar] (50) NULL CONSTRAINT [DF_BONDGODOWNMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_BONDGODOWNMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDGODOWNMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDGODOWNMASTER] PRIMARY KEY CLUSTERED 
(
	[GWNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BONDGODOWNTYPEMASTER]    Script Date: 26/08/2022 17:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDGODOWNTYPEMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDGODOWNTYPEMASTER](
	[GWNTID] [int] NOT NULL CONSTRAINT [DF_BONDGODOWNTYPEMASTER_GWNTID]  DEFAULT (0),
	[GWNTDESC] [nvarchar](100) NULL CONSTRAINT [DF_BONDGODOWNTYPEMASTER_GWNTDESC]  DEFAULT (null),
	[GWNTCODE] [nvarchar](10) NULL CONSTRAINT [DF_BONDGODOWNTYPEMASTER_GWNTCODE]  DEFAULT (null),
	[CUSRID] [varchar] (50) NULL CONSTRAINT [DF_BONDGODOWNTYPEMASTER_CUSRID]  DEFAULT (''),
	[LMUSRID] [varchar] (50) NULL CONSTRAINT [DF_BONDGODOWNTYPEMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_BONDGODOWNTYPEMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDGODOWNTYPEMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDGODOWNTYPEMASTER] PRIMARY KEY CLUSTERED 
(
	[GWNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[BONDGODOWNMASTER] ([GWNID], [GWNTID], [GWNDESC], [GWNCODE], [GWNSPC], [GWNADDR], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, 1, N'Of all BONDGODOWNs….!', N'all', CAST(0.00 AS Numeric(18, 2)), NULL, 1, 1, 1, CAST(N'2006-02-07 00:00:00' AS SmallDateTime))
INSERT [dbo].[BONDGODOWNMASTER] ([GWNID], [GWNTID], [GWNDESC], [GWNCODE], [GWNSPC], [GWNADDR], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, 2, N'CFSC - SANCO 1', N'MAA1U0040', CAST(0.00 AS Numeric(18, 2)), NULL, 1, 1, 0, CAST(N'2016-08-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[BONDGODOWNMASTER] ([GWNID], [GWNTID], [GWNDESC], [GWNCODE], [GWNSPC], [GWNADDR], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (12, 3, N'O Y', N'C018', CAST(889.00 AS Numeric(18, 2)), NULL, 1, 1, 0, CAST(N'2006-12-13 00:00:00' AS SmallDateTime))
INSERT [dbo].[BONDGODOWNTYPEMASTER] ([GWNTID], [GWNTDESC], [GWNTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'Of all BONDGODOWNs….!', N'ALL', 1, 1, 1, CAST(N'2006-02-07 00:00:00' AS SmallDateTime))
INSERT [dbo].[BONDGODOWNTYPEMASTER] ([GWNTID], [GWNTDESC], [GWNTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'OWNED', N'OWN', 1, 1, 0, CAST(N'2006-08-10 00:00:00' AS SmallDateTime))
INSERT [dbo].[BONDGODOWNTYPEMASTER] ([GWNTID], [GWNTDESC], [GWNTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'RENTAL', N'RENT', 1, 1, 0, CAST(N'2006-08-10 00:00:00' AS SmallDateTime))
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDGODOWNMASTER_BONDGODOWNTYPEMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDGODOWNMASTER]'))
ALTER TABLE [dbo].[BONDGODOWNMASTER]  WITH NOCHECK ADD  CONSTRAINT [FK_BONDGODOWNMASTER_BONDGODOWNTYPEMASTER] FOREIGN KEY([GWNTID])
REFERENCES [dbo].[BONDGODOWNTYPEMASTER] ([GWNTID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDGODOWNMASTER_BONDGODOWNTYPEMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDGODOWNMASTER]'))
ALTER TABLE [dbo].[BONDGODOWNMASTER] CHECK CONSTRAINT [FK_BONDGODOWNMASTER_BONDGODOWNTYPEMASTER]
GO
