USE [SCFS_ERP]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BONDVEHICLETICKETDETAIL', N'COLUMN',N'VTSTYPE'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTSTYPE'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BONDVEHICLETICKETDETAIL', N'COLUMN',N'VTTYPE'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTTYPE'
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDTRANSACTIONMASTERFACTOR_BONDTRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONMASTERFACTOR]'))
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [FK_BONDTRANSACTIONMASTERFACTOR_BONDTRANSACTIONMASTER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDTRANSACTIONDETAIL_BONDTRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONDETAIL]'))
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [FK_BONDTRANSACTIONDETAIL_BONDTRANSACTIONMASTER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDREMKRS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDREMKRS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDATE1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDATE1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_PRCSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_PRCSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_DISPSTATUS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_DISPSTATUS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_LMUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_LMUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_CUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_CUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_INVDID1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_INVDID1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_INSREDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_INSREDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_INSRSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_INSRSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_STRGEDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_STRGEDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_STRGSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_STRGSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDBINSAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDBINSAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDBDTYAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDBDTYAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDBCFAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDBCFAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDBSPC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDBSPC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDINSAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDINSAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDDTYAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDDTYAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDASSAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDASSAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDSPC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDSPC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDNOP]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDNOP]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDCONTRS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDCONTRS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_CTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_CTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_PRDTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_PRDTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_CONTRSID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_CONTRSID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_TYPEID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_TYPEID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_BNDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_BNDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDBEDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDBEDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDBENO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDBENO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_CHAID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_CHAID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_IMPRTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_IMPRTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EDBNDNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EDBNDNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_EBNDNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_EBNDNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_SDPTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_SDPTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EXBONDMASTER_COMPYID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EXBONDMASTER] DROP CONSTRAINT [DF_EXBONDMASTER_COMPYID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTAREA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTAREA]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_EBNDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_EBNDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_PRCSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRCSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_DISPSTATUS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DISPSTATUS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_LMUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_LMUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_CUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_CUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTREMKRS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTREMKRS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTTYPE1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTQTY]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTQTY]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_PRDTDESC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRDTDESC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_DRVNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DRVNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VHLNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VHLNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTDNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTTIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTIME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_SDPTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_SDPTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_COMPYID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_COMPYID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_DEDVALUE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDVALUE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_DORDRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DORDRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_CFOPTN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_CFOPTN]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_DEDORDR]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDORDR]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_DEDTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_DEDMODE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDMODE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_DEDNOS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDNOS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_DEDEXPRN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDEXPRN]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_CFID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_CFID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTERFACTOR_TRANMID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_TRANMID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_BCATEAID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_BCATEAID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANPLAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPLAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANPLAMT2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPLAMT2]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANPLAMT3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPLAMT3]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_QRCODEPATH]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_QRCODEPATH]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_ACKDT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_ACKDT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_ACKNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_ACKNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_IRNNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_IRNNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANPTAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPTAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANNAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANNAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANGSTNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANGSTNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_BILLREFID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_BILLREFID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANREFNAME_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNAME_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_PRCSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_PRCSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_DISPSTATUS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_DISPSTATUS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_LMUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_LMUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_CUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_CUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANPCOUNT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPCOUNT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANRMKS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANRMKS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANLMDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANLMDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANLMNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANLMNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANLMID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANLMID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANAMTWRDS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANAMTWRDS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANNAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANNAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANHAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANHAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANCAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANCAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANSAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANSAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANGAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANGAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANROAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANROAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANGAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANGAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANREFNAME1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNAME1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANDATE1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANDATE1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANREFNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANMODEDETL]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANMODEDETL]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANMODE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANMODE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANCHANAME1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANCHANAME1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANREFNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_IMPRTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_IMPRTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANREFID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANDNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANDNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANTIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANTIME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_TRANBTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANBTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_REGSTRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_REGSTRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_SDPTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_SDPTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONMASTER_COMPYID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] DROP CONSTRAINT [DF_BONDTRANSACTIONMASTER_COMPYID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT2]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT3]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT4]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT5]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT6]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT7]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT8]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPTAMT9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT9]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDPLAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPLAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDNAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDNAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_VTDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_VTDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_RCOLDESC11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC11]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_RCOLDESC12]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC12]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_RCOLDESC13]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC13]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_RCOLDESC1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_DISPSTATUS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_DISPSTATUS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDAID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDAID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDNAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDNAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDHAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDHAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDCAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDSAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDSAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDGAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDGAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT2]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT3]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDWGHT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDWGHT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDRATE_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDRATE_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDNOP]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDNOP]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDQTY]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDQTY]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANEDATE1_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANEDATE1_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANEDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANEDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANFDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANFDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANEDATE1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANEDATE1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANOTYPE1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANOTYPE1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANOTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANOTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANYTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANYTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_YRDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_YRDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_CONTNRSID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_CONTNRSID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_SLABTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_SLABTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TARIFFMID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TARIFFMID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDREFNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDREFNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDEBNDNO1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDEBNDNO1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_BILLEDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_BILLEDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANDREFID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDREFID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDTRANSACTIONDETAIL_TRANMID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] DROP CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANMID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBLDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBLDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBEDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBEDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_PRCSDATE_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_PRCSDATE_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_DISPSTATUS_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_DISPSTATUS_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_LMUSRID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_LMUSRID_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_CUSRID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_CUSRID_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_INSREDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_INSREDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_INSRSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_INSRSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_STRGEDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_STRGEDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_STRGSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_STRGSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDHAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDHAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBSPC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBSPC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBNOP]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBNOP]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDSPC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDSPC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDNOP]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDNOP]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_PRDTTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_PRDTTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_PRDTDESC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_PRDTDESC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_PRDTGID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_PRDTGID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBINSAMT_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBINSAMT_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBDTYAMT_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBDTYAMT_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBCIFAMT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBCIFAMT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDINSAMT_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDINSAMT_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDDTYAMT_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDDTYAMT_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDCIFAMT_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDCIFAMT_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDGWGHT_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDGWGHT_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BND40_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BND40_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BND20_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BND20_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDLINENO_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDLINENO_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDIGMNO_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDIGMNO_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBLNO_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBLNO_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDBENO_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDBENO_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_TYPEID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_TYPEID_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_YRDID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_YRDID_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_CHAID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_CHAID_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_IMPRTID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_IMPRTID_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDADATE_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDADATE_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDTDATE_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDTDATE_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDFDATE_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDFDATE_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDDATE_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDDATE_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDDNO_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDDNO_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_BNDNO_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_BNDNO_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_SDPTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_SDPTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDMASTER_COMPYID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDMASTER] DROP CONSTRAINT [DF_BONDMASTER_COMPYID_1]
END
GO
/****** Object:  Table [dbo].[EXBONDMASTER]    Script Date: 20-10-2022 11:04:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXBONDMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[EXBONDMASTER]
GO
/****** Object:  Table [dbo].[BONDVEHICLETICKETDETAIL]    Script Date: 20-10-2022 11:04:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDVEHICLETICKETDETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[BONDVEHICLETICKETDETAIL]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTERFACTOR]    Script Date: 20-10-2022 11:04:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONMASTERFACTOR]') AND type in (N'U'))
DROP TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTER]    Script Date: 20-10-2022 11:04:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDTRANSACTIONMASTER]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONDETAIL]    Script Date: 20-10-2022 11:04:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONDETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[BONDTRANSACTIONDETAIL]
GO
/****** Object:  Table [dbo].[BONDMASTER]    Script Date: 20-10-2022 11:04:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDMASTER]
GO
/****** Object:  Table [dbo].[BONDMASTER]    Script Date: 20-10-2022 11:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDMASTER](
	[BNDID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NULL,
	[SDPTID] [int] NULL,
	[BNDNO] [int] NULL,
	[BNDDNO] [varchar](50) NULL,
	[BNDDATE] [smalldatetime] NULL,
	[BNDFDATE] [smalldatetime] NULL,
	[BNDTDATE] [smalldatetime] NULL,
	[BNDADATE] [smalldatetime] NULL,
	[IMPRTID] [int] NULL,
	[CHAID] [int] NULL,
	[YRDID] [int] NULL,
	[TYPEID] [smallint] NULL,
	[BNDBENO] [varchar](50) NULL,
	[BNDBLNO] [varchar](50) NULL,
	[BNDIGMNO] [varchar](50) NULL,
	[BNDLINENO] [varchar](50) NULL,
	[BND20] [int] NULL,
	[BND40] [int] NULL,
	[BNDGWGHT] [numeric](18, 3) NULL,
	[BNDCIFAMT] [numeric](18, 2) NULL,
	[BNDDTYAMT] [numeric](18, 2) NULL,
	[BNDINSAMT] [numeric](18, 2) NULL,
	[BNDBCIFAMT] [numeric](18, 2) NULL,
	[BNDBDTYAMT] [numeric](18, 2) NULL,
	[BNDBINSAMT] [numeric](18, 2) NULL,
	[GWNID] [int] NULL,
	[PRDTGID] [int] NULL,
	[PRDTDESC] [varchar](100) NOT NULL,
	[PRDTTID] [int] NULL,
	[BNDNOP] [numeric](18, 2) NULL,
	[BNDSPC] [numeric](18, 2) NULL,
	[BNDBNOP] [int] NULL,
	[BNDBSPC] [numeric](18, 2) NULL,
	[BNDHAMT] [numeric](18, 2) NULL,
	[STRGSDATE] [smalldatetime] NULL,
	[STRGEDATE] [smalldatetime] NULL,
	[INSRSDATE] [smalldatetime] NULL,
	[INSREDATE] [smalldatetime] NULL,
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [smalldatetime] NULL,
	[BNDBEDATE] [smalldatetime] NULL,
	[BNDBLDATE] [smalldatetime] NULL,
	[BNDTYPE] [smallint] NOT NULL,
 CONSTRAINT [PK_BONDMASTER_1] PRIMARY KEY CLUSTERED 
(
	[BNDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONDETAIL]    Script Date: 20-10-2022 11:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDTRANSACTIONDETAIL](
	[TRANDID] [int] IDENTITY(1,1) NOT NULL,
	[TRANMID] [int] NOT NULL,
	[BNDID] [int] NOT NULL,
	[EBNDID] [int] NOT NULL,
	[TRANDBNDNO] [varchar](20) NOT NULL,
	[TRANDEBNDNO] [varchar](20) NOT NULL,
	[TARIFFMID] [int] NOT NULL,
	[SLABTID] [int] NOT NULL,
	[CONTNRSID] [int] NOT NULL,
	[YRDID] [int] NOT NULL,
	[TRANCTYPE] [smallint] NULL,
	[TRANOTYPE] [smallint] NULL,
	[TRANHTYPE] [smallint] NULL,
	[TRANCDATE] [smalldatetime] NULL,
	[TRANSFDATE] [smalldatetime] NULL,
	[TRANSEDATE] [smalldatetime] NULL,
	[TRANIFDATE] [smalldatetime] NULL,
	[TRANIEDATE] [smalldatetime] NULL,
	[TRANDQTY] [numeric](18, 2) NOT NULL,
	[TRANDNOP] [numeric](18, 2) NULL,
	[TRANDRATE] [numeric](18, 2) NOT NULL,
	[TRANDWGHT] [numeric](18, 3) NULL,
	[TRANDCIFAMT] [numeric](18, 2) NULL,
	[TRANDDTYAMT] [numeric](18, 2) NULL,
	[TRANDINSAMT] [numeric](18, 2) NULL,
	[TRANDEIAMT] [numeric](18, 2) NULL,
	[TRANDGAMT] [numeric](18, 2) NOT NULL,
	[TRANDSAMT] [numeric](18, 2) NULL,
	[TRANDHAMT] [numeric](18, 2) NULL,
	[TRANDIAMT] [numeric](18, 2) NULL,
	[TRANDNAMT] [numeric](18, 2) NOT NULL,
	[TRANDAID] [int] NOT NULL,
	[DISPSTATUS] [smallint] NOT NULL,
	[RCOLDESC1] [varchar](100) NULL,
	[RCOLDESC2] [varchar](100) NULL,
	[RCOLDESC3] [varchar](100) NULL,
	[RCOLDESC4] [varchar](100) NULL,
	[VTDID] [int] NULL,
	[TRANDPLAMT] [numeric](18, 2) NOT NULL,
	[TRANDPTAMT] [numeric](18, 2) NOT NULL,
	[TRAND_CGST_EXPRN] [numeric](18, 2) NOT NULL,
	[TRAND_SGST_EXPRN] [numeric](18, 2) NOT NULL,
	[TRAND_IGST_EXPRN] [numeric](18, 2) NOT NULL,
	[TRAND_CGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAND_SGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAND_IGST_AMT] [numeric](18, 2) NOT NULL,
	[INS_TRAND_CGST_AMT] [numeric](18, 2) NOT NULL,
	[INS_TRAND_SGST_AMT] [numeric](18, 2) NOT NULL,
	[INS_TRAND_IGST_AMT] [numeric](18, 2) NOT NULL,
	[PERIODTID] [int] NULL,
	[TRAND_HSN_CODE] [varchar](50) NULL,
	[INS_TRAND_HSN_CODE] [varchar](50) NULL,
	[TRAND_TAXABLE_AMT] [numeric](18, 2) NULL,
	[INS_TRAND_TAXABLE_AMT] [numeric](18, 2) NULL,
	[STATETYPE] [int] NULL,
 CONSTRAINT [PK_BONDTRANSACTIONDETAIL] PRIMARY KEY CLUSTERED 
(
	[TRANDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTER]    Script Date: 20-10-2022 11:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDTRANSACTIONMASTER](
	[TRANMID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NOT NULL,
	[SDPTID] [int] NOT NULL,
	[REGSTRID] [int] NOT NULL,
	[TRANBTYPE] [smallint] NOT NULL,
	[TRANDATE] [smalldatetime] NOT NULL,
	[TRANTIME] [datetime] NOT NULL,
	[TRANNO] [int] NOT NULL,
	[TRANDNO] [varchar](50) NOT NULL,
	[CHAID] [int] NOT NULL,
	[IMPRTID] [int] NOT NULL,
	[TRANCHANAME] [varchar](100) NOT NULL,
	[TRANIMPRTNAME] [varchar](100) NOT NULL,
	[TRANTID] [numeric](18, 0) NOT NULL,
	[BANKMID] [int] NULL,
	[TRANMODE] [smallint] NOT NULL,
	[TRANMODEDETL] [varchar](150) NULL,
	[TRANREFNO] [varchar](25) NULL,
	[TRANREFDATE] [smalldatetime] NULL,
	[TRANREFBNAME] [varchar](100) NULL,
	[TRANREFAMT] [numeric](18, 2) NULL,
	[TRANROAMT] [numeric](18, 2) NOT NULL,
	[TRANGAMT] [numeric](18, 2) NULL,
	[TRANSAMT] [numeric](18, 2) NULL,
	[TRANHAMT] [numeric](18, 2) NULL,
	[TRANIAMT] [numeric](18, 2) NULL,
	[TRANNAMT] [numeric](18, 2) NOT NULL,
	[TRANAMTWRDS] [varchar](250) NULL,
	[TRANLMID] [int] NOT NULL,
	[TRANLMNO] [varchar](50) NULL,
	[TRANLMDATE] [smalldatetime] NULL,
	[TRANNARTN] [varchar](250) NULL,
	[TRANRMKS] [varchar](250) NULL,
	[TRANPCOUNT] [int] NULL,
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [datetime] NULL,
	[TRANREFNAME] [varchar](100) NULL,
	[BILLREFID] [int] NOT NULL,
	[TRANGSTNO] [varchar](50) NULL,
	[TRANPTAMT] [numeric](18, 2) NOT NULL,
	[TRANPLAMT] [numeric](18, 2) NOT NULL,
	[IRNNO] [varchar](100) NULL,
	[ACKNO] [varchar](100) NULL,
	[ACKDT] [datetime] NULL,
	[QRCODEPATH] [varchar](max) NULL,
	[TRAN_CGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAN_SGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAN_IGST_AMT] [numeric](18, 2) NOT NULL,
	[BCATEAID] [int] NOT NULL,
	[TRAN_TAXABLE_AMT] [numeric](18, 2) NULL,
	[TRANBILLREFNO] [varchar](50) NULL,
 CONSTRAINT [PK_BONDTRANSACTIONMASTER] PRIMARY KEY CLUSTERED 
(
	[TRANMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTERFACTOR]    Script Date: 20-10-2022 11:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR](
	[TRANMFID] [int] IDENTITY(1,1) NOT NULL,
	[TRANMID] [int] NULL,
	[CFID] [int] NULL,
	[DEDEXPRN] [numeric](18, 2) NULL,
	[DEDNOS] [numeric](18, 2) NULL,
	[DEDMODE] [varchar](50) NULL,
	[DEDTYPE] [int] NULL,
	[DEDORDR] [int] NULL,
	[CFOPTN] [smallint] NULL,
	[DORDRID] [smallint] NULL,
	[DEDVALUE] [numeric](18, 2) NULL,
 CONSTRAINT [PK_BONDTRANSACTIONMASTERFACTOR] PRIMARY KEY CLUSTERED 
(
	[TRANMFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDVEHICLETICKETDETAIL]    Script Date: 20-10-2022 11:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDVEHICLETICKETDETAIL](
	[VTDID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NOT NULL,
	[SDPTID] [int] NOT NULL,
	[VTDATE] [smalldatetime] NOT NULL,
	[VTTIME] [datetime] NOT NULL,
	[VTNO] [int] NOT NULL,
	[VTDNO] [varchar](15) NOT NULL,
	[VHLNO] [varchar](15) NULL,
	[DRVNAME] [varchar](100) NULL,
	[VTDESC] [varchar](100) NULL,
	[VTQTY] [numeric](18, 2) NULL,
	[VTTYPE] [int] NULL,
	[VTSTYPE] [int] NULL,
	[VTREMRKS] [varchar](100) NULL,
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [datetime] NULL,
	[EBNDID] [int] NOT NULL,
	[VTAREA] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_BONDVEHICLETICKETDETAIL] PRIMARY KEY CLUSTERED 
(
	[VTDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXBONDMASTER]    Script Date: 20-10-2022 11:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXBONDMASTER](
	[EBNDID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NULL,
	[SDPTID] [int] NULL,
	[EBNDNO] [int] NULL,
	[EBNDDNO] [varchar](50) NULL,
	[EBNDDATE] [smalldatetime] NULL,
	[IMPRTID] [int] NULL,
	[CHAID] [int] NULL,
	[EBNDBENO] [varchar](50) NULL,
	[EBNDBEDATE] [smalldatetime] NULL,
	[BNDID] [int] NULL,
	[TYPEID] [smallint] NULL,
	[CONTNRSID] [int] NULL,
	[PRDTGID] [int] NULL,
	[EBNDCTYPE] [smallint] NULL,
	[EBNDNOC] [int] NULL,
	[EBNDNOP] [numeric](18, 2) NULL,
	[EBNDSPC] [numeric](18, 2) NULL,
	[EBNDASSAMT] [numeric](18, 2) NULL,
	[EBNDDTYAMT] [numeric](18, 2) NULL,
	[EBNDINSAMT] [numeric](18, 2) NULL,
	[EBNDBSPC] [numeric](18, 2) NULL,
	[EBNDBCFAMT] [numeric](18, 2) NULL,
	[EBNDBDTYAMT] [numeric](18, 2) NULL,
	[EBNDDBINSAMT] [numeric](18, 2) NULL,
	[STRGSDATE] [smalldatetime] NULL,
	[STRGEDATE] [smalldatetime] NULL,
	[INSRSDATE] [smalldatetime] NULL,
	[INSREDATE] [smalldatetime] NULL,
	[INVDID] [int] NULL,
	[CUSRID] [varchar](50) NULL,
	[LMUSRID] [varchar](50) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [smalldatetime] NULL,
	[EBNDEDATE] [smalldatetime] NULL,
	[EBNDREMKRS] [varchar](100) NULL,
 CONSTRAINT [PK_EXBONDMASTER] PRIMARY KEY CLUSTERED 
(
	[EBNDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_COMPYID_1]  DEFAULT ((0)) FOR [COMPYID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_SDPTID]  DEFAULT ((0)) FOR [SDPTID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDNO_1]  DEFAULT ((0)) FOR [BNDNO]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDDNO_1]  DEFAULT (NULL) FOR [BNDDNO]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDDATE_1]  DEFAULT (NULL) FOR [BNDDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDFDATE_1]  DEFAULT (NULL) FOR [BNDFDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDTDATE_1]  DEFAULT (NULL) FOR [BNDTDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDADATE_1]  DEFAULT (NULL) FOR [BNDADATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_IMPRTID_1]  DEFAULT ((0)) FOR [IMPRTID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_CHAID_1]  DEFAULT ((0)) FOR [CHAID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_YRDID_1]  DEFAULT ((0)) FOR [YRDID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_TYPEID_1]  DEFAULT ((0)) FOR [TYPEID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBENO_1]  DEFAULT (NULL) FOR [BNDBENO]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBLNO_1]  DEFAULT (NULL) FOR [BNDBLNO]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDIGMNO_1]  DEFAULT (NULL) FOR [BNDIGMNO]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDLINENO_1]  DEFAULT (NULL) FOR [BNDLINENO]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BND20_1]  DEFAULT ((0)) FOR [BND20]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BND40_1]  DEFAULT ((0)) FOR [BND40]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDGWGHT_1]  DEFAULT ((0)) FOR [BNDGWGHT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDCIFAMT_1]  DEFAULT ((0)) FOR [BNDCIFAMT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDDTYAMT_1]  DEFAULT ((0)) FOR [BNDDTYAMT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDINSAMT_1]  DEFAULT ((0)) FOR [BNDINSAMT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBCIFAMT]  DEFAULT ((0)) FOR [BNDBCIFAMT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBDTYAMT_1]  DEFAULT ((0)) FOR [BNDBDTYAMT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBINSAMT_1]  DEFAULT ((0)) FOR [BNDBINSAMT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_PRDTGID]  DEFAULT ((0)) FOR [PRDTGID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_PRDTDESC]  DEFAULT (NULL) FOR [PRDTDESC]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_PRDTTID]  DEFAULT ((0)) FOR [PRDTTID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDNOP]  DEFAULT ((0)) FOR [BNDNOP]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDSPC]  DEFAULT ((0)) FOR [BNDSPC]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBNOP]  DEFAULT ((0)) FOR [BNDBNOP]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBSPC]  DEFAULT ((0)) FOR [BNDBSPC]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDHAMT]  DEFAULT ((0)) FOR [BNDHAMT]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_STRGSDATE]  DEFAULT (NULL) FOR [STRGSDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_STRGEDATE]  DEFAULT (NULL) FOR [STRGEDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_INSRSDATE]  DEFAULT (NULL) FOR [INSRSDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_INSREDATE]  DEFAULT (NULL) FOR [INSREDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_CUSRID_1]  DEFAULT ((0)) FOR [CUSRID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_LMUSRID_1]  DEFAULT ((0)) FOR [LMUSRID]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_DISPSTATUS_1]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_PRCSDATE_1]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBEDATE]  DEFAULT (NULL) FOR [BNDBEDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDBLDATE]  DEFAULT (NULL) FOR [BNDBLDATE]
GO
ALTER TABLE [dbo].[BONDMASTER] ADD  CONSTRAINT [DF_BONDMASTER_BNDTYPE]  DEFAULT ((0)) FOR [BNDTYPE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANMID]  DEFAULT ((0)) FOR [TRANMID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDREFID]  DEFAULT ((0)) FOR [BNDID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_BILLEDID]  DEFAULT ((0)) FOR [EBNDID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDEBNDNO1]  DEFAULT (NULL) FOR [TRANDBNDNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDREFNO]  DEFAULT (NULL) FOR [TRANDEBNDNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TARIFFMID]  DEFAULT ((0)) FOR [TARIFFMID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_SLABTID]  DEFAULT ((0)) FOR [SLABTID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_CONTNRSID]  DEFAULT ((0)) FOR [CONTNRSID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_YRDID]  DEFAULT ((0)) FOR [YRDID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANYTYPE]  DEFAULT ((0)) FOR [TRANCTYPE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANOTYPE]  DEFAULT ((0)) FOR [TRANOTYPE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANOTYPE1]  DEFAULT ((0)) FOR [TRANHTYPE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANEDATE1]  DEFAULT (NULL) FOR [TRANCDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANFDATE]  DEFAULT (NULL) FOR [TRANSFDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANSDATE]  DEFAULT (NULL) FOR [TRANSEDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANEDATE]  DEFAULT (NULL) FOR [TRANIFDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANEDATE1_1]  DEFAULT (NULL) FOR [TRANIEDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDQTY]  DEFAULT ((0)) FOR [TRANDQTY]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDNOP]  DEFAULT ((0)) FOR [TRANDNOP]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDRATE_1]  DEFAULT ((0)) FOR [TRANDRATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDWGHT]  DEFAULT ((0)) FOR [TRANDWGHT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT]  DEFAULT ((0)) FOR [TRANDCIFAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT3]  DEFAULT ((0)) FOR [TRANDDTYAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT2]  DEFAULT ((0)) FOR [TRANDINSAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCIFAMT1]  DEFAULT ((0)) FOR [TRANDEIAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDGAMT]  DEFAULT ((0)) FOR [TRANDGAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDSAMT]  DEFAULT ((0)) FOR [TRANDSAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDCAMT]  DEFAULT ((0)) FOR [TRANDHAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDHAMT1]  DEFAULT ((0)) FOR [TRANDIAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDNAMT]  DEFAULT ((0)) FOR [TRANDNAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDAID]  DEFAULT ((0)) FOR [TRANDAID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC1]  DEFAULT (NULL) FOR [RCOLDESC1]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC13]  DEFAULT (NULL) FOR [RCOLDESC2]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC12]  DEFAULT (NULL) FOR [RCOLDESC3]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_RCOLDESC11]  DEFAULT (NULL) FOR [RCOLDESC4]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_VTDID]  DEFAULT ((0)) FOR [VTDID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDNAMT1]  DEFAULT ((0)) FOR [TRANDPLAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPLAMT1]  DEFAULT ((0)) FOR [TRANDPTAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT9]  DEFAULT ((0)) FOR [TRAND_CGST_EXPRN]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT8]  DEFAULT ((0)) FOR [TRAND_SGST_EXPRN]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT7]  DEFAULT ((0)) FOR [TRAND_IGST_EXPRN]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT6]  DEFAULT ((0)) FOR [TRAND_CGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT5]  DEFAULT ((0)) FOR [TRAND_SGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT4]  DEFAULT ((0)) FOR [TRAND_IGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT3]  DEFAULT ((0)) FOR [INS_TRAND_CGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT2]  DEFAULT ((0)) FOR [INS_TRAND_SGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] ADD  CONSTRAINT [DF_BONDTRANSACTIONDETAIL_TRANDPTAMT1]  DEFAULT ((0)) FOR [INS_TRAND_IGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_COMPYID]  DEFAULT ((0)) FOR [COMPYID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_SDPTID]  DEFAULT ((0)) FOR [SDPTID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_REGSTRID]  DEFAULT ((0)) FOR [REGSTRID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANBTYPE]  DEFAULT ((0)) FOR [TRANBTYPE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANDATE]  DEFAULT (NULL) FOR [TRANDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANTIME]  DEFAULT (NULL) FOR [TRANTIME]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANNO]  DEFAULT ((0)) FOR [TRANNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANDNO]  DEFAULT (NULL) FOR [TRANDNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFID]  DEFAULT ((0)) FOR [CHAID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_IMPRTID]  DEFAULT ((0)) FOR [IMPRTID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNAME]  DEFAULT (NULL) FOR [TRANCHANAME]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANCHANAME1]  DEFAULT (NULL) FOR [TRANIMPRTNAME]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANTID]  DEFAULT ((0)) FOR [TRANTID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANMODE]  DEFAULT ((0)) FOR [TRANMODE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANMODEDETL]  DEFAULT (NULL) FOR [TRANMODEDETL]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNO]  DEFAULT (NULL) FOR [TRANREFNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANDATE1]  DEFAULT (NULL) FOR [TRANREFDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNAME1]  DEFAULT (NULL) FOR [TRANREFBNAME]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANGAMT1]  DEFAULT ((0)) FOR [TRANREFAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANROAMT]  DEFAULT ((0)) FOR [TRANROAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANGAMT]  DEFAULT ((0)) FOR [TRANGAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANSAMT]  DEFAULT ((0)) FOR [TRANSAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANCAMT]  DEFAULT ((0)) FOR [TRANHAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANHAMT1]  DEFAULT ((0)) FOR [TRANIAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANNAMT]  DEFAULT ((0)) FOR [TRANNAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANAMTWRDS]  DEFAULT (NULL) FOR [TRANAMTWRDS]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANLMID]  DEFAULT ((0)) FOR [TRANLMID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANLMNO]  DEFAULT (NULL) FOR [TRANLMNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANLMDATE]  DEFAULT (NULL) FOR [TRANLMDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANRMKS]  DEFAULT (NULL) FOR [TRANRMKS]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPCOUNT]  DEFAULT ((0)) FOR [TRANPCOUNT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_CUSRID]  DEFAULT ('') FOR [CUSRID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_LMUSRID]  DEFAULT ('') FOR [LMUSRID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANREFNAME_1]  DEFAULT (NULL) FOR [TRANREFNAME]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_BILLREFID]  DEFAULT ((0)) FOR [BILLREFID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANGSTNO]  DEFAULT (NULL) FOR [TRANGSTNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANNAMT1]  DEFAULT ((0)) FOR [TRANPTAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPTAMT1]  DEFAULT ((0)) FOR [TRANPLAMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_IRNNO]  DEFAULT (NULL) FOR [IRNNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_ACKNO]  DEFAULT (NULL) FOR [ACKNO]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_ACKDT]  DEFAULT (NULL) FOR [ACKDT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_QRCODEPATH]  DEFAULT (NULL) FOR [QRCODEPATH]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPLAMT3]  DEFAULT ((0)) FOR [TRAN_CGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPLAMT2]  DEFAULT ((0)) FOR [TRAN_SGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_TRANPLAMT1]  DEFAULT ((0)) FOR [TRAN_IGST_AMT]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTER] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTER_BCATEAID]  DEFAULT ((0)) FOR [BCATEAID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_TRANMID]  DEFAULT ((0)) FOR [TRANMID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_CFID]  DEFAULT ((0)) FOR [CFID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDEXPRN]  DEFAULT ((0)) FOR [DEDEXPRN]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDNOS]  DEFAULT ((0)) FOR [DEDNOS]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDMODE]  DEFAULT (NULL) FOR [DEDMODE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDTYPE]  DEFAULT ((0)) FOR [DEDTYPE]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDORDR]  DEFAULT ((0)) FOR [DEDORDR]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_CFOPTN]  DEFAULT ((0)) FOR [CFOPTN]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DORDRID]  DEFAULT ((0)) FOR [DORDRID]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDTRANSACTIONMASTERFACTOR_DEDVALUE]  DEFAULT ((0)) FOR [DEDVALUE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_COMPYID]  DEFAULT ((0)) FOR [COMPYID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_SDPTID]  DEFAULT ((0)) FOR [SDPTID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDATE]  DEFAULT (NULL) FOR [VTDATE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTIME]  DEFAULT (NULL) FOR [VTTIME]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTNO]  DEFAULT ((0)) FOR [VTNO]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDNO]  DEFAULT (NULL) FOR [VTDNO]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VHLNO]  DEFAULT (NULL) FOR [VHLNO]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DRVNAME]  DEFAULT (NULL) FOR [DRVNAME]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRDTDESC]  DEFAULT (NULL) FOR [VTDESC]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTQTY]  DEFAULT ((0)) FOR [VTQTY]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE]  DEFAULT ((0)) FOR [VTTYPE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE1]  DEFAULT ((0)) FOR [VTSTYPE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTREMKRS]  DEFAULT (NULL) FOR [VTREMRKS]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_CUSRID]  DEFAULT (NULL) FOR [CUSRID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_LMUSRID]  DEFAULT (NULL) FOR [LMUSRID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_EBNDID]  DEFAULT ((0)) FOR [EBNDID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTAREA]  DEFAULT ((0)) FOR [VTAREA]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_COMPYID]  DEFAULT ((0)) FOR [COMPYID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_SDPTID]  DEFAULT ((0)) FOR [SDPTID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDNO]  DEFAULT ((0)) FOR [EBNDNO]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EDBNDNO]  DEFAULT (NULL) FOR [EBNDDNO]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDATE]  DEFAULT (NULL) FOR [EBNDDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_IMPRTID]  DEFAULT ((0)) FOR [IMPRTID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_CHAID]  DEFAULT ((0)) FOR [CHAID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDBENO]  DEFAULT (NULL) FOR [EBNDBENO]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDBEDATE]  DEFAULT (NULL) FOR [EBNDBEDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_BNDID]  DEFAULT ((0)) FOR [BNDID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_TYPEID]  DEFAULT ((0)) FOR [TYPEID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_CONTRSID]  DEFAULT ((0)) FOR [CONTNRSID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_PRDTID]  DEFAULT ((0)) FOR [PRDTGID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_CTYPE]  DEFAULT ((0)) FOR [EBNDCTYPE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDCONTRS]  DEFAULT ((0)) FOR [EBNDNOC]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDNOP]  DEFAULT ((0)) FOR [EBNDNOP]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDSPC]  DEFAULT ((0)) FOR [EBNDSPC]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDASSAMT]  DEFAULT ((0)) FOR [EBNDASSAMT]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDDTYAMT]  DEFAULT ((0)) FOR [EBNDDTYAMT]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDINSAMT]  DEFAULT ((0)) FOR [EBNDINSAMT]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDBSPC]  DEFAULT ((0)) FOR [EBNDBSPC]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDBCFAMT]  DEFAULT ((0)) FOR [EBNDBCFAMT]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDBDTYAMT]  DEFAULT ((0)) FOR [EBNDBDTYAMT]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDBINSAMT]  DEFAULT ((0)) FOR [EBNDDBINSAMT]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_STRGSDATE]  DEFAULT (NULL) FOR [STRGSDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_STRGEDATE]  DEFAULT (NULL) FOR [STRGEDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_INSRSDATE]  DEFAULT (NULL) FOR [INSRSDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_INSREDATE]  DEFAULT (NULL) FOR [INSREDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_INVDID1]  DEFAULT ((0)) FOR [INVDID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_CUSRID]  DEFAULT ('') FOR [CUSRID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_LMUSRID]  DEFAULT ('') FOR [LMUSRID]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDDATE1]  DEFAULT (NULL) FOR [EBNDEDATE]
GO
ALTER TABLE [dbo].[EXBONDMASTER] ADD  CONSTRAINT [DF_EXBONDMASTER_EBNDREMKRS]  DEFAULT (NULL) FOR [EBNDREMKRS]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_BONDTRANSACTIONDETAIL_BONDTRANSACTIONMASTER] FOREIGN KEY([TRANMID])
REFERENCES [dbo].[BONDTRANSACTIONMASTER] ([TRANMID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BONDTRANSACTIONDETAIL] CHECK CONSTRAINT [FK_BONDTRANSACTIONDETAIL_BONDTRANSACTIONMASTER]
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR]  WITH NOCHECK ADD  CONSTRAINT [FK_BONDTRANSACTIONMASTERFACTOR_BONDTRANSACTIONMASTER] FOREIGN KEY([TRANMID])
REFERENCES [dbo].[BONDTRANSACTIONMASTER] ([TRANMID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR] CHECK CONSTRAINT [FK_BONDTRANSACTIONMASTERFACTOR_BONDTRANSACTIONMASTER]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 - LOAD, 2 - DESTUFF' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTTYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 - PART LOAD, 1 - FULL LOAD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTSTYPE'
GO
