USE [SCFS_ERP]
GO
/****** Object:  Table [dbo].[BONDPRODUCTGROUPMASTER]    Script Date: 27/09/2022 14:30:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPRODUCTGROUPMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDPRODUCTGROUPMASTER]
GO
/****** Object:  Table [dbo].[BONDPRODUCTGROUPMASTER]    Script Date: 27/09/2022 14:30:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPRODUCTGROUPMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDPRODUCTGROUPMASTER](
	[PRDTGID] [int] NOT NULL IDENTITY(1,1),
	[PRDTGDESC] [varchar](50) NOT NULL CONSTRAINT [DF_BONDPRODUCTGROUPMASTER_PRDTGDESC]  DEFAULT (null),
	[PRDTGCODE] [varchar](15) NOT NULL CONSTRAINT [DF_BONDPRODUCTGROUPMASTER_PRDTGCODE]  DEFAULT (null),
	[CUSRID] varchar(50) NULL CONSTRAINT [DF_BONDPRODUCTGROUPMASTER_CUSRID]  DEFAULT (null),
	[LMUSRID] [int] NULL CONSTRAINT [DF_BONDPRODUCTGROUPMASTER_LMUSRID]  DEFAULT (0),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_BONDPRODUCTGROUPMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [datetime] NULL CONSTRAINT [DF_BONDPRODUCTGROUPMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDPRODUCTGROUPMASTER] PRIMARY KEY CLUSTERED 
(
	[PRDTGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [BONDPRODUCTGROUPMASTER] ON
GO
INSERT [dbo].[BONDPRODUCTGROUPMASTER] ([PRDTGID], [PRDTGDESC], [PRDTGCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'Of all PRODUCTs….!', N'all', 1, 1, 1, CAST(N'2006-02-07 00:00:00.000' AS DateTime))
INSERT [dbo].[BONDPRODUCTGROUPMASTER] ([PRDTGID], [PRDTGDESC], [PRDTGCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'STEEL TUBES', N'3044', 1, 1, 0, CAST(N'2011-12-02 11:29:00.000' AS DateTime))
INSERT [dbo].[BONDPRODUCTGROUPMASTER] ([PRDTGID], [PRDTGDESC], [PRDTGCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'SLATE STONE', N'3045', 1, 1, 0, CAST(N'2011-12-02 11:29:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [BONDPRODUCTGROUPMASTER] OFF
GO