USE [SCFS_ERP]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BONDVEHICLETICKETDETAIL', N'COLUMN',N'VTSTYPE'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTSTYPE'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BONDVEHICLETICKETDETAIL', N'COLUMN',N'VTTYPE'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTTYPE'
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTAREA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTAREA]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_EBNDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_EBNDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_PRCSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRCSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_DISPSTATUS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DISPSTATUS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_LMUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_LMUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_CUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_CUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTREMKRS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTREMKRS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTTYPE1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTQTY]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTQTY]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_PRDTDESC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRDTDESC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_DRVNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DRVNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VHLNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VHLNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTDNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTTIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTIME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_VTDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_SDPTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_SDPTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDVEHICLETICKETDETAIL_COMPYID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] DROP CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_COMPYID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_PRCSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_PRCSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_DISPSTATUS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_DISPSTATUS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_LMUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_LMUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_CUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_CUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GOREMRKS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GOREMRKS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_CHAID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_CHAID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GOBTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GOBTYPE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_CHASNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_CHASNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GDRVNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GDRVNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_VHLNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_VHLNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GIDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GIDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GODNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GODNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GONO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GONO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GOTIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GOTIME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_GODATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_GODATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_SDPTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_SDPTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEOUTDETAIL_COMPYID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] DROP CONSTRAINT [DF_BONDGATEOUTDETAIL_COMPYID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_PRCSDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_PRCSDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_DISPSTATUS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_DISPSTATUS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_LMUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_LMUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CUSRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CUSRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GIREMKRS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GIREMKRS]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CONTNRRCVFRMOTH]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRRCVFRMOTH]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Table_1_CONTNRRCVFRM]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_Table_1_CONTNRRCVFRM]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Table_1_BNDID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_Table_1_BNDID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GPCBM]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GPCBM]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GPNOP]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GPNOP]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GPWGHT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GPWGHT]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_UNITID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_UNITID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_PRDTDESC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_PRDTDESC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_PRDTGID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_PRDTGID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GPLNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GPLNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_IGMNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_IGMNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_VOYNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_VOYNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_VSLNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_VSLNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_VSLID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_VSLID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CONTNRNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CONTNRSID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRSID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CONTNRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CONTNRTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CHANAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CHANAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_CHAID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_CHAID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_STMRNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_STMRNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_STMRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_STMRID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_IMPRTNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_IMPRTNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_IMPRTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_IMPRTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_DRVNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_DRVNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_VHLNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_VHLNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_TRNSPRTNAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_TRNSPRTNAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_TRNSPRTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_TRNSPRTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GIDNO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GIDNO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GINO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GINO]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GITIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GITIME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_GIDATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_GIDATE]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_SDPTID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_SDPTID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BONDGATEINDETAIL_COMPYID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDGATEINDETAIL] DROP CONSTRAINT [DF_BONDGATEINDETAIL_COMPYID]
END
GO
/****** Object:  Table [dbo].[BONDVEHICLETICKETDETAIL]    Script Date: 14-10-2022 11:39:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDVEHICLETICKETDETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[BONDVEHICLETICKETDETAIL]
GO
/****** Object:  Table [dbo].[BONDGATEOUTDETAIL]    Script Date: 14-10-2022 11:39:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDGATEOUTDETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[BONDGATEOUTDETAIL]
GO
/****** Object:  Table [dbo].[BONDGATEINDETAIL]    Script Date: 14-10-2022 11:39:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDGATEINDETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[BONDGATEINDETAIL]
GO
/****** Object:  Table [dbo].[BONDGATEINDETAIL]    Script Date: 14-10-2022 11:39:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDGATEINDETAIL](
	[GIDID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NOT NULL,
	[SDPTID] [int] NOT NULL,
	[GIDATE] [smalldatetime] NOT NULL,
	[GITIME] [datetime] NOT NULL,
	[GINO] [int] NOT NULL,
	[GIDNO] [varchar](15) NOT NULL,
	[TRNSPRTID] [int] NOT NULL,
	[TRNSPRTNAME] [varchar](100) NOT NULL,
	[VHLNO] [varchar](15) NOT NULL,
	[DRVNAME] [varchar](100) NOT NULL,
	[IMPRTID] [int] NOT NULL,
	[IMPRTNAME] [varchar](100) NOT NULL,
	[STMRID] [int] NOT NULL,
	[STMRNAME] [varchar](100) NOT NULL,
	[CHAID] [int] NOT NULL,
	[CHANAME] [varchar](100) NOT NULL,
	[CONTNRTID] [int] NOT NULL,
	[CONTNRID] [int] NOT NULL,
	[CONTNRSID] [int] NOT NULL,
	[CONTNRNO] [varchar](15) NOT NULL,
	[VSLID] [int] NOT NULL,
	[VSLNAME] [varchar](100) NOT NULL,
	[VOYNO] [varchar](10) NOT NULL,
	[IGMNO] [varchar](15) NOT NULL,
	[GPLNO] [varchar](15) NULL,
	[PRDTGID] [int] NOT NULL,
	[PRDTDESC] [varchar](100) NOT NULL,
	[UNITID] [int] NOT NULL,
	[GPWGHT] [numeric](18, 4) NULL,
	[GPNOP] [numeric](18, 2) NULL,
	[GPCBM] [numeric](18, 4) NULL,
	[BNDID] [int] NOT NULL,
	[CONTNRRCVFRM] [int] NOT NULL,
	[CONTNRRCVFRMOTH] [varchar](100) NULL,
	[GIREMKRS] [varchar](100) NULL,
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [datetime] NULL,
 CONSTRAINT [PK_BONDGATEINDETAIL] PRIMARY KEY CLUSTERED 
(
	[GIDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDGATEOUTDETAIL]    Script Date: 14-10-2022 11:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDGATEOUTDETAIL](
	[GODID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NOT NULL,
	[SDPTID] [int] NOT NULL,
	[GODATE] [smalldatetime] NOT NULL,
	[GOTIME] [datetime] NOT NULL,
	[GONO] [int] NOT NULL,
	[GODNO] [varchar](15) NOT NULL,
	[GIDID] [int] NULL,
	[VHLNO] [varchar](20) NULL,
	[GDRVNAME] [varchar](50) NULL,
	[CHASNAME] [varchar](50) NULL,
	[GOBTYPE] [smallint] NULL,
	[CHAID] [int] NOT NULL,
	[GOREMRKS] [varchar](100) NULL,
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [datetime] NULL,
 CONSTRAINT [PK_BONDGATEOUTDETAIL] PRIMARY KEY CLUSTERED 
(
	[GODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDVEHICLETICKETDETAIL]    Script Date: 14-10-2022 11:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDVEHICLETICKETDETAIL](
	[VTDID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NOT NULL,
	[SDPTID] [int] NOT NULL,
	[VTDATE] [smalldatetime] NOT NULL,
	[VTTIME] [datetime] NOT NULL,
	[VTNO] [int] NOT NULL,
	[VTDNO] [varchar](15) NOT NULL,
	[VHLNO] [varchar](15) NULL,
	[DRVNAME] [varchar](100) NULL,
	[VTDESC] [varchar](100) NULL,
	[VTQTY] [numeric](18, 2) NULL,
	[VTTYPE] [int] NULL,
	[VTSTYPE] [int] NULL,
	[VTREMRKS] [varchar](100) NULL,
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [datetime] NULL,
	[EBNDID] [int] NOT NULL,
	[VTAREA] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_BONDVEHICLETICKETDETAIL] PRIMARY KEY CLUSTERED 
(
	[VTDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_COMPYID]  DEFAULT ((0)) FOR [COMPYID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_SDPTID]  DEFAULT ((0)) FOR [SDPTID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GIDATE]  DEFAULT (NULL) FOR [GIDATE]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GITIME]  DEFAULT (NULL) FOR [GITIME]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GINO]  DEFAULT ((0)) FOR [GINO]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GIDNO]  DEFAULT (NULL) FOR [GIDNO]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_TRNSPRTID]  DEFAULT ((0)) FOR [TRNSPRTID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_TRNSPRTNAME]  DEFAULT (NULL) FOR [TRNSPRTNAME]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_VHLNO]  DEFAULT (NULL) FOR [VHLNO]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_DRVNAME]  DEFAULT (NULL) FOR [DRVNAME]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_IMPRTID]  DEFAULT ((0)) FOR [IMPRTID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_IMPRTNAME]  DEFAULT (NULL) FOR [IMPRTNAME]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_STMRID]  DEFAULT ((0)) FOR [STMRID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_STMRNAME]  DEFAULT (NULL) FOR [STMRNAME]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CHAID]  DEFAULT ((0)) FOR [CHAID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CHANAME]  DEFAULT (NULL) FOR [CHANAME]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRTID]  DEFAULT ((0)) FOR [CONTNRTID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRID]  DEFAULT ((0)) FOR [CONTNRID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRSID]  DEFAULT ((0)) FOR [CONTNRSID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRNO]  DEFAULT (NULL) FOR [CONTNRNO]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_VSLID]  DEFAULT ((0)) FOR [VSLID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_VSLNAME]  DEFAULT (NULL) FOR [VSLNAME]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_VOYNO]  DEFAULT (NULL) FOR [VOYNO]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_IGMNO]  DEFAULT (NULL) FOR [IGMNO]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GPLNO]  DEFAULT ((0)) FOR [GPLNO]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_PRDTGID]  DEFAULT ((0)) FOR [PRDTGID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_PRDTDESC]  DEFAULT (NULL) FOR [PRDTDESC]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_UNITID]  DEFAULT ((0)) FOR [UNITID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GPWGHT]  DEFAULT ((0)) FOR [GPWGHT]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GPNOP]  DEFAULT ((0)) FOR [GPNOP]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GPCBM]  DEFAULT ((0)) FOR [GPCBM]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_Table_1_BNDID]  DEFAULT ((0)) FOR [BNDID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_Table_1_CONTNRRCVFRM]  DEFAULT ((0)) FOR [CONTNRRCVFRM]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CONTNRRCVFRMOTH]  DEFAULT (NULL) FOR [CONTNRRCVFRMOTH]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_GIREMKRS]  DEFAULT (NULL) FOR [GIREMKRS]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_CUSRID]  DEFAULT (NULL) FOR [CUSRID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_LMUSRID]  DEFAULT (NULL) FOR [LMUSRID]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[BONDGATEINDETAIL] ADD  CONSTRAINT [DF_BONDGATEINDETAIL_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_COMPYID]  DEFAULT ((0)) FOR [COMPYID]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_SDPTID]  DEFAULT ((0)) FOR [SDPTID]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GODATE]  DEFAULT (NULL) FOR [GODATE]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GOTIME]  DEFAULT (NULL) FOR [GOTIME]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GONO]  DEFAULT ((0)) FOR [GONO]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GODNO]  DEFAULT (NULL) FOR [GODNO]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GIDID]  DEFAULT ((0)) FOR [GIDID]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_VHLNO]  DEFAULT (NULL) FOR [VHLNO]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GDRVNAME]  DEFAULT (NULL) FOR [GDRVNAME]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_CHASNAME]  DEFAULT (NULL) FOR [CHASNAME]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GOBTYPE]  DEFAULT ((0)) FOR [GOBTYPE]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_CHAID]  DEFAULT ((0)) FOR [CHAID]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_GOREMRKS]  DEFAULT (NULL) FOR [GOREMRKS]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_CUSRID]  DEFAULT (NULL) FOR [CUSRID]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_LMUSRID]  DEFAULT (NULL) FOR [LMUSRID]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[BONDGATEOUTDETAIL] ADD  CONSTRAINT [DF_BONDGATEOUTDETAIL_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_COMPYID]  DEFAULT ((0)) FOR [COMPYID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_SDPTID]  DEFAULT ((0)) FOR [SDPTID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDATE]  DEFAULT (NULL) FOR [VTDATE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTIME]  DEFAULT (NULL) FOR [VTTIME]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTNO]  DEFAULT ((0)) FOR [VTNO]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTDNO]  DEFAULT (NULL) FOR [VTDNO]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VHLNO]  DEFAULT (NULL) FOR [VHLNO]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DRVNAME]  DEFAULT (NULL) FOR [DRVNAME]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRDTDESC]  DEFAULT (NULL) FOR [VTDESC]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTQTY]  DEFAULT ((0)) FOR [VTQTY]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE]  DEFAULT ((0)) FOR [VTTYPE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTTYPE1]  DEFAULT ((0)) FOR [VTSTYPE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTREMKRS]  DEFAULT (NULL) FOR [VTREMRKS]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_CUSRID]  DEFAULT (NULL) FOR [CUSRID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_LMUSRID]  DEFAULT (NULL) FOR [LMUSRID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_EBNDID]  DEFAULT ((0)) FOR [EBNDID]
GO
ALTER TABLE [dbo].[BONDVEHICLETICKETDETAIL] ADD  CONSTRAINT [DF_BONDVEHICLETICKETDETAIL_VTAREA]  DEFAULT ((0)) FOR [VTAREA]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 - LOAD, 2 - DESTUFF' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTTYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 - PART DESTUFF, 1 - FULL DESTUFF' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BONDVEHICLETICKETDETAIL', @level2type=N'COLUMN',@level2name=N'VTSTYPE'
GO
