USE [SCFS_ERP]
GO
/****** Object:  Table [dbo].[BONDYARDMASTER]    Script Date: 02/09/2022 12:33:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDYARDMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDYARDMASTER]
GO
/****** Object:  Table [dbo].[BONDYARDMASTER]    Script Date: 02/09/2022 12:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDYARDMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDYARDMASTER](
	[YRDID] [int] NOT NULL identity(1,1),
	[YRDDESC] [varchar](100) NULL CONSTRAINT [DF_BONDYARDMASTER_LOCTDESC]  DEFAULT (null),
	[YRDCODE] [varchar](15) NULL CONSTRAINT [DF_BONDYARDMASTER_LOCTCODE]  DEFAULT (null),
	[CUSRID] [varchar] (50) NULL CONSTRAINT [DF_BONDYARDMASTER_CUSRID]  DEFAULT (''),
	[LMUSRID] [varchar] (50) NULL CONSTRAINT [DF_BONDYARDMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_BONDYARDMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [datetime] NULL CONSTRAINT [DF_BONDYARDMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDYARDMASTER] PRIMARY KEY CLUSTERED 
(
	[YRDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
set identity_insert [BONDYARDMASTER] on
go
INSERT [dbo].[BONDYARDMASTER] ([YRDID], [YRDDESC], [YRDCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'NOT REQUIRED', N'NR', 1, 1, 0, CAST(N'2011-09-20 13:55:00.000' AS DateTime))
INSERT [dbo].[BONDYARDMASTER] ([YRDID], [YRDDESC], [YRDCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'OPEN YARD', N'OPY', 1, 1, 0, CAST(N'2011-10-07 23:26:00.000' AS DateTime))
INSERT [dbo].[BONDYARDMASTER] ([YRDID], [YRDDESC], [YRDCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'CLOSED GODOWN', N'CG', 1, 1, 0, CAST(N'2011-10-07 23:26:00.000' AS DateTime))
go
set identity_insert [BONDYARDMASTER] off
go