USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_BondPerforma_Invoice_BondNO_Grid_Assgn]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pr_BondPerforma_Invoice_BondNO_Grid_Assgn]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pr_BondPerforma_Invoice_BondNO_Grid_Assgn]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_BondPerformaInvoice]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pr_Search_BondPerformaInvoice]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pr_Search_BondPerformaInvoice]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDPERFORMATRANSACTIONMASTERFACTOR_BONDPERFORMATRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]'))
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [FK_BONDPERFORMATRANSACTIONMASTERFACTOR_BONDPERFORMATRANSACTIONMASTER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDPERFORMATRANSACTIONDETAIL_BONDPERFORMATRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONDETAIL]'))
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONDETAIL] DROP CONSTRAINT [FK_BONDPERFORMATRANSACTIONDETAIL_BONDPERFORMATRANSACTIONMASTER]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDVALUE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDVALUE]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DORDRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DORDRID]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFOPTN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFOPTN]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDORDR]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDORDR]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDTYPE]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDMODE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDMODE]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDNOS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDNOS]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDEXPRN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDEXPRN]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFID]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_TRANMID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] DROP CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_TRANMID]
END

GO
/****** Object:  View [dbo].[VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01]'))
DROP VIEW [dbo].[VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01]
GO
/****** Object:  View [dbo].[VW_BondPerforma_Transaction_DOSPRINT_ASSGN_03]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BondPerforma_Transaction_DOSPRINT_ASSGN_03]'))
DROP VIEW [dbo].[VW_BondPerforma_Transaction_DOSPRINT_ASSGN_03]
GO
/****** Object:  View [dbo].[VW_BondPerforma_Invoice_TRANSACTION_GST_PRINT_ASSGN]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BondPerforma_Invoice_TRANSACTION_GST_PRINT_ASSGN]'))
DROP VIEW [dbo].[VW_BondPerforma_Invoice_TRANSACTION_GST_PRINT_ASSGN]
GO
/****** Object:  Table [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]') AND type in (N'U'))
DROP TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]
GO
/****** Object:  Table [dbo].[BONDPERFORMATRANSACTIONMASTER]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDPERFORMATRANSACTIONMASTER]
GO
/****** Object:  Table [dbo].[BONDPERFORMATRANSACTIONDETAIL]    Script Date: 03/11/2022 12:38:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONDETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[BONDPERFORMATRANSACTIONDETAIL]
GO
/****** Object:  Table [dbo].[BONDPERFORMATRANSACTIONDETAIL]    Script Date: 03/11/2022 12:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONDETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDPERFORMATRANSACTIONDETAIL](
	[TRANDID] [int] IDENTITY(1,1) NOT NULL,
	[TRANMID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANMID]  DEFAULT ((0)),
	[BNDID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDREFID]  DEFAULT ((0)),
	[EBNDID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_BILLEDID]  DEFAULT ((0)),
	[TRANDBNDNO] [varchar](20) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDEBNDNO1]  DEFAULT (NULL),
	[TRANDEBNDNO] [varchar](20) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDREFNO]  DEFAULT (NULL),
	[TARIFFMID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TARIFFMID]  DEFAULT ((0)),
	[SLABTID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_SLABTID]  DEFAULT ((0)),
	[CONTNRSID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_CONTNRSID]  DEFAULT ((0)),
	[YRDID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_YRDID]  DEFAULT ((0)),
	[TRANCTYPE] [smallint] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANYTYPE]  DEFAULT ((0)),
	[TRANOTYPE] [smallint] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANOTYPE]  DEFAULT ((0)),
	[TRANHTYPE] [smallint] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANOTYPE1]  DEFAULT ((0)),
	[TRANCDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANEDATE1]  DEFAULT (NULL),
	[TRANSFDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANFDATE]  DEFAULT (NULL),
	[TRANSEDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANSDATE]  DEFAULT (NULL),
	[TRANIFDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANEDATE]  DEFAULT (NULL),
	[TRANIEDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANEDATE1_1]  DEFAULT (NULL),
	[TRANDQTY] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDQTY]  DEFAULT ((0)),
	[TRANDNOP] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDNOP]  DEFAULT ((0)),
	[TRANDRATE] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDRATE_1]  DEFAULT ((0)),
	[TRANDWGHT] [numeric](18, 3) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDWGHT]  DEFAULT ((0)),
	[TRANDCIFAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDCIFAMT]  DEFAULT ((0)),
	[TRANDDTYAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDCIFAMT3]  DEFAULT ((0)),
	[TRANDINSAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDCIFAMT2]  DEFAULT ((0)),
	[TRANDEIAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDCIFAMT1]  DEFAULT ((0)),
	[TRANDGAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDGAMT]  DEFAULT ((0)),
	[TRANDSAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDSAMT]  DEFAULT ((0)),
	[TRANDHAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDCAMT]  DEFAULT ((0)),
	[TRANDIAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDHAMT1]  DEFAULT ((0)),
	[TRANDNAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDNAMT]  DEFAULT ((0)),
	[TRANDAID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDAID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_DISPSTATUS]  DEFAULT ((0)),
	[RCOLDESC1] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_RCOLDESC1]  DEFAULT (NULL),
	[RCOLDESC2] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_RCOLDESC13]  DEFAULT (NULL),
	[RCOLDESC3] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_RCOLDESC12]  DEFAULT (NULL),
	[RCOLDESC4] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_RCOLDESC11]  DEFAULT (NULL),
	[VTDID] [int] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_VTDID]  DEFAULT ((0)),
	[TRANDPLAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDNAMT1]  DEFAULT ((0)),
	[TRANDPTAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPLAMT1]  DEFAULT ((0)),
	[TRAND_CGST_EXPRN] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT9]  DEFAULT ((0)),
	[TRAND_SGST_EXPRN] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT8]  DEFAULT ((0)),
	[TRAND_IGST_EXPRN] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT7]  DEFAULT ((0)),
	[TRAND_CGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT6]  DEFAULT ((0)),
	[TRAND_SGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT5]  DEFAULT ((0)),
	[TRAND_IGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT4]  DEFAULT ((0)),
	[INS_TRAND_CGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT3]  DEFAULT ((0)),
	[INS_TRAND_SGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT2]  DEFAULT ((0)),
	[INS_TRAND_IGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONDETAIL_TRANDPTAMT1]  DEFAULT ((0)),
	[PERIODTID] [int] NULL,
	[TRAND_HSN_CODE] [varchar](50) NULL,
	[INS_TRAND_HSN_CODE] [varchar](50) NULL,
	[TRAND_TAXABLE_AMT] [numeric](18, 2) NULL,
	[INS_TRAND_TAXABLE_AMT] [numeric](18, 2) NULL,
	[STATETYPE] [int] NULL,
 CONSTRAINT [PK_BONDPERFORMATRANSACTIONDETAIL] PRIMARY KEY CLUSTERED 
(
	[TRANDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BONDPERFORMATRANSACTIONMASTER]    Script Date: 03/11/2022 12:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDPERFORMATRANSACTIONMASTER](
	[TRANMID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_COMPYID]  DEFAULT ((0)),
	[SDPTID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_SDPTID]  DEFAULT ((0)),
	[REGSTRID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_REGSTRID]  DEFAULT ((0)),
	[TRANBTYPE] [smallint] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANBTYPE]  DEFAULT ((0)),
	[TRANDATE] [smalldatetime] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANDATE]  DEFAULT (NULL),
	[TRANTIME] [datetime] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANTIME]  DEFAULT (NULL),
	[TRANNO] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANNO]  DEFAULT ((0)),
	[TRANDNO] [varchar](50) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANDNO]  DEFAULT (NULL),
	[CHAID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANREFID]  DEFAULT ((0)),
	[IMPRTID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_IMPRTID]  DEFAULT ((0)),
	[TRANCHANAME] [varchar](100) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANREFNAME]  DEFAULT (NULL),
	[TRANIMPRTNAME] [varchar](100) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANCHANAME1]  DEFAULT (NULL),
	[TRANTID] [numeric](18, 0) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANTID]  DEFAULT ((0)),
	[BANKMID] [int] NULL,
	[TRANMODE] [smallint] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANMODE]  DEFAULT ((0)),
	[TRANMODEDETL] [varchar](150) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANMODEDETL]  DEFAULT (NULL),
	[TRANREFNO] [varchar](25) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANREFNO]  DEFAULT (NULL),
	[TRANREFDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANDATE1]  DEFAULT (NULL),
	[TRANREFBNAME] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANREFNAME1]  DEFAULT (NULL),
	[TRANREFAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANGAMT1]  DEFAULT ((0)),
	[TRANROAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANROAMT]  DEFAULT ((0)),
	[TRANGAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANGAMT]  DEFAULT ((0)),
	[TRANSAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANSAMT]  DEFAULT ((0)),
	[TRANHAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANCAMT]  DEFAULT ((0)),
	[TRANIAMT] [numeric](18, 2) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANHAMT1]  DEFAULT ((0)),
	[TRANNAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANNAMT]  DEFAULT ((0)),
	[TRANAMTWRDS] [varchar](250) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANAMTWRDS]  DEFAULT (NULL),
	[TRANLMID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANLMID]  DEFAULT ((0)),
	[TRANLMNO] [varchar](50) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANLMNO]  DEFAULT (NULL),
	[TRANLMDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANLMDATE]  DEFAULT (NULL),
	[TRANNARTN] [varchar](250) NULL,
	[TRANRMKS] [varchar](250) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANRMKS]  DEFAULT (NULL),
	[TRANPCOUNT] [int] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANPCOUNT]  DEFAULT ((0)),
	[CUSRID] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_CUSRID]  DEFAULT (''),
	[LMUSRID] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_PRCSDATE]  DEFAULT (NULL),
	[TRANREFNAME] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANREFNAME_1]  DEFAULT (NULL),
	[BILLREFID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_BILLREFID]  DEFAULT ((0)),
	[TRANGSTNO] [varchar](50) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANGSTNO]  DEFAULT (NULL),
	[TRANPTAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANNAMT1]  DEFAULT ((0)),
	[TRANPLAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANPTAMT1]  DEFAULT ((0)),
	[IRNNO] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_IRNNO]  DEFAULT (NULL),
	[ACKNO] [varchar](100) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_ACKNO]  DEFAULT (NULL),
	[ACKDT] [datetime] NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_ACKDT]  DEFAULT (NULL),
	[QRCODEPATH] [varchar](max) NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_QRCODEPATH]  DEFAULT (NULL),
	[TRAN_CGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANPLAMT3]  DEFAULT ((0)),
	[TRAN_SGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANPLAMT2]  DEFAULT ((0)),
	[TRAN_IGST_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_TRANPLAMT1]  DEFAULT ((0)),
	[BCATEAID] [int] NOT NULL CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTER_BCATEAID]  DEFAULT ((0)),
	[TRAN_TAXABLE_AMT] [numeric](18, 2) NULL,
	[TRANBILLREFNO] [varchar](50) NULL,
 CONSTRAINT [PK_BONDPERFORMATRANSACTIONMASTER] PRIMARY KEY CLUSTERED 
(
	[TRANMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]    Script Date: 03/11/2022 12:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR](
	[TRANMFID] [int] IDENTITY(1,1) NOT NULL,
	[TRANMID] [int] NULL,
	[CFID] [int] NULL,
	[DEDEXPRN] [numeric](18, 2) NULL,
	[DEDNOS] [numeric](18, 2) NULL,
	[DEDMODE] [varchar](50) NULL,
	[DEDTYPE] [int] NULL,
	[DEDORDR] [int] NULL,
	[CFOPTN] [smallint] NULL,
	[DORDRID] [smallint] NULL,
	[DEDVALUE] [numeric](18, 2) NULL,
 CONSTRAINT [PK_BONDPERFORMATRANSACTIONMASTERFACTOR] PRIMARY KEY CLUSTERED 
(
	[TRANMFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  View [dbo].[VW_BondPerforma_Invoice_TRANSACTION_GST_PRINT_ASSGN]    Script Date: 03/11/2022 12:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BondPerforma_Invoice_TRANSACTION_GST_PRINT_ASSGN]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[VW_BondPerforma_Invoice_TRANSACTION_GST_PRINT_ASSGN]
AS
SELECT        dbo.NEW_TMPRPT_IDS.KUSRID, dbo.NEW_TMPRPT_IDS.OPTNSTR, dbo.NEW_TMPRPT_IDS.RPTID, dbo.BONDPERFORMATRANSACTIONMASTER.TRANMID, dbo.BONDPERFORMATRANSACTIONMASTER.COMPYID, 
                         dbo.BONDPERFORMATRANSACTIONMASTER.SDPTID, dbo.BONDPERFORMATRANSACTIONMASTER.REGSTRID, dbo.BONDPERFORMATRANSACTIONMASTER.TRANBTYPE, dbo.BONDPERFORMATRANSACTIONMASTER.TRANDATE, dbo.BONDPERFORMATRANSACTIONMASTER.TRANTIME, 
                         dbo.BONDPERFORMATRANSACTIONMASTER.TRANNO, dbo.BONDPERFORMATRANSACTIONMASTER.TRANDNO, BONDPERFORMATRANSACTIONMASTER.CUSRID AS USRNAME, dbo.BONDPERFORMATRANSACTIONMASTER.TRANCHANAME, 
                         dbo.BONDPERFORMATRANSACTIONMASTER.TRANIMPRTNAME, dbo.CATEGORY_ADDRESS_DETAIL.CATEAADDR1 + '' ''+ dbo.CATEGORY_ADDRESS_DETAIL.CATEAADDR2+
						  '' ''+ dbo.CATEGORY_ADDRESS_DETAIL.CATEAADDR3+ '' ''+ dbo.CATEGORY_ADDRESS_DETAIL.CATEAADDR4 AS CHAADDR, dbo.CATEGORYMASTER.CATENAME as ACHANAME, 
						 dbo.BONDMASTER.BNDID, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDBNDNO, 
                         dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDEBNDNO, dbo.BONDPERFORMATRANSACTIONMASTER.TRANMODE, dbo.BONDPERFORMATRANSACTIONMASTER.TRANMODEDETL, dbo.BONDPERFORMATRANSACTIONMASTER.TRANREFNO, 
                         dbo.BONDPERFORMATRANSACTIONMASTER.TRANREFDATE, dbo.BONDPERFORMATRANSACTIONMASTER.TRANREFBNAME, dbo.BONDPERFORMATRANSACTIONMASTER.TRANREFAMT, 
                         dbo.BONDPERFORMATRANSACTIONMASTER.TRANGAMT + dbo.BONDPERFORMATRANSACTIONMASTER.TRAN_CGST_AMT + dbo.BONDPERFORMATRANSACTIONMASTER.TRAN_SGST_AMT + dbo.BONDPERFORMATRANSACTIONMASTER.TRAN_IGST_AMT + dbo.BONDPERFORMATRANSACTIONMASTER.TRANROAMT
                          AS TRANNAMT, dbo.BONDPERFORMATRANSACTIONMASTER.TRANRMKS, dbo.BONDPERFORMATRANSACTIONMASTER.TRANAMTWRDS, dbo.BONDPERFORMATRANSACTIONMASTER.TRANGAMT, dbo.BONDGODOWNMASTER.GWNDESC, 
                         dbo.BONDGODOWNMASTER.GWNADDR, dbo.BONDMASTER.BNDDNO, dbo.BONDMASTER.BNDDATE, dbo.BONDMASTER.BNDADATE, --dbo.BONDMASTER.BNDDNO, dbo.BONDMASTER.BNDDATE, dbo.BONDMASTER.BNDNOP, 
						 dbo.BONDMASTER.BNDNOP, dbo.BONDPERFORMATRANSACTIONDETAIL.SLABTID, dbo.BONDSLABTYPEMASTER.SLABTDESC, dbo.BONDSLABTYPEMASTER.DISPORDER, 
                         dbo.BONDPERFORMATRANSACTIONDETAIL.TRANCTYPE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANOTYPE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANCDATE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANHTYPE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANSFDATE, 
                         dbo.BONDPERFORMATRANSACTIONDETAIL.TRANSEDATE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANIFDATE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANIEDATE, dbo.BONDMASTER.BNDSPC, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDQTY, 
                         dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDNOP, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDCIFAMT, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDDTYAMT, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDINSAMT, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDEIAMT, 
                         dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDRATE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDGAMT, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDNAMT, --dbo.BONDMASTER.EBNDASSAMT, dbo.BONDMASTER.EBNDDTYAMT, 
                         dbo.BONDMASTER.BNDINSAMT, dbo.BONDMASTER.BNDCIFAMT, dbo.BONDMASTER.BNDDTYAMT,  --dbo.BONDMASTER.EBNDBENO, dbo.BONDMASTER.BNDINSAMT,
                         dbo.BONDMASTER.BNDBEDATE, dbo.CATEGORYMASTER.CATENAME AS TRANREFNAME, dbo.BONDMASTER.BNDTDATE, dbo.BONDPERFORMATRANSACTIONDETAIL.RCOLDESC1, 
                         dbo.BONDPERFORMATRANSACTIONDETAIL.RCOLDESC2, dbo.BONDPERFORMATRANSACTIONDETAIL.RCOLDESC3, dbo.BONDPERFORMATRANSACTIONDETAIL.RCOLDESC4, dbo.BONDMASTER.BND20, dbo.BONDMASTER.BND40, dbo.BONDMASTER.BNDBLNO, 
                         dbo.BONDMASTER.BNDBENO, dbo.STATEMASTER.STATEDESC, dbo.STATEMASTER.STATECODE, ISNULL(dbo.BONDPERFORMATRANSACTIONMASTER.TRANGSTNO, dbo.CATEGORY_ADDRESS_DETAIL.CATEAGSTNO) AS CATEGSTNO, 
                         dbo.BONDPERFORMATRANSACTIONMASTER.TRANLMNO, dbo.BONDPERFORMATRANSACTIONMASTER.IRNNO, dbo.BONDPERFORMATRANSACTIONMASTER.ACKNO, dbo.BONDPERFORMATRANSACTIONMASTER.ACKDT, dbo.BONDPERFORMATRANSACTIONMASTER.QRCODEPATH, 
                         dbo.BONDPERFORMATRANSACTIONMASTER.TRAN_CGST_AMT, dbo.BONDPERFORMATRANSACTIONMASTER.TRAN_SGST_AMT, dbo.BONDPERFORMATRANSACTIONMASTER.TRAN_IGST_AMT,
						 DBO.CATEGORYMASTER.CATELICNO, BONDPERFORMATRANSACTIONMASTER.TRANBILLREFNO,
						 dbo.COMPANYBANKMASTER.CBANKMDESC, dbo.COMPANYBANKMASTER.CBANKMACCODE, dbo.COMPANYBANKMASTER.CBANKMIFSCCODE, dbo.COMPANYBANKMASTER.CBANKMBRANCHNAME
FROM            dbo.NEW_TMPRPT_IDS INNER JOIN
                         dbo.BONDPERFORMATRANSACTIONMASTER ON dbo.NEW_TMPRPT_IDS.RPTID = dbo.BONDPERFORMATRANSACTIONMASTER.TRANMID INNER JOIN
                         dbo.BONDPERFORMATRANSACTIONDETAIL ON dbo.BONDPERFORMATRANSACTIONMASTER.TRANMID = dbo.BONDPERFORMATRANSACTIONDETAIL.TRANMID INNER JOIN
                         dbo.BONDMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.BNDID = dbo.BONDMASTER.BNDID INNER JOIN    
						 dbo.CATEGORYMASTER ON dbo.BONDPERFORMATRANSACTIONMASTER.BILLREFID = dbo.CATEGORYMASTER.CATEID INNER JOIN
						 dbo.CATEGORY_ADDRESS_DETAIL ON dbo.CATEGORYMASTER.CATEID = dbo.CATEGORY_ADDRESS_DETAIL.CATEID 
						 AND BONDPERFORMATRANSACTIONMASTER.BCATEAID = dbo.CATEGORY_ADDRESS_DETAIL.CATEAID INNER JOIN
                         dbo.COMPANYACCOUNTINGDETAIL ON dbo.BONDPERFORMATRANSACTIONMASTER.COMPYID = dbo.COMPANYACCOUNTINGDETAIL.COMPYID INNER JOIN
                         dbo.COMPANYMASTER ON dbo.COMPANYACCOUNTINGDETAIL.COMPID = dbo.COMPANYMASTER.COMPID LEFT OUTER JOIN
						 dbo.COMPANYBANKMASTER ON dbo.COMPANYMASTER.COMPID = dbo.COMPANYBANKMASTER.COMPID LEFT OUTER JOIN
                         dbo.STATEMASTER ON dbo.CATEGORY_ADDRESS_DETAIL.STATEID = dbo.STATEMASTER.STATEID LEFT JOIN                         
                         dbo.BONDSLABTYPEMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.SLABTID = dbo.BONDSLABTYPEMASTER.SLABTID LEFT JOIN
                         dbo.BONDGODOWNMASTER ON dbo.BONDMASTER.GWNID = dbo.BONDGODOWNMASTER.GWNID                      

' 
GO


/****** Object:  View [dbo].[VW_BondPerforma_Transaction_DOSPRINT_ASSGN_03]    Script Date: 03/11/2022 12:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BondPerforma_Transaction_DOSPRINT_ASSGN_03]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[VW_BondPerforma_Transaction_DOSPRINT_ASSGN_03]
AS
SELECT     dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.TRANMID, dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.CFID, dbo.COSTFACTORMASTER.CFDESC, 
                      dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.DEDVALUE, dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.DEDEXPRN, dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.DORDRID, 
                      dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.DEDTYPE, dbo.BONDPERFORMATRANSACTIONMASTER.DISPSTATUS
FROM         dbo.BONDPERFORMATRANSACTIONMASTERFACTOR INNER JOIN
                      dbo.COSTFACTORMASTER ON dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.CFID = dbo.COSTFACTORMASTER.CFID INNER JOIN
                      dbo.BONDPERFORMATRANSACTIONMASTER ON dbo.BONDPERFORMATRANSACTIONMASTERFACTOR.TRANMID = dbo.BONDPERFORMATRANSACTIONMASTER.TRANMID
WHERE     (dbo.BONDPERFORMATRANSACTIONMASTER.DISPSTATUS = 0)
' 
GO
/****** Object:  View [dbo].[VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01]    Script Date: 03/11/2022 12:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01]
AS
	SELECT	dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDID, dbo.BONDPERFORMATRANSACTIONDETAIL.SLABTID, dbo.BONDPERFORMATRANSACTIONDETAIL.BNDID
	FROM	dbo.BONDPERFORMATRANSACTIONDETAIL (nolock) INNER JOIN
				dbo.BONDPERFORMATRANSACTIONMASTER  (nolock) ON dbo.BONDPERFORMATRANSACTIONDETAIL.TRANMID = dbo.BONDPERFORMATRANSACTIONMASTER.TRANMID left join
				dbo.BONDSLABTYPEMASTER (NOLOCK) ON dbo.BONDPERFORMATRANSACTIONDETAIL.SLABTID = dbo.BONDSLABTYPEMASTER.SLABTID
	WHERE     (dbo.BONDPERFORMATRANSACTIONMASTER.SDPTID = 10) AND (dbo.BONDPERFORMATRANSACTIONMASTER.DISPSTATUS = 0)
	AND		dbo.BONDSLABTYPEMASTER.SLABTID IS NULL
	and TRANTID = 2' 
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_TRANMID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_TRANMID]  DEFAULT ((0)) FOR [TRANMID]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFID]  DEFAULT ((0)) FOR [CFID]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDEXPRN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDEXPRN]  DEFAULT ((0)) FOR [DEDEXPRN]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDNOS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDNOS]  DEFAULT ((0)) FOR [DEDNOS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDMODE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDMODE]  DEFAULT (NULL) FOR [DEDMODE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDTYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDTYPE]  DEFAULT ((0)) FOR [DEDTYPE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDORDR]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDORDR]  DEFAULT ((0)) FOR [DEDORDR]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFOPTN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_CFOPTN]  DEFAULT ((0)) FOR [CFOPTN]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DORDRID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DORDRID]  DEFAULT ((0)) FOR [DORDRID]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDVALUE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] ADD  CONSTRAINT [DF_BONDPERFORMATRANSACTIONMASTERFACTOR_DEDVALUE]  DEFAULT ((0)) FOR [DEDVALUE]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDPERFORMATRANSACTIONDETAIL_BONDPERFORMATRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONDETAIL]'))
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_BONDPERFORMATRANSACTIONDETAIL_BONDPERFORMATRANSACTIONMASTER] FOREIGN KEY([TRANMID])
REFERENCES [dbo].[BONDPERFORMATRANSACTIONMASTER] ([TRANMID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDPERFORMATRANSACTIONDETAIL_BONDPERFORMATRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONDETAIL]'))
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONDETAIL] CHECK CONSTRAINT [FK_BONDPERFORMATRANSACTIONDETAIL_BONDPERFORMATRANSACTIONMASTER]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDPERFORMATRANSACTIONMASTERFACTOR_BONDPERFORMATRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]'))
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]  WITH NOCHECK ADD  CONSTRAINT [FK_BONDPERFORMATRANSACTIONMASTERFACTOR_BONDPERFORMATRANSACTIONMASTER] FOREIGN KEY([TRANMID])
REFERENCES [dbo].[BONDPERFORMATRANSACTIONMASTER] ([TRANMID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDPERFORMATRANSACTIONMASTERFACTOR_BONDPERFORMATRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR]'))
ALTER TABLE [dbo].[BONDPERFORMATRANSACTIONMASTERFACTOR] CHECK CONSTRAINT [FK_BONDPERFORMATRANSACTIONMASTERFACTOR_BONDPERFORMATRANSACTIONMASTER]
GO

/****** Object:  StoredProcedure [dbo].[pr_Search_BondPerformaInvoice]    Script Date: 03/11/2022 12:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pr_Search_BondPerformaInvoice]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pr_Search_BondPerformaInvoice] AS' 
END
GO
ALTER PROCEDURE [dbo].[pr_Search_BondPerformaInvoice]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PCompyId INT
		,@PTRANBTYPE int
		,@PREGSTRID int
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
 
AS BEGIN

Declare @LCompyId int,@LTRANBTYPE int,@LREGSTRID int,@LSDate Smalldatetime, @LEDate Smalldatetime
set @LCompyId = @PCompyId
set @LTRANBTYPE=@PTRANBTYPE
set @LREGSTRID=@PREGSTRID
set @LSDate = @PSDate
set @LEDate = @PEDate

    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'


    DECLARE @TableMaster TABLE
    (
      TRANDATE SMALLDATETIME
    , TRANDNO  VARCHAR(25)
    , TRANNO  int
    , TRANREFNAME VARCHAR(100)
	, ACKNO VARCHAR(50)
	, TRANNAMT numeric(18,2)
	,DISPSTATUS smallint
	,GSTAMT smallint
	, TRANBTYPE smallint
	, TRANMID INT
    , RowNum INT
    )
    INSERT INTO @TableMaster(TRANDATE, TRANDNO , TRANNO,TRANREFNAME,ACKNO,TRANNAMT,DISPSTATUS, GSTAMT,TRANBTYPE,TRANMID, RowNum)
  
    SELECT   TRANDATE,   
   TRANDNO, TRANNO, TRANREFNAME, ACKNO ,TRANNAMT,DISPSTATUS, (CASE WHEN len(IRNNO) > 0 THEN 1 ELSE 0 END),TRANBTYPE, TRANMID

            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
                 WHEN 'ASC'  THEN
                      CASE @SortIndex
           				
			  			  WHEN 2 then TRANDNO
			  			  WHEN 3 then TRANREFNAME
						  WHEN 4 then ACKNO
						  WHEN 5 then TRANNAMT
					   END             
				 END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                   CASE @SortIndex
           			  
			  		      WHEN 2 then TRANDNO
			  			  WHEN 3 then TRANREFNAME
						  WHEN 4 then ACKNO
						  WHEN 5 then TRANNAMT
                    END
               END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                   CASE @SortIndex
                     WHEN 0 THEN TRANDATE
                   END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN TRANDATE
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                   CASE @SortIndex
                     WHEN 1 THEN TRANNO
                   END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 1 THEN TRANNO
                END
            END DESC            
            ) AS RowNum
            
FROM       BONDPERFORMATRANSACTIONMASTER (NOLOCK)

WHERE (dbo.BONDPERFORMATRANSACTIONMASTER.COMPYID = @LCompyId) and TRANTID = 2 AND
(TRANDATE BETWEEN @LSDate AND @LEDate)
--and (BONDPERFORMATRANSACTIONMASTER.REGSTRID=@LREGSTRID) 
--and (BONDPERFORMATRANSACTIONMASTER.TRANBTYPE IN(1, 2, 3, 4, 5)) and
  AND (@FilterTerm IS NULL 
             OR TRANDATE LIKE @FilterTerm
              OR TRANDNO  LIKE @FilterTerm
              OR TRANNO    LIKE @FilterTerm
			  OR ACKNO    LIKE @FilterTerm
              oR TRANREFNAME LIKE @FilterTerm
              OR TRANNAMT    LIKE @FilterTerm
             )
			   
            
    SELECT TRANDATE, TRANDNO , TRANNO,TRANREFNAME,ACKNO,TRANNAMT,
	      case DISPSTATUS when 0 then '' when 1 then 'C' end as DISPSTATUS, GSTAMT, TRANBTYPE,TRANMID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    ORDER BY TRANNO DESC 

SELECT    @TotalRowsCount = COUNT(*)
FROM       BONDPERFORMATRANSACTIONMASTER (nolock)

WHERE (dbo.BONDPERFORMATRANSACTIONMASTER.COMPYID = @LCompyId) and TRANTID = 2 AND
--(BONDPERFORMATRANSACTIONMASTER.REGSTRID=@LREGSTRID) and (BONDPERFORMATRANSACTIONMASTER.TRANBTYPE IN(1, 2, 3, 4, 5)) and
(TRANDATE BETWEEN @LSDate AND @LEDate) --AND (BONDPERFORMATRANSACTIONMASTER.SDPTID=1)

    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END


GO

SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pr_BondPerforma_Invoice_BondNO_Grid_Assgn]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pr_BondPerforma_Invoice_BondNO_Grid_Assgn] AS' 
END
GO

/*
 EXEC [pr_BondPerforma_Invoice_BondNO_Grid_Assgn] @userid = 'ck', @PBNDID =1003, @PTRANMID = 0, @PSDATE = '2022-09-01', @PEDATE = '2022-09-29', @PBCHAID = 63371, @PBCATEAID = 2424, @PTARIFFMID = 5, @PSLABTID = 2, @PCHRGTYPE = 1, @PRDTID = 1, @PYRDID = 3, @POPRID 
= 1, @PHNDTID  = 0, @PCNTSID = 3, @PQTY  = 4, @PNOP = 50, @PRATE  = 45
 EXEC [pr_BondPerforma_Invoice_BondNO_Grid_Assgn] @userid = 'ck', @PBNDID =1003, @PTRANMID = 0, @PSDATE = '2022-09-01', @PEDATE = '2022-09-29', @PBCHAID = 63371, @PBCATEAID = 2424, @PTARIFFMID = 5, @PSLABTID = 4, @PCHRGTYPE = 1, @PRDTID = 1, @PYRDID = 3, @POPRID 
= 2, @PHNDTID  = 0, @PCNTSID = 3, @PQTY  = 4, @PNOP = 12, @PRATE  = 50
 EXEC [pr_BondPerforma_Invoice_BondNO_Grid_Assgn] @userid = 'ck', @PBNDID =1003, @PTRANMID = 0, @PSDATE = '2022-09-01', @PEDATE = '2022-09-30', @PBCHAID = 63371, @PBCATEAID = 2424, @PTARIFFMID = 2, @PSLABTID = 2, @PCHRGTYPE = 1, @PRDTID = 1, @PYRDID = 3, @POPRID 
= 1, @PHNDTID  = 0, @PCNTSID = 4, @PQTY  = 4.1, @PNOP = 50, @PRATE  = 50
 EXEC [pr_BondPerforma_Invoice_BondNO_Grid_Assgn] @userid = 'ck', @PBNDID =1003, @PTRANMID = 0, @PSDATE = '2022-09-01', @PEDATE = '2022-09-29', @PBCHAID = 63371, @PBCATEAID = 2424, @PTARIFFMID = 2, @PSLABTID = 2, @PCHRGTYPE = 1, @PRDTID = 1, @PYRDID = 3, @POPRID 
= 1, @PHNDTID  = 0, @PCNTSID = 3, @PQTY  = 4, @PNOP = 50, @PRATE  = 25
 EXEC [pr_BondPerforma_Invoice_BondNO_Grid_Assgn] @userid = 'ck', @PBNDID =1003, @PTRANMID = 3332, @PSDATE = '', @PEDATE = '', @PBCHAID = 63371, @PBCATEAID = 0, @PTARIFFMID = 0, @PSLABTID = 0, @PCHRGTYPE = 1, @PRDTID = 0, @PYRDID = 0, @POPRID = 0, @PHNDTID  = 0, 
@PCNTSID = 0, @PQTY  = 0, @PNOP = 0, @PRATE  = 0
 EXEC [pr_BondPerforma_Invoice_BondNO_Grid_Assgn] @userid = 'ck', @PBNDID =1003, @PTRANMID = 3333, @PSDATE = '', @PEDATE = '', @PBCHAID = 63371, @PBCATEAID = 0, @PTARIFFMID = 0, @PSLABTID = 0, @PCHRGTYPE = 1, @PRDTID = 0, @PYRDID = 0, @POPRID = 0, @PHNDTID  = 0, 
@PCNTSID = 0, @PQTY  = 0, @PNOP = 0, @PRATE  = 0
*/
-- delete tmp_usr_bond_add_dtl
-- delete BONDPERFORMATRANSACTIONmaster
-- select * From tmp_usr_bond_add_dtl
-- select * from BONDMASTER
ALTER PROCEDURE [dbo].[pr_BondPerforma_Invoice_BondNO_Grid_Assgn]  /* CHANGE */
		@userid varchar(50),
		@PBNDID int, 
		@PTRANMID INT,
		@PSDATE smalldatetime=null, 
		@PEDATE smalldatetime=null, 
		@PBCHAID INT=0, 
		@PBCATEAID INT=0, 
		@PTARIFFMID int=0, 
		@PSLABTID INT=0, 
		@PCHRGTYPE INT=0, 
		@PRDTID INT=0, 
		@PYRDID int=0, 
		@POPRID INT=0, 
		@PHNDTID INT=0, 
		@PCNTSID INT=0, 
--		@PRDTGID INT=0,
		@PQTY NUMERIC(18,2)=0, 
		@PNOP NUMERIC(18,2)=0, 
		@PRATE numeric(18,2)=0,
		@PAMT numeric(18,2)=0
AS BEGIN

    DECLARE @TableMaster TABLE
    ( 
	   TRANMID INT
	  ,BNDID INT 
	  ,TRANDBNDNO  VARCHAR(50)
	  ,EBNDID INT 
	  ,TRANDEBNDNO  VARCHAR(50)
	  ,TARIFFMID INT
	  ,TARIFFDESC varchar(50)
	  ,SLABTID INT
	  ,SLABTDESC varchar(50)
	  ,PERIODTID INT
	  ,PERIODTDESC varchar(50)
	  ,CONTNRSID INT
	  ,CONTNRSDESC VARCHAR(25)
	  ,YRDID INT
	  ,YRDDESC VARCHAR(50)
	  ,TRANCTYPE INT
	  ,TRANCTYPEDESC VARCHAR(25)
	  ,TRANOTYPE INT
	  ,TRANOTYPEDESC VARCHAR(25)
	  ,TRANHTYPE INT
	  ,TRANHTYPEDESC VARCHAR(25)
	  ,TRANCDATE varchar(12) 
	  ,TRANSFDATE varchar(12) 
	  ,TRANSEDATE varchar(12) 
	  ,TRANIFDATE varchar(12)  
	  ,TRANIEDATE varchar(12) 
	  ,STATETYPE int
	  ,TRANDNOP	NUMERIC(18,2)	  
	  ,TRANDQTY 	NUMERIC(18,2)
	  ,TRANDRATE 	NUMERIC(18,2)
	  ,TRANDWGHT 	NUMERIC(18,2)
	  ,TRANDID INT
	  ,TRANDCIFAMT NUMERIC(18,2)
	  ,TRANDDTYAMT NUMERIC(18,2)
	  ,TRANDINSAMT NUMERIC(18,2)
	  ,TRANDEIAMT NUMERIC(18,2)
	  ,TRANDGAMT NUMERIC(18,2)
	  ,TRANDSAMT NUMERIC(18,2)
	  ,TRANDHAMT NUMERIC(18,2)
	  ,TRANDIAMT NUMERIC(18,2)
	  ,TRANDFAMT NUMERIC(18,2)
	  ,TRANDPAMT NUMERIC(18,2)
	  ,TRANDNAMT NUMERIC(18,2)
	   ,TRAND_HSN_CODE VARCHAR(10)
	   ,INS_TRAND_HSN_CODE VARCHAR(10)
	   ,TRAND_TAXABLE_AMT  NUMERIC(18,2)
	   ,INS_TRAND_TAXABLE_AMT  NUMERIC(18,2)
	   ,TRAND_CGST_EXPRN  NUMERIC(18,2)
	   ,TRAND_SGST_EXPRN  NUMERIC(18,2)
	   ,TRAND_IGST_EXPRN  NUMERIC(18,2)
	   ,TRAND_CGST_AMT  NUMERIC(18,2)
	   ,TRAND_SGST_AMT  NUMERIC(18,2)
	   ,TRAND_IGST_AMT  NUMERIC(18,2)
	   ,INS_TRAND_CGST_EXPRN  NUMERIC(18,2)
	   ,INS_TRAND_SGST_EXPRN  NUMERIC(18,2)
	   ,INS_TRAND_IGST_EXPRN  NUMERIC(18,2)
	   ,INS_TRAND_CGST_AMT  NUMERIC(18,2)
	   ,INS_TRAND_SGST_AMT  NUMERIC(18,2)
	   ,INS_TRAND_IGST_AMT  NUMERIC(18,2)
    )


DECLARE @LBNDID int, @LEDATE smalldatetime, @LTRANMID INT, @amount numeric(18,2)
set @amount = @PAMT -- @PNOP*@pQTY*@PRATE
set @LBNDID =@PBNDID
set @LEDATE = @PEDATE
set @LTRANMID = @PTRANMID

--SELECT  * FROM @TableMaster
set nocount on

--PENDING BOND NO
if isnull(@PTRANMID,0)=0
begin
	delete tmp_usr_bond_add_dtl where userid = @userid AND  tariffmid = @PTARIFFMID and slabtid= @PSLABTID --TRANMID= @LTRANMID and

	INSERT INTO tmp_usr_bond_add_dtl(
	TRANDBNDNO,CONTNRSDESC,TRANCDATE,TRANSFDATE,TRANSEDATE,TRANIFDATE,TRANIEDATE,TRANMID,BNDID,SLABTID,TRANDNOP,TRANDQTY,
	TRANDRATE,	TRANDID,TRANDSAMT,TRANDHAMT,TRANDIAMT,TRANDNAMT, STATETYPE, TRAND_HSN_CODE, INS_TRAND_HSN_CODE ,
	TRAND_TAXABLE_AMT,INS_TRAND_TAXABLE_AMT,TRAND_CGST_EXPRN,TRAND_SGST_EXPRN,TRAND_IGST_EXPRN,TRAND_CGST_AMT,TRAND_SGST_AMT,
	TRAND_IGST_AMT,INS_TRAND_CGST_EXPRN,INS_TRAND_SGST_EXPRN,INS_TRAND_IGST_EXPRN,INS_TRAND_CGST_AMT,INS_TRAND_SGST_AMT,
	INS_TRAND_IGST_AMT,TRANDCIFAMT ,TRANDDTYAMT ,TRANDINSAMT,
		CONTNRSID,YRDID,TRANCTYPE,TRANOTYPE,TRANHTYPE, YRDDESC ,TRANCTYPEDESC ,TRANOTYPEDESC , TRANHTYPEDESC, EBNDID, TRANDEBNDNO ,
		TARIFFMID, TARIFFDESC ,  SLABTDESC , PERIODTID , PERIODTDESC, TRANDGAMT, userid
	)
    
	SELECT  dbo.BONDMASTER.BNDDNO, dbo.CONTAINERSIZEMASTER.CONTNRSDESC, convert(varchar,@LEDATE,103),
			CASE WHEN BONDSLABTYPEMASTER.SLABTDESC = 'INSURANCE' THEN NULL ELSE convert(varchar,@PSDATE,103) END AS TRANSFDATE, 
			CASE WHEN BONDSLABTYPEMASTER.SLABTDESC = 'INSURANCE' THEN NULL ELSE convert(varchar,@LEDATE,103) END AS TRANSEDATE, 
			CASE WHEN BONDSLABTYPEMASTER.SLABTDESC = 'INSURANCE' THEN convert(varchar,@PSDATE,103) ELSE NULL END AS TRANIFDATE, 
			CASE WHEN BONDSLABTYPEMASTER.SLABTDESC = 'INSURANCE' THEN convert(varchar,@LEDATE,103)  ELSE NULL END AS TRANIEDATE, 
			@PTRANMID, dbo.BONDMASTER.BNDID, @PSLABTID,@PNOP,@pQTY,@PRATE,0,0,0,0,
			@amount+round(CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(CGSTEXPRN,0) ELSE isnull(ACGSTEXPRN,0) END/100*@amount,0)+
			round(CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(SGSTEXPRN,0) ELSE isnull(ASGSTEXPRN,0) END/100*@amount,0)+
			round(CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(IGSTEXPRN,0) ELSE isnull(AIGSTEXPRN,0) END/100*@amount,0),isnull(STATETYPE,0),isnull(HSNCODEMASTER.HSNCODE,''),'',
			@amount,0,CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(CGSTEXPRN,0) ELSE isnull(ACGSTEXPRN,0) END,
			CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(SGSTEXPRN,0) ELSE isnull(ASGSTEXPRN,0) END,
			CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(IGSTEXPRN,0) ELSE isnull(AIGSTEXPRN,0) END,
			round(CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(CGSTEXPRN,0) ELSE isnull(ACGSTEXPRN,0) END/100*@amount,0),
			round(CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(SGSTEXPRN,0) ELSE isnull(ASGSTEXPRN,0) END/100*@amount,0),
			round(CASE WHEN isnull(STATETYPE,0) = 0 THEN isnull(IGSTEXPRN,0) ELSE isnull(AIGSTEXPRN,0) END/100*@amount,0),0,0,0,0,0,0,
			CASE WHEN BONDSLABTYPEMASTER.SLABTDESC = 'INSURANCE' THEN max(BONDMASTER.BNDCIFAMT) else 0 end,
			CASE WHEN BONDSLABTYPEMASTER.SLABTDESC = 'INSURANCE' THEN max(BONDMASTER.BNDDTYAMT) else 0 end, 
			CASE WHEN BONDSLABTYPEMASTER.SLABTDESC = 'INSURANCE' THEN max(BONDMASTER.BNDINSAMT) else 0 end,
			@PCNTSID,@PYRDID,@PCHRGTYPE,@POPRID,@PHNDTID,
			YRDDESC,CASE WHEN @PCHRGTYPE =1  THEN 'FCL' ELSE 'LCL' END ,
			CASE WHEN @POPRID = 1 THEN 'Manual' When @POPRID = 2 then 'Mechanical' When @POPRID = 3 then 'Both' else '' end,
			@PHNDTID,0,'',@PTARIFFMID, isnull(TARIFFMDESC,'') ,  SLABTDESC , 
			@PRDTID , case when @PRDTID = 1 then 'Weekly' else 'Daily' end,
			@amount, @userid
	FROM            dbo.VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01 RIGHT OUTER JOIN     DBO.BONDMASTER ON
							 dbo.VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01.BNDID = dbo.BONDMASTER.BNDID 
							 and dbo.VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01.SLABTID = @PSLABTID RIGHT OUTER JOIN
							 dbo.CONTAINERSIZEMASTER ON dbo.CONTAINERSIZEMASTER.CONTNRSID = @PCNTSID RIGHT OUTER JOIN							 
							 dbo.CATEGORYMASTER ON  dbo.CATEGORYMASTER.CATEID = @PBCHAID RIGHT OUTER JOIN
							 dbo.CATEGORY_ADDRESS_DETAIL ON dbo.CATEGORYMASTER.CATEID = CATEGORY_ADDRESS_DETAIL.CATEID 
							 AND CATEGORY_ADDRESS_DETAIL.CATEAID=@PBCATEAID RIGHT JOIN 
							 dbo.STATEMASTER ON  CATEGORY_ADDRESS_DETAIL.STATEID = dbo.STATEMASTER.STATEID   INNER JOIN
							 BONDSLABTYPEMASTER ON BONDSLABTYPEMASTER.SLABTID = @PSLABTID left JOIN
							 HSNCODEMASTER ON BONDSLABTYPEMASTER.HSNID = HSNCODEMASTER.HSNID INNER JOIN
							 BONDTARIFFMASTER ON BONDTARIFFMASTER.TARIFFMID = @PTARIFFMID INNER JOIN
							 BONDYARDMASTER ON BONDYARDMASTER.YRDID = @PYRDID 
							 --INNER JOIN
							 --BONDPRODUCTGROUPMASTER ON BONDPRODUCTGROUPMASTER.PRDTGID = @PRDTGID 
						 
							 --BONDYARDMASTER ON BONDYARDMASTER.YRDID = @PYRDID
	WHERE     ((ISNULL(dbo.VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01.TRANDID, 0) = 0)
	or (ISNULL(dbo.VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01.SLABTID, 0) = 0))
	AND (dbo.BONDMASTER.BNDID = @LBNDID)
	GROUP BY dbo.BONDMASTER.BNDID, dbo.BONDMASTER.BNDDNO, dbo.BONDMASTER.BNDID, 
	dbo.VW_BondPerforma_Invoice_SBILL_NO_CBX_ASSGN_01.SLABTID,  dbo.CONTAINERSIZEMASTER.CONTNRSDESC, isnull(STATETYPE,0) ,
	BONDSLABTYPEMASTER.SLABTDESC, YRDDESC, TARIFFMDESC, SLABTDESC, isnull(HSNCODEMASTER.HSNCODE,''),
	CGSTEXPRN, ACGSTEXPRN, SGSTEXPRN,ASGSTEXPRN, IGSTEXPRN, AIGSTEXPRN

	
	INSERT INTO @TableMaster(
	TRANDBNDNO,CONTNRSDESC,TRANCDATE,TRANSFDATE,TRANSEDATE,TRANIFDATE,TRANIEDATE,TRANMID,BNDID,SLABTID,TRANDNOP,TRANDQTY, TRANDRATE,
	TRANDID,TRANDSAMT,TRANDHAMT,TRANDIAMT,TRANDNAMT, STATETYPE, TRAND_HSN_CODE, INS_TRAND_HSN_CODE ,TRAND_TAXABLE_AMT,
		INS_TRAND_TAXABLE_AMT,TRAND_CGST_EXPRN,TRAND_SGST_EXPRN,TRAND_IGST_EXPRN,TRAND_CGST_AMT,TRAND_SGST_AMT,
		TRAND_IGST_AMT,INS_TRAND_CGST_EXPRN,INS_TRAND_SGST_EXPRN,INS_TRAND_IGST_EXPRN,INS_TRAND_CGST_AMT,INS_TRAND_SGST_AMT,
		INS_TRAND_IGST_AMT,TRANDCIFAMT ,TRANDDTYAMT ,TRANDINSAMT,
		CONTNRSID,YRDID,TRANCTYPE,TRANOTYPE,TRANHTYPE, YRDDESC ,TRANCTYPEDESC ,TRANOTYPEDESC , TRANHTYPEDESC, EBNDID, TRANDEBNDNO ,
		TARIFFMID, TARIFFDESC ,  SLABTDESC , PERIODTID , PERIODTDESC,TRANDGAMT
	)
	select TRANDBNDNO,CONTNRSDESC,TRANCDATE,TRANSFDATE,TRANSEDATE,TRANIFDATE,TRANIEDATE,TRANMID,BNDID,SLABTID,TRANDNOP,TRANDQTY, TRANDRATE,
	TRANDID,TRANDSAMT,TRANDHAMT,TRANDIAMT,TRANDNAMT, STATETYPE, TRAND_HSN_CODE, INS_TRAND_HSN_CODE ,TRAND_TAXABLE_AMT,
		INS_TRAND_TAXABLE_AMT,TRAND_CGST_EXPRN,TRAND_SGST_EXPRN,TRAND_IGST_EXPRN,TRAND_CGST_AMT,TRAND_SGST_AMT,
		TRAND_IGST_AMT,INS_TRAND_CGST_EXPRN,INS_TRAND_SGST_EXPRN,INS_TRAND_IGST_EXPRN,INS_TRAND_CGST_AMT,INS_TRAND_SGST_AMT,
		INS_TRAND_IGST_AMT,TRANDCIFAMT ,TRANDDTYAMT ,TRANDINSAMT,
		CONTNRSID,YRDID,TRANCTYPE,TRANOTYPE,TRANHTYPE, YRDDESC ,TRANCTYPEDESC ,TRANOTYPEDESC , TRANHTYPEDESC, EBNDID, TRANDEBNDNO ,
		TARIFFMID, TARIFFDESC ,  SLABTDESC , PERIODTID , PERIODTDESC,TRANDGAMT 
	from tmp_usr_bond_add_dtl (nolock)
	where userid = @userid
end
else
begin
	delete tmp_usr_bond_add_dtl where userid = @userid and tranmid = @LTRANMID 
end
----ACTUAL BOND INVOICE DETAIL

INSERT INTO @TableMaster(
TRANDBNDNO,CONTNRSDESC,TRANCDATE,TRANSFDATE,TRANSEDATE,TRANIFDATE,TRANIEDATE,TRANMID,BNDID,SLABTID,TRANDNOP,TRANDQTY, TRANDRATE,
TRANDID,TRANDSAMT,TRANDHAMT,TRANDIAMT,TRANDNAMT, STATETYPE, TRAND_HSN_CODE, INS_TRAND_HSN_CODE ,TRAND_TAXABLE_AMT,
	INS_TRAND_TAXABLE_AMT,TRAND_CGST_EXPRN,TRAND_SGST_EXPRN,TRAND_IGST_EXPRN,TRAND_CGST_AMT,TRAND_SGST_AMT,
	TRAND_IGST_AMT,INS_TRAND_CGST_EXPRN,INS_TRAND_SGST_EXPRN,INS_TRAND_IGST_EXPRN,INS_TRAND_CGST_AMT,INS_TRAND_SGST_AMT,
	INS_TRAND_IGST_AMT,TRANDCIFAMT ,TRANDDTYAMT ,TRANDINSAMT,
	CONTNRSID,YRDID,TRANCTYPE,TRANOTYPE,TRANHTYPE, YRDDESC ,TRANCTYPEDESC ,TRANOTYPEDESC , TRANHTYPEDESC, EBNDID, TRANDEBNDNO ,
	TARIFFMID, TARIFFDESC ,  SLABTDESC , PERIODTID , PERIODTDESC,TRANDGAMT
)

SELECT     dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDBNDNO AS TRANDBNDNO, dbo.CONTAINERSIZEMASTER.CONTNRSDESC,
			convert(varchar,dbo.BONDPERFORMATRANSACTIONDETAIL.TRANCDATE,103) , convert(varchar,dbo.BONDPERFORMATRANSACTIONDETAIL.TRANSFDATE,103) , 
			convert(varchar,dbo.BONDPERFORMATRANSACTIONDETAIL.TRANSEDATE,103) , convert(varchar,dbo.BONDPERFORMATRANSACTIONDETAIL.TRANIFDATE,103) , 
                      convert(varchar,dbo.BONDPERFORMATRANSACTIONDETAIL.TRANIEDATE,103) ,
					  dbo.BONDPERFORMATRANSACTIONMASTER.TRANMID, dbo.BONDPERFORMATRANSACTIONDETAIL.BNDID, 
                      dbo.BONDPERFORMATRANSACTIONDETAIL.SLABTID, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDNOP AS TRANDNOP, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDQTY AS TRANDQTY, 
					  dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDRATE AS TRANDRATE, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDID, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDSAMT, 
					  dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDHAMT, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDIAMT, dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDNAMT, isnull(BONDPERFORMATRANSACTIONDETAIL.STATETYPE,0), 
					  dbo.BONDPERFORMATRANSACTIONDETAIL.TRAND_HSN_CODE, '', dbo.BONDPERFORMATRANSACTIONDETAIL.TRANDGAMT, 0, TRAND_CGST_EXPRN, TRAND_SGST_EXPRN, TRAND_IGST_EXPRN, 
					  TRAND_CGST_AMT, TRAND_SGST_AMT, TRAND_IGST_AMT, 0, 0, 0, INS_TRAND_CGST_AMT, 
					  INS_TRAND_SGST_AMT, INS_TRAND_IGST_AMT,
					  (BONDPERFORMATRANSACTIONDETAIL.TRANDCIFAMT), (BONDPERFORMATRANSACTIONDETAIL.TRANDDTYAMT), (BONDPERFORMATRANSACTIONDETAIL.TRANDINSAMT),
					  dbo.BONDPERFORMATRANSACTIONDETAIL.CONTNRSID,dbo.BONDPERFORMATRANSACTIONDETAIL.YRDID,dbo.BONDPERFORMATRANSACTIONDETAIL.TRANCTYPE,
					  dbo.BONDPERFORMATRANSACTIONDETAIL.TRANOTYPE,dbo.BONDPERFORMATRANSACTIONDETAIL.TRANHTYPE, YRDDESC,
					  CASE WHEN dbo.BONDPERFORMATRANSACTIONDETAIL.TRANCTYPE =1  THEN 'FCL' ELSE 'LCL' END ,
					  CASE WHEN dbo.BONDPERFORMATRANSACTIONDETAIL.TRANOTYPE = 1 THEN 'Manual' When dbo.BONDPERFORMATRANSACTIONDETAIL.TRANOTYPE = 2 then 'Mechanical' 
					  When dbo.BONDPERFORMATRANSACTIONDETAIL.TRANOTYPE = 3 then 'Both' else '' end,
					  @PHNDTID,EBNDID,TRANDEBNDNO,dbo.BONDPERFORMATRANSACTIONDETAIL.TARIFFMID , isnull(TARIFFMDESC,'') , 
					  SLABTDESC , 
						  dbo.BONDPERFORMATRANSACTIONDETAIL.PERIODTID , case when  dbo.BONDPERFORMATRANSACTIONDETAIL.PERIODTID = 1 then 'Weekly' else 'Daily' end,
						  TRANDGAMT
FROM            dbo.BONDPERFORMATRANSACTIONDETAIL INNER JOIN
                         dbo.BONDPERFORMATRANSACTIONMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.TRANMID = dbo.BONDPERFORMATRANSACTIONMASTER.TRANMID INNER JOIN
                         --dbo.BONDMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.BNDID = dbo.BONDMASTER.BNDID INNER JOIN
                         dbo.CONTAINERSIZEMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.CONTNRSID = dbo.CONTAINERSIZEMASTER.CONTNRSID LEFT JOIN
						 dbo.CATEGORYMASTER ON BONDPERFORMATRANSACTIONMASTER.BILLREFID= dbo.CATEGORYMASTER.CATEID LEFT join
                         dbo.BONDSLABTYPEMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.SLABTID = dbo.BONDSLABTYPEMASTER.SLABTID LEFT JOIN
						 dbo.BONDTARIFFMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.TARIFFMID = dbo.BONDTARIFFMASTER.TARIFFMID LEFT JOIN
                         dbo.BONDYARDMASTER ON dbo.BONDPERFORMATRANSACTIONDETAIL.YRDID = dbo.BONDYARDMASTER.YRDID LEFT JOIN
                         dbo.CATEGORY_ADDRESS_DETAIL ON dbo.BONDPERFORMATRANSACTIONMASTER.BCATEAID = dbo.CATEGORY_ADDRESS_DETAIL.CATEAID LEFT OUTER JOIN 						 
                         dbo.STATEMASTER ON dbo.CATEGORY_ADDRESS_DETAIL.STATEID = dbo.STATEMASTER.STATEID
WHERE     (dbo.BONDPERFORMATRANSACTIONMASTER.SDPTID = 10) 
AND TRANTID = 2
AND (dbo.BONDPERFORMATRANSACTIONDETAIL.TRANMID = @LTRANMID)                                                                  

SELECT 
TRANDBNDNO,CONTNRSDESC,TRANCDATE,TRANSFDATE,TRANSEDATE,TRANIFDATE,TRANIEDATE,TRANMID,BNDID,SLABTID,TRANDNOP,TRANDQTY, TRANDRATE,
TRANDID,TRANDSAMT,TRANDHAMT,TRANDIAMT,TRANDNAMT, STATETYPE, TRAND_HSN_CODE, INS_TRAND_HSN_CODE ,TRAND_TAXABLE_AMT,
	INS_TRAND_TAXABLE_AMT,TRAND_CGST_EXPRN,TRAND_SGST_EXPRN,TRAND_IGST_EXPRN,TRAND_CGST_AMT,TRAND_SGST_AMT,
	TRAND_IGST_AMT,INS_TRAND_CGST_EXPRN,INS_TRAND_SGST_EXPRN,INS_TRAND_IGST_EXPRN,INS_TRAND_CGST_AMT,INS_TRAND_SGST_AMT,
	INS_TRAND_IGST_AMT,TRANDCIFAMT ,TRANDDTYAMT ,TRANDINSAMT,
	CONTNRSID,YRDID,TRANCTYPE,TRANOTYPE,TRANHTYPE, YRDDESC ,TRANCTYPEDESC ,TRANOTYPEDESC , TRANHTYPEDESC, EBNDID, TRANDEBNDNO ,
	TARIFFMID, TARIFFDESC ,  SLABTDESC , PERIODTID , PERIODTDESC,TRANDGAMT
FROM @TableMaster order by TRANCDATE, TRANDBNDNO, TRANDEBNDNO

return 
       
END


GO
