USE [SCFS_ERP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDSLABTYPEMASTER_BONDSLABCLASSIFICATIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDSLABTYPEMASTER]'))
ALTER TABLE [dbo].[BONDSLABTYPEMASTER] DROP CONSTRAINT [FK_BONDSLABTYPEMASTER_BONDSLABCLASSIFICATIONMASTER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDSLABMASTER_BONDSLABTYPEMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDSLABMASTER]'))
ALTER TABLE [dbo].[BONDSLABMASTER] DROP CONSTRAINT [FK_BONDSLABMASTER_BONDSLABTYPEMASTER]
GO
/****** Object:  Table [dbo].[BONDTARIFFMASTER]    Script Date: 30/08/2022 11:21:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTARIFFMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDTARIFFMASTER]
GO
/****** Object:  Table [dbo].[BONDSLABTYPEMASTER]    Script Date: 30/08/2022 11:21:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDSLABTYPEMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDSLABTYPEMASTER]
GO
/****** Object:  Table [dbo].[BONDSLABMASTER]    Script Date: 30/08/2022 11:21:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDSLABMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDSLABMASTER]
GO
/****** Object:  Table [dbo].[BONDSLABCLASSIFICATIONMASTER]    Script Date: 30/08/2022 11:21:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDSLABCLASSIFICATIONMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[BONDSLABCLASSIFICATIONMASTER]
GO
/****** Object:  Table [dbo].[BONDSLABCLASSIFICATIONMASTER]    Script Date: 30/08/2022 11:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDSLABCLASSIFICATIONMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDSLABCLASSIFICATIONMASTER](
	[SLABCID] [int] NOT NULL IDENTITY(1,1),
	[SLABCDESC] [varchar](100) NULL CONSTRAINT [DF_BONDSLABCLASSIFICATIONMASTER_SLABCDESC]  DEFAULT (null),
	[SLABCCODE] [varchar](50) NULL CONSTRAINT [DF_BONDSLABCLASSIFICATIONMASTER_SLABCCODE]  DEFAULT (null),
	[DISPORDR] [smallint] NULL CONSTRAINT [DF_BONDSLABCLASSIFICATIONMASTER_DISPORDR]  DEFAULT (0),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_BONDSLABCLASSIFICATIONMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [smalldatetime] NULL CONSTRAINT [DF_BONDSLABCLASSIFICATIONMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDSLABCLASSIFICATIONMASTER] PRIMARY KEY CLUSTERED 
(
	[SLABCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BONDSLABMASTER]    Script Date: 30/08/2022 11:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDSLABMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDSLABMASTER](
	[SLABMID] [int] NOT NULL IDENTITY(1,1),
	[COMPYID] [int] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_COMPYID]  DEFAULT (0),
	[SLABMDATE] [smalldatetime] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_SLABMDATE]  DEFAULT (null),
	[SLABTID] [int] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_SLABTID]  DEFAULT (0),
	[TARIFFMID] [int] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_TARIFFMID]  DEFAULT (0),
	[CHAID] [int] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_STMRID]  DEFAULT (0),
	[CHRGETYPE] [smallint] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_CHRGETYPE]  DEFAULT (0),
	[CONTNRSID] [int] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_CONTNRSID]  DEFAULT (0),
	[PRDTGID] [int] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_PRDTGID]  DEFAULT (0),
	[SDTYPE] [smallint] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_SDTYPE]  DEFAULT (0),
	[YRDTYPE] [smallint] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_YRDTYPE]  DEFAULT (0),
	[HTYPE] [smallint] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_HTYPE]  DEFAULT (0),
	[WTYPE] [smallint] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_WTYPE]  DEFAULT (0),
	[SLABMIN] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDSLABMASTER_SLABMIN]  DEFAULT (0),
	[SLABMAX] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDSLABMASTER_SLABMAX]  DEFAULT (0),
	[SLABAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_BONDSLABMASTER_SLABAMT]  DEFAULT (0),
	[CUSRID] [VARCHAR] (50) NOT NULL CONSTRAINT [DF_BONDSLABMASTER_CUSRID]  DEFAULT (''),
	[LMUSRID] [VARCHAR] (50) NOT NULL CONSTRAINT [DF_BONDSLABMASTER_CUSRID1]  DEFAULT (0),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_BONDSLABMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDSLABMASTER] PRIMARY KEY CLUSTERED 
(
	[SLABMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BONDSLABTYPEMASTER]    Script Date: 30/08/2022 11:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDSLABTYPEMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDSLABTYPEMASTER](
	[SLABTID] [int] NOT NULL IDENTITY(1,1),
	[SLABCID] [int] NOT NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_SLABCID]  DEFAULT (0),
	[SLABTDESC] [varchar](50) NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_SLABTDESC]  DEFAULT (null),
	[SLABTCODE] [varchar](15) NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_SLABTCODE]  DEFAULT (null),
	[SLABPTYPE] [smallint] NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_SLABPTYPE]  DEFAULT (0),
	[SLABCTYPE] [smallint] NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_SLABCTYPE]  DEFAULT (0),
	[DISPORDER] [int] NOT NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_DISPORDER]  DEFAULT (0),
	[CUSRID] [VARCHAR] (50) NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_CUSRID]  DEFAULT (''),
	[LMUSRID] [VARCHAR] (50) NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [datetime] NULL CONSTRAINT [DF_BONDSLABTYPEMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDSLABTYPEMASTER] PRIMARY KEY CLUSTERED 
(
	[SLABTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BONDTARIFFMASTER]    Script Date: 30/08/2022 11:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTARIFFMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BONDTARIFFMASTER](
	[TARIFFMID] [int] NOT NULL IDENTITY(1,1),
	[TARIFFMDESC] [varchar](100) NOT NULL CONSTRAINT [DF_BONDTARIFFMASTER_TARIFFMDESC]  DEFAULT (null),
	[TARIFFMCODE] [varchar](10) NOT NULL CONSTRAINT [DF_BONDTARIFFMASTER_TARIFFMCODE]  DEFAULT (null),
	[SDPTID] [int] NOT NULL CONSTRAINT [DF_BONDTARIFFMASTER_SDPTID]  DEFAULT (0),
	[CUSRID] [VARCHAR] (50) NOT NULL CONSTRAINT [DF_BONDTARIFFMASTER_CUSRID]  DEFAULT (''),
	[LMUSRID] [VARCHAR] (50) NOT NULL CONSTRAINT [DF_BONDTARIFFMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_BONDTARIFFMASTER_DISPSTATUS]  DEFAULT (0),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_BONDTARIFFMASTER_PRCSDATE]  DEFAULT (null),
 CONSTRAINT [PK_BONDTARIFFMASTER] PRIMARY KEY CLUSTERED 
(
	[TARIFFMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [BONDSLABCLASSIFICATIONMASTER] ON
GO
INSERT [dbo].[BONDSLABCLASSIFICATIONMASTER] ([SLABCID], [SLABCDESC], [SLABCCODE], [DISPORDR], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'Of all SLAB TYPEs….!', N'all', 0, 1, CAST(N'2011-04-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[BONDSLABCLASSIFICATIONMASTER] ([SLABCID], [SLABCDESC], [SLABCCODE], [DISPORDR], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'STORAGE', N'STRG', 1, 0, CAST(N'2011-04-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[BONDSLABCLASSIFICATIONMASTER] ([SLABCID], [SLABCDESC], [SLABCCODE], [DISPORDR], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'HANDLING', N'HAND', 2, 0, CAST(N'2011-04-01 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [BONDSLABCLASSIFICATIONMASTER] OFF
GO
SET IDENTITY_INSERT [BONDSLABMASTER] ON
GO
INSERT [dbo].[BONDSLABMASTER] ([SLABMID], [COMPYID], [SLABMDATE], [SLABTID], [TARIFFMID], [CHAID], [CHRGETYPE], [CONTNRSID], [PRDTGID], [SDTYPE], [YRDTYPE], [HTYPE], [WTYPE], [SLABMIN], [SLABMAX], [SLABAMT], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, 13, CAST(N'2011-10-01 00:00:00' AS SmallDateTime), 4, 2, 0, 2, 2, 2, 0, 3, 0, 0, CAST(4.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), CAST(12.50 AS Numeric(18, 2)), 0, 1, 0, CAST(N'2011-10-31 00:00:00.000' AS DateTime))
INSERT [dbo].[BONDSLABMASTER] ([SLABMID], [COMPYID], [SLABMDATE], [SLABTID], [TARIFFMID], [CHAID], [CHRGETYPE], [CONTNRSID], [PRDTGID], [SDTYPE], [YRDTYPE], [HTYPE], [WTYPE], [SLABMIN], [SLABMAX], [SLABAMT], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, 13, CAST(N'2011-10-01 00:00:00' AS SmallDateTime), 4, 2, 0, 2, 3, 2, 0, 3, 0, 0, CAST(4.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), CAST(12.50 AS Numeric(18, 2)), 0, 1, 0, CAST(N'2011-10-31 00:00:00.000' AS DateTime))
INSERT [dbo].[BONDSLABMASTER] ([SLABMID], [COMPYID], [SLABMDATE], [SLABTID], [TARIFFMID], [CHAID], [CHRGETYPE], [CONTNRSID], [PRDTGID], [SDTYPE], [YRDTYPE], [HTYPE], [WTYPE], [SLABMIN], [SLABMAX], [SLABAMT], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, 13, CAST(N'2011-10-01 00:00:00' AS SmallDateTime), 4, 2, 0, 2, 4, 2, 0, 3, 0, 0, CAST(4.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), CAST(12.50 AS Numeric(18, 2)), 0, 1, 0, CAST(N'2011-10-31 00:00:00.000' AS DateTime))
GO

SET IDENTITY_INSERT [BONDSLABMASTER] OFF
GO

SET IDENTITY_INSERT [BONDSLABTYPEMASTER] ON
GO

INSERT [dbo].[BONDSLABTYPEMASTER] ([SLABTID], [SLABCID], [SLABTDESC], [SLABTCODE], [SLABPTYPE], [SLABCTYPE], [DISPORDER], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, 1, N'Of all SLAB TYPEs….!', N'all', 0, 0, 0, 1, 1, 0, CAST(N'2011-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[BONDSLABTYPEMASTER] ([SLABTID], [SLABCID], [SLABTDESC], [SLABTCODE], [SLABPTYPE], [SLABCTYPE], [DISPORDER], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, 2, N'STORAGE', N'STRG', 0, 0, 1, 1, 1, 0, CAST(N'2011-10-05 00:00:00.000' AS DateTime))
INSERT [dbo].[BONDSLABTYPEMASTER] ([SLABTID], [SLABCID], [SLABTDESC], [SLABTCODE], [SLABPTYPE], [SLABCTYPE], [DISPORDER], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, 3, N'HANDLING', N'HAND', 0, 0, 2, 1, 1, 0, CAST(N'2011-04-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [BONDSLABTYPEMASTER] OFF
GO
SET IDENTITY_INSERT [BONDTARIFFMASTER] ON
GO
INSERT [dbo].[BONDTARIFFMASTER] ([TARIFFMID], [TARIFFMDESC], [TARIFFMCODE], [SDPTID], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'NOT REQUIRED', N'NR', 10, 1, 1, 0, CAST(N'2011-09-20 13:59:00.000' AS DateTime))
INSERT [dbo].[BONDTARIFFMASTER] ([TARIFFMID], [TARIFFMDESC], [TARIFFMCODE], [SDPTID], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'GENERAL', N'GNRL', 10, 1, 1, 0, CAST(N'2011-09-20 14:01:00.000' AS DateTime))
INSERT [dbo].[BONDTARIFFMASTER] ([TARIFFMID], [TARIFFMDESC], [TARIFFMCODE], [SDPTID], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'SPECIAL-45', N'SPL', 10, 1, 1, 0, CAST(N'2012-01-18 11:46:00.000' AS DateTime))
SET IDENTITY_INSERT [BONDSLABTYPEMASTER] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDSLABMASTER_BONDSLABTYPEMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDSLABMASTER]'))
ALTER TABLE [dbo].[BONDSLABMASTER]  WITH NOCHECK ADD  CONSTRAINT [FK_BONDSLABMASTER_BONDSLABTYPEMASTER] FOREIGN KEY([SLABTID])
REFERENCES [dbo].[BONDSLABTYPEMASTER] ([SLABTID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDSLABMASTER_BONDSLABTYPEMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDSLABMASTER]'))
ALTER TABLE [dbo].[BONDSLABMASTER] CHECK CONSTRAINT [FK_BONDSLABMASTER_BONDSLABTYPEMASTER]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDSLABTYPEMASTER_BONDSLABCLASSIFICATIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDSLABTYPEMASTER]'))
ALTER TABLE [dbo].[BONDSLABTYPEMASTER]  WITH CHECK ADD  CONSTRAINT [FK_BONDSLABTYPEMASTER_BONDSLABCLASSIFICATIONMASTER] FOREIGN KEY([SLABCID])
REFERENCES [dbo].[BONDSLABCLASSIFICATIONMASTER] ([SLABCID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BONDSLABTYPEMASTER_BONDSLABCLASSIFICATIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[BONDSLABTYPEMASTER]'))
ALTER TABLE [dbo].[BONDSLABTYPEMASTER] CHECK CONSTRAINT [FK_BONDSLABTYPEMASTER_BONDSLABCLASSIFICATIONMASTER]
GO
