if not exists (  select * from [EXPORT_OPERATIONTYPEMASTER] where eoptid = 0)
begin
  SET IDENTITY_INSERT [EXPORT_OPERATIONTYPEMASTER] ON
  insert into [EXPORT_OPERATIONTYPEMASTER]
  ([EOPTID]
      ,[EOPTDESC]
      ,[EOPTCODE]
      ,[CUSRID]
      ,[LMUSRID]
      ,[DISPSTATUS]
      ,[PRCSDATE])
  values( 0, 'Not Required', 'NR','admin', 'admin',0,'2021-08-25 14:14:14')

  SET IDENTITY_INSERT [EXPORT_OPERATIONTYPEMASTER] OFF
end
select * from [EXPORT_OPERATIONTYPEMASTER]