USE [SCFS_ERP]
GO
/****** Object:  Table [dbo].[EXPORT_SLAB_CHARGE_TYPE_MASTER]    Script Date: 09/08/2021 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXPORT_SLAB_CHARGE_TYPE_MASTER](
	[CTID] [int] IDENTITY(1,1) NOT NULL,
	[CHRGETYPE] [int] NOT NULL CONSTRAINT [DF_EXPORT_SLAB_CHARGE_TYPE_MASTER_CHRGETYPE]  DEFAULT ((0)),
	[CHRGETYPEDESC] [varchar](100) NULL CONSTRAINT [DF_EXPORT_SLAB_CHARGE_TYPE_MASTER_CHRGETYPEDESC]  DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[CTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EXPORT_SLAB_CHARGE_TYPE_MASTER] ON 

INSERT [dbo].[EXPORT_SLAB_CHARGE_TYPE_MASTER] ([CTID], [CHRGETYPE], [CHRGETYPEDESC]) VALUES (1, 1, N'STUFF')
INSERT [dbo].[EXPORT_SLAB_CHARGE_TYPE_MASTER] ([CTID], [CHRGETYPE], [CHRGETYPEDESC]) VALUES (2, 2, N'GRT')
INSERT [dbo].[EXPORT_SLAB_CHARGE_TYPE_MASTER] ([CTID], [CHRGETYPE], [CHRGETYPEDESC]) VALUES (3, 3, N'SEAL')
SET IDENTITY_INSERT [dbo].[EXPORT_SLAB_CHARGE_TYPE_MASTER] OFF
