USE [SCFS_ERP]
GO
/****** Object:  Table [dbo].[EXPORT_SLAB_WAGES_TYPE_MASTER]    Script Date: 09/08/2021 12:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXPORT_SLAB_WAGES_TYPE_MASTER](
	[WTID] [int] IDENTITY(1,1) NOT NULL,
	[WTYPE] [int] NOT NULL CONSTRAINT [DF_EXPORT_SLAB_WAGES_TYPE_MASTER_WTYPE]  DEFAULT ((0)),
	[WTYPEDESC] [varchar](100) NULL CONSTRAINT [DF_EXPORT_SLAB_WAGES_TYPE_MASTER_WTYPEDESC]  DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[WTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EXPORT_SLAB_WAGES_TYPE_MASTER] ON 

INSERT [dbo].[EXPORT_SLAB_WAGES_TYPE_MASTER] ([WTID], [WTYPE], [WTYPEDESC]) VALUES (1, 0, N'NOT REQUIRED')
INSERT [dbo].[EXPORT_SLAB_WAGES_TYPE_MASTER] ([WTID], [WTYPE], [WTYPEDESC]) VALUES (2, 1, N'PACKAGE')
INSERT [dbo].[EXPORT_SLAB_WAGES_TYPE_MASTER] ([WTID], [WTYPE], [WTYPEDESC]) VALUES (3, 2, N'WEIGHT')
SET IDENTITY_INSERT [dbo].[EXPORT_SLAB_WAGES_TYPE_MASTER] OFF
