USE [SCFS_ERP]
GO
/****** Object:  Table [dbo].[EXPORT_GATEOUT_GOOTYPE]    Script Date: 09/08/2021 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXPORT_GATEOUT_GOOTYPE](
	[GOOTYPE] [int] IDENTITY(1,1) NOT NULL,
	[GOOTYPEDESC] [varchar](100) NULL CONSTRAINT [DF_EXPORT_GATEOUT_GOOTYPE_GOOTYPEDESC]  DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[GOOTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EXPORT_GATEOUT_GOOTYPE] ON 

INSERT [dbo].[EXPORT_GATEOUT_GOOTYPE] ([GOOTYPE], [GOOTYPEDESC]) VALUES (1, N'On Wheel Manual')
INSERT [dbo].[EXPORT_GATEOUT_GOOTYPE] ([GOOTYPE], [GOOTYPEDESC]) VALUES (2, N'On Wheel Mechanical')
INSERT [dbo].[EXPORT_GATEOUT_GOOTYPE] ([GOOTYPE], [GOOTYPEDESC]) VALUES (3, N'Ground Stuff Manual')
SET IDENTITY_INSERT [dbo].[EXPORT_GATEOUT_GOOTYPE] OFF
