USE [SCFS]
GO
/****** Object:  Table [dbo].[EQUIPMENT_LOAD_STATUS]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EQUIPMENT_LOAD_STATUS](
	[ELSID] [int] NOT NULL CONSTRAINT [DF_Table_1_EQTID]  DEFAULT ((0)),
	[ELSDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_EQTDESC]  DEFAULT (NULL),
	[ELSCODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_EQTCODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_LOAD_STATUS_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_LOAD_STATUS_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_EQUIPMENT_LOAD_STATUS_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_EQUIPMENT_LOAD_STATUS_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_EQUIPMENT_LOAD_STATUS] PRIMARY KEY CLUSTERED 
(
	[ELSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EQUIPMENT_SEAL_TYPE]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EQUIPMENT_SEAL_TYPE](
	[ESTYPEID] [int] NOT NULL CONSTRAINT [DF_Table_1_RPTYPEID_1]  DEFAULT ((0)),
	[ESTYPEDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_RPTYPEDESC_1]  DEFAULT (NULL),
	[ESTYPECODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_RPTYPECODE_1]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_SEAL_TYPE_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_SEAL_TYPE_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_EQUIPMENT_SEAL_TYPE_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_EQUIPMENT_SEAL_TYPE_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_EQUIPMENT_SEAL_TYPE] PRIMARY KEY CLUSTERED 
(
	[ESTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EQUIPMENT_STATUS]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EQUIPMENT_STATUS](
	[ESID] [int] NOT NULL CONSTRAINT [DF_Table_1_ELSID]  DEFAULT ((0)),
	[ESDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_ELSDESC]  DEFAULT (NULL),
	[ESCODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_ELSCODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_STATUS_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_STATUS_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_EQUIPMENT_STATUS_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_EQUIPMENT_STATUS_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_EQUIPMENT_STATUS] PRIMARY KEY CLUSTERED 
(
	[ESID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EQUIPMENT_TYPE_MASTER]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EQUIPMENT_TYPE_MASTER](
	[EQTID] [int] NOT NULL CONSTRAINT [DF_Table_1_RPTYPEID]  DEFAULT ((0)),
	[EQTDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_RPTYPEDESC]  DEFAULT (NULL),
	[EQTCODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_RPTYPECODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_TYPE_MASTER_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_TYPE_MASTER_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_EQUIPMENT_TYPE_MASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_EQUIPMENT_TYPE_MASTER_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_EQUIPMENT_TYPE_MASTER] PRIMARY KEY CLUSTERED 
(
	[EQTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EQUIPMENT_UQC]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EQUIPMENT_UQC](
	[EUQCID] [int] NOT NULL CONSTRAINT [DF_Table_1_ESID]  DEFAULT ((0)),
	[EUQCDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_ESDESC]  DEFAULT (NULL),
	[EUQCCODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_ESCODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_UQC_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_EQUIPMENT_UQC_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_EQUIPMENT_UQC_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_EQUIPMENT_UQC_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_EQUIPMENT_UQC] PRIMARY KEY CLUSTERED 
(
	[EUQCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINAL_DESTINATION_CODE]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINAL_DESTINATION_CODE](
	[FDID] [int] NOT NULL CONSTRAINT [DF_Table_1_STF_MSG_TID]  DEFAULT ((0)),
	[FDDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_STF_MSG_TDESC]  DEFAULT (NULL),
	[FDCODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_STF_MSG_TCODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_FINAL_DESTINATION_CODE_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_FINAL_DESTINATION_CODE_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_FINAL_DESTINATION_CODE_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_FINAL_DESTINATION_CODE_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_FINAL_DESTINATION_CODE] PRIMARY KEY CLUSTERED 
(
	[FDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PORT_OF_REPORTING]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PORT_OF_REPORTING](
	[PRID] [int] NOT NULL CONSTRAINT [DF_Table_1_BOOKID]  DEFAULT ((0)),
	[PRDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_BOOKDESC]  DEFAULT (NULL),
	[PRCODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_BOOKCODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_PORT_OF_REPORTING_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_PORT_OF_REPORTING_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_PORT_OF_REPORTING_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_PORT_OF_REPORTING_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_PORT_OF_REPORTING] PRIMARY KEY CLUSTERED 
(
	[PRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REPORTING_EVENT]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REPORTING_EVENT](
	[REID] [int] NOT NULL CONSTRAINT [DF_Table_1_PRID]  DEFAULT ((0)),
	[REDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_PRDESC]  DEFAULT (NULL),
	[RECODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_PRCODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_REPORTING_EVENT_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_REPORTING_EVENT_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_REPORTING_EVENT_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_REPORTING_EVENT_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_REPORTING_EVENT] PRIMARY KEY CLUSTERED 
(
	[REID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REPORTING_PARTY_TYPE]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REPORTING_PARTY_TYPE](
	[RPTYPEID] [int] NOT NULL CONSTRAINT [DF_Table_1_REID]  DEFAULT ((0)),
	[RPTYPEDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_REDESC]  DEFAULT (NULL),
	[RPTYPECODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_RECODE]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_REPORTING_PARTY_TYPE_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_REPORTING_PARTY_TYPE_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_REPORTING_PARTY_TYPE_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_REPORTING_PARTY_TYPE_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_REPORTING_PARTY_TYPE] PRIMARY KEY CLUSTERED 
(
	[RPTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUFFING_JSON_DETAIL]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUFFING_JSON_DETAIL](
	[STFXID] [int] IDENTITY(1,1) NOT NULL,
	[STFXNO] [int] NOT NULL,
	[STFXDNO] [varchar](10) NOT NULL CONSTRAINT [DF_Table_1_STFXDNO]  DEFAULT (NULL),
	[STFDID] [int] NOT NULL CONSTRAINT [DF_Table_1_STFDID_1]  DEFAULT ((0)),
	[STF_MSG_TID] [int] NOT NULL CONSTRAINT [DF_Table_1_STF_MSG_TID_2]  DEFAULT ((0)),
	[PRID] [int] NOT NULL CONSTRAINT [DF_Table_1_PRID_2]  DEFAULT ((0)),
	[REID] [int] NOT NULL CONSTRAINT [DF_Table_1_REID_2]  DEFAULT ((0)),
	[RPTYPEID] [int] NOT NULL CONSTRAINT [DF_Table_1_RPTYPEID_4]  DEFAULT ((0)),
	[STF_RPTYPE_CODE] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_RPTYPE_CODE_1]  DEFAULT (NULL),
	[STF_RLOCT_NAME] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_RLOCT_NAME_1]  DEFAULT (NULL),
	[STF_RLOCT_CODE] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_RLOCT_CODE_1]  DEFAULT (NULL),
	[STF_AP_PANNO] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_AP_PANNO_1]  DEFAULT (NULL),
	[STF_CONTNRNO] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_STF_CONTNRNO_1]  DEFAULT (NULL),
	[EQTID] [int] NOT NULL CONSTRAINT [DF_Table_1_EQTID_2]  DEFAULT ((0)),
	[STF_CONTNRSDESC] [varchar](10) NOT NULL CONSTRAINT [DF_Table_1_STF_CONTNRSDESC_1]  DEFAULT (NULL),
	[ELSID] [int] NOT NULL CONSTRAINT [DF_Table_1_ELSID_2]  DEFAULT ((0)),
	[STF_AEQUIPDESC] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_AEQUIPDESC_1]  DEFAULT (NULL),
	[FDID] [int] NOT NULL CONSTRAINT [DF_Table_1_FDID_1]  DEFAULT ((0)),
	[STF_EVENTDATE] [smalldatetime] NULL CONSTRAINT [DF_Table_1_STF_EVENTDATE_1]  DEFAULT (NULL),
	[ESTYPEID] [int] NOT NULL CONSTRAINT [DF_Table_1_ESTYPEID_1]  DEFAULT ((0)),
	[STF_EQSEALNO] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_EQSEALNO_1]  DEFAULT (NULL),
	[STF_OTHR_EQID] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_OTHR_EQID_1]  DEFAULT (NULL),
	[ESID] [int] NOT NULL CONSTRAINT [DF_Table_1_ESID_2]  DEFAULT ((0)),
	[STF_EQPKG_DESC] [varchar](50) NULL CONSTRAINT [DF_Table_1_STF_EQPKG_DESC_1]  DEFAULT (NULL),
	[STF_EQPKG_QTY] [numeric](18, 2) NOT NULL CONSTRAINT [DF_Table_1_STF_EQPKG_QTY_1]  DEFAULT ((0)),
	[EUQCID] [int] NOT NULL CONSTRAINT [DF_Table_1_EUQCID_1]  DEFAULT ((0)),
	[CREATEDDATETIME] [datetime] NULL CONSTRAINT [DF_Table_1_CREATEDDATETIME_1]  DEFAULT (NULL),
 CONSTRAINT [PK_Table_1_1] PRIMARY KEY CLUSTERED 
(
	[STFXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUFFING_MESSAGE_TYPE]    Script Date: 18/11/2021 16:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUFFING_MESSAGE_TYPE](
	[STF_MSG_TID] [int] NOT NULL CONSTRAINT [DF_Table_1_RPTYPEID_2]  DEFAULT ((0)),
	[STF_MSG_TDESC] [varchar](50) NOT NULL CONSTRAINT [DF_Table_1_RPTYPEDESC_2]  DEFAULT (NULL),
	[STF_MSG_TCODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_RPTYPECODE_2]  DEFAULT (NULL),
	[CUSRID] [int] NOT NULL CONSTRAINT [DF_STUFFING_MESSAGE_TYPE_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_STUFFING_MESSAGE_TYPE_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_STUFFING_MESSAGE_TYPE_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_STUFFING_MESSAGE_TYPE_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_STUFFING_MESSAGE_TYPE] PRIMARY KEY CLUSTERED 
(
	[STF_MSG_TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EQUIPMENT_LOAD_STATUS] ([ELSID], [ELSDESC], [ELSCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'FCL - FULL', N'FCL', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_LOAD_STATUS] ([ELSID], [ELSDESC], [ELSCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'LCL - PARTIAL', N'LCL', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_LOAD_STATUS] ([ELSID], [ELSDESC], [ELSCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'EMP - EMPTY', N'EMP', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_SEAL_TYPE] ([ESTYPEID], [ESTYPEDESC], [ESTYPECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'ESEAL', N'ES', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_SEAL_TYPE] ([ESTYPEID], [ESTYPEDESC], [ESTYPECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'BOTTLE SEAL', N'BS', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_SEAL_TYPE] ([ESTYPEID], [ESTYPEDESC], [ESTYPECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'OTHER SEAL', N'OS', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_STATUS] ([ESID], [ESDESC], [ESCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'ARRIVAL, COMPLETED', N'001', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_STATUS] ([ESID], [ESDESC], [ESCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'ARRIVAL, IN DEFECTIVE CONDITION', N'3', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_STATUS] ([ESID], [ESDESC], [ESCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'CONSOLIDATED', N'15', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_TYPE_MASTER] ([EQTID], [EQTDESC], [EQTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'BB - BREAKBULK', N'BB', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_TYPE_MASTER] ([EQTID], [EQTDESC], [EQTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'BL - BLOCKS', N'BL', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_TYPE_MASTER] ([EQTID], [EQTDESC], [EQTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'CH - CHASSIS', N'CH', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_UQC] ([EUQCID], [EUQCDESC], [EUQCCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'PACKAGE', N'PKG', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[EQUIPMENT_UQC] ([EUQCID], [EUQCDESC], [EUQCCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'KILOGRAM', N'KGS', 1, 1, 0, CAST(N'2021-08-12 00:00:00.000' AS DateTime))
INSERT [dbo].[FINAL_DESTINATION_CODE] ([FDID], [FDDESC], [FDCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'CCTL', N'INMAA1CCT1', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[FINAL_DESTINATION_CODE] ([FDID], [FDDESC], [FDCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'CITPL', N'INMAA1CIT1', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[FINAL_DESTINATION_CODE] ([FDID], [FDDESC], [FDCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'KICT', N'INKAT1LNT1', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[PORT_OF_REPORTING] ([PRID], [PRDESC], [PRCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'CHENNAI', N'INMAA1', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[PORT_OF_REPORTING] ([PRID], [PRDESC], [PRCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'KICT', N'INKAT1', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[PORT_OF_REPORTING] ([PRID], [PRDESC], [PRCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'ENNORE ADANI', N'INENR1
', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[REPORTING_EVENT] ([REID], [REDESC], [RECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'SF - STUFFING', N'SF', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[REPORTING_EVENT] ([REID], [REDESC], [RECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'ST - STRIPPING', N'ST', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[REPORTING_PARTY_TYPE] ([RPTYPEID], [RPTYPEDESC], [RPTYPECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'C - CUSTODIAN', N'C', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[REPORTING_PARTY_TYPE] ([RPTYPEID], [RPTYPEDESC], [RPTYPECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'sds', N'1', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[STUFFING_JSON_DETAIL] ON 

SET IDENTITY_INSERT [dbo].[STUFFING_JSON_DETAIL] OFF
INSERT [dbo].[STUFFING_MESSAGE_TYPE] ([STF_MSG_TID], [STF_MSG_TDESC], [STF_MSG_TCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'FRESH', N'F', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[STUFFING_MESSAGE_TYPE] ([STF_MSG_TID], [STF_MSG_TDESC], [STF_MSG_TCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'AMENDMENT', N'A', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
INSERT [dbo].[STUFFING_MESSAGE_TYPE] ([STF_MSG_TID], [STF_MSG_TDESC], [STF_MSG_TCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'DELETION', N'D', 1, 1, 0, CAST(N'2021-04-01 00:00:00.000' AS DateTime))
ALTER TABLE [dbo].[STUFFING_JSON_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_STUFFING_JSON_DETAIL_STUFFINGDETAIL] FOREIGN KEY([STFDID])
REFERENCES [dbo].[STUFFINGDETAIL] ([STFDID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUFFING_JSON_DETAIL] CHECK CONSTRAINT [FK_STUFFING_JSON_DETAIL_STUFFINGDETAIL]
GO
