USE [SCFS_ERP]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTERFACTOR_18112022]    Script Date: 19-11-2022 15:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONMASTERFACTOR_18112022]') AND type in (N'U'))
DROP TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR_18112022]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTER_18112022]    Script Date: 19-11-2022 15:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONMASTER_18112022]') AND type in (N'U'))
DROP TABLE [dbo].[BONDTRANSACTIONMASTER_18112022]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONDETAIL_18112022]    Script Date: 19-11-2022 15:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BONDTRANSACTIONDETAIL_18112022]') AND type in (N'U'))
DROP TABLE [dbo].[BONDTRANSACTIONDETAIL_18112022]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONDETAIL_18112022]    Script Date: 19-11-2022 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDTRANSACTIONDETAIL_18112022](
	[TRANDID] [int] NOT NULL,
	[TRANMID] [int] NOT NULL,
	[BNDID] [int] NOT NULL,
	[EBNDID] [int] NOT NULL,
	[TRANDBNDNO] [varchar](20) NOT NULL,
	[TRANDEBNDNO] [varchar](20) NOT NULL,
	[TARIFFMID] [int] NOT NULL,
	[SLABTID] [int] NOT NULL,
	[CONTNRSID] [int] NOT NULL,
	[YRDID] [int] NOT NULL,
	[TRANCTYPE] [smallint] NULL,
	[TRANOTYPE] [smallint] NULL,
	[TRANHTYPE] [smallint] NULL,
	[TRANCDATE] [smalldatetime] NULL,
	[TRANSFDATE] [smalldatetime] NULL,
	[TRANSEDATE] [smalldatetime] NULL,
	[TRANIFDATE] [smalldatetime] NULL,
	[TRANIEDATE] [smalldatetime] NULL,
	[TRANDQTY] [numeric](18, 2) NOT NULL,
	[TRANDNOP] [numeric](18, 2) NULL,
	[TRANDRATE] [numeric](18, 2) NOT NULL,
	[TRANDWGHT] [numeric](18, 3) NULL,
	[TRANDCIFAMT] [numeric](18, 2) NULL,
	[TRANDDTYAMT] [numeric](18, 2) NULL,
	[TRANDINSAMT] [numeric](18, 2) NULL,
	[TRANDEIAMT] [numeric](18, 2) NULL,
	[TRANDGAMT] [numeric](18, 2) NOT NULL,
	[TRANDSAMT] [numeric](18, 2) NULL,
	[TRANDHAMT] [numeric](18, 2) NULL,
	[TRANDIAMT] [numeric](18, 2) NULL,
	[TRANDNAMT] [numeric](18, 2) NOT NULL,
	[TRANDAID] [int] NOT NULL,
	[DISPSTATUS] [smallint] NOT NULL,
	[RCOLDESC1] [varchar](100) NULL,
	[RCOLDESC2] [varchar](100) NULL,
	[RCOLDESC3] [varchar](100) NULL,
	[RCOLDESC4] [varchar](100) NULL,
	[VTDID] [int] NULL,
	[TRANDPLAMT] [numeric](18, 2) NOT NULL,
	[TRANDPTAMT] [numeric](18, 2) NOT NULL,
	[TRAND_CGST_EXPRN] [numeric](18, 2) NOT NULL,
	[TRAND_SGST_EXPRN] [numeric](18, 2) NOT NULL,
	[TRAND_IGST_EXPRN] [numeric](18, 2) NOT NULL,
	[TRAND_CGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAND_SGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAND_IGST_AMT] [numeric](18, 2) NOT NULL,
	[INS_TRAND_CGST_AMT] [numeric](18, 2) NOT NULL,
	[INS_TRAND_SGST_AMT] [numeric](18, 2) NOT NULL,
	[INS_TRAND_IGST_AMT] [numeric](18, 2) NOT NULL,
	[PERIODTID] [int] NULL,
	[TRAND_HSN_CODE] [varchar](50) NULL,
	[INS_TRAND_HSN_CODE] [varchar](50) NULL,
	[TRAND_TAXABLE_AMT] [numeric](18, 2) NULL,
	[INS_TRAND_TAXABLE_AMT] [numeric](18, 2) NULL,
	[STATETYPE] [int] NULL,
	[BILLDESC] [nvarchar](max) NULL,
	[EXBNDVTSPC] [numeric](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTER_18112022]    Script Date: 19-11-2022 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDTRANSACTIONMASTER_18112022](
	[TRANMID] [int] NOT NULL,
	[COMPYID] [int] NOT NULL,
	[SDPTID] [int] NOT NULL,
	[REGSTRID] [int] NOT NULL,
	[TRANBTYPE] [smallint] NOT NULL,
	[TRANDATE] [smalldatetime] NOT NULL,
	[TRANTIME] [datetime] NOT NULL,
	[TRANNO] [int] NOT NULL,
	[TRANDNO] [varchar](50) NOT NULL,
	[CHAID] [int] NOT NULL,
	[IMPRTID] [int] NOT NULL,
	[TRANCHANAME] [varchar](100) NOT NULL,
	[TRANIMPRTNAME] [varchar](100) NOT NULL,
	[TRANTID] [numeric](18, 0) NOT NULL,
	[BANKMID] [int] NULL,
	[TRANMODE] [smallint] NOT NULL,
	[TRANMODEDETL] [varchar](150) NULL,
	[TRANREFNO] [varchar](25) NULL,
	[TRANREFDATE] [smalldatetime] NULL,
	[TRANREFBNAME] [varchar](100) NULL,
	[TRANREFAMT] [numeric](18, 2) NULL,
	[TRANROAMT] [numeric](18, 2) NOT NULL,
	[TRANGAMT] [numeric](18, 2) NULL,
	[TRANSAMT] [numeric](18, 2) NULL,
	[TRANHAMT] [numeric](18, 2) NULL,
	[TRANIAMT] [numeric](18, 2) NULL,
	[TRANNAMT] [numeric](18, 2) NOT NULL,
	[TRANAMTWRDS] [varchar](250) NULL,
	[TRANLMID] [int] NOT NULL,
	[TRANLMNO] [varchar](50) NULL,
	[TRANLMDATE] [smalldatetime] NULL,
	[TRANNARTN] [varchar](250) NULL,
	[TRANRMKS] [varchar](250) NULL,
	[TRANPCOUNT] [int] NULL,
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL,
	[DISPSTATUS] [smallint] NULL,
	[PRCSDATE] [datetime] NULL,
	[TRANREFNAME] [varchar](100) NULL,
	[BILLREFID] [int] NOT NULL,
	[TRANGSTNO] [varchar](50) NULL,
	[TRANPTAMT] [numeric](18, 2) NOT NULL,
	[TRANPLAMT] [numeric](18, 2) NOT NULL,
	[IRNNO] [varchar](100) NULL,
	[ACKNO] [varchar](100) NULL,
	[ACKDT] [datetime] NULL,
	[QRCODEPATH] [varchar](max) NULL,
	[TRAN_CGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAN_SGST_AMT] [numeric](18, 2) NOT NULL,
	[TRAN_IGST_AMT] [numeric](18, 2) NOT NULL,
	[BCATEAID] [int] NOT NULL,
	[TRAN_TAXABLE_AMT] [numeric](18, 2) NULL,
	[TRANBILLREFNO] [varchar](50) NULL,
	[TAXTYPE] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BONDTRANSACTIONMASTERFACTOR_18112022]    Script Date: 19-11-2022 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONDTRANSACTIONMASTERFACTOR_18112022](
	[TRANMFID] [int] NOT NULL,
	[TRANMID] [int] NULL,
	[CFID] [int] NULL,
	[DEDEXPRN] [numeric](18, 2) NULL,
	[DEDNOS] [numeric](18, 2) NULL,
	[DEDMODE] [varchar](50) NULL,
	[DEDTYPE] [int] NULL,
	[DEDORDR] [int] NULL,
	[CFOPTN] [smallint] NULL,
	[DORDRID] [smallint] NULL,
	[DEDVALUE] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
