USE [SCFS_ERP]
GO
/****** Object:  Table [dbo].[PERFORMA_TRANSACTIONDETAIL]    Script Date: 01-09-2021 15:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PERFORMA_TRANSACTIONDETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PERFORMA_TRANSACTIONDETAIL](
	[TRANDID] [int] IDENTITY(1,1) NOT NULL,
	[TRANMID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANMID]  DEFAULT ((0)),
	[SLABTID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_SLABTID]  DEFAULT ((0)),
	[BILLEDID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_BILLEDID]  DEFAULT ((0)),
	[TRANDREFID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDREFID]  DEFAULT ((0)),
	[TRANDREFNAME] [varchar](200) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDREFNAME]  DEFAULT (NULL),
	[TRANDREFNO] [varchar](15) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDREFNO]  DEFAULT (NULL),
	[TRANIDATE] [smalldatetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANFDATE]  DEFAULT (NULL),
	[TRANSDATE] [smalldatetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANSDATE]  DEFAULT (NULL),
	[TRANEDATE] [smalldatetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANEDATE]  DEFAULT (NULL),
	[TRANVDATE] [smalldatetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANEDATE1]  DEFAULT (NULL),
	[TARIFFMID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TARIFFMID]  DEFAULT ((0)),
	[TRANOTYPE] [smallint] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANOTYPE]  DEFAULT ((0)),
	[TRANYTYPE] [smallint] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANYTYPE]  DEFAULT ((0)),
	[RCOL1] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCOL1]  DEFAULT ((0)),
	[RCOL2] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCOL11]  DEFAULT ((0)),
	[RCOL3] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCOL12]  DEFAULT ((0)),
	[RCOL4] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCOL11_1]  DEFAULT ((0)),
	[RAMT1] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT1]  DEFAULT ((0)),
	[RAMT2] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT11]  DEFAULT ((0)),
	[RAMT3] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT12]  DEFAULT ((0)),
	[RAMT4] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT13]  DEFAULT ((0)),
	[RCAMT1] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT11_1]  DEFAULT ((0)),
	[RCAMT2] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT21]  DEFAULT ((0)),
	[RCAMT3] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT31]  DEFAULT ((0)),
	[RCAMT4] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT41]  DEFAULT ((0)),
	[TRANDQTY] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDQTY]  DEFAULT ((0)),
	[TRANDRATE] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDRATE_1]  DEFAULT ((0)),
	[TRANDWGHT] [numeric](18, 3) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDWGHT]  DEFAULT ((0)),
	[TRANDGAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDGAMT]  DEFAULT ((0)),
	[TRANDSAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDSAMT]  DEFAULT ((0)),
	[TRANDHAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDCAMT]  DEFAULT ((0)),
	[TRANDNAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDNAMT]  DEFAULT ((0)),
	[TRANDAID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDAID]  DEFAULT ((0)),
	[TRANVHLFROM] [varchar](25) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANVHLFROM]  DEFAULT (NULL),
	[TRANVHLTO] [varchar](25) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANVHLFROM1]  DEFAULT (NULL),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_DISPSTATUS]  DEFAULT ((0)),
	[STFDID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_STFDID]  DEFAULT ((0)),
	[SBDID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_SBDID]  DEFAULT ((0)),
	[TRANDNOP] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDNOP]  DEFAULT ((0)),
	[TRANDEAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDEAMT]  DEFAULT ((0)),
	[TRANDFAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDFAMT]  DEFAULT ((0)),
	[TRANDPAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDPAMT]  DEFAULT ((0)),
	[TRANDAAMT] [numeric](18, 0) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDAAMT]  DEFAULT ((0)),
	[RCOL5] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCOL5]  DEFAULT ((0)),
	[RCOL6] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCOL6]  DEFAULT ((0)),
	[RCOL7] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCOL7]  DEFAULT ((0)),
	[RAMT5] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT5]  DEFAULT ((0)),
	[RAMT6] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT6]  DEFAULT ((0)),
	[RAMT7] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RAMT7]  DEFAULT ((0)),
	[RCAMT5] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCAMT5]  DEFAULT ((0)),
	[RCAMT6] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCAMT6]  DEFAULT ((0)),
	[RCAMT7] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_RCAMT7]  DEFAULT ((0)),
	[ACHEADID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_ACHEADID]  DEFAULT ((0)),
	[TRANDDESC] [ntext] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDDESC]  DEFAULT (NULL),
	[TRANDAHAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRANDAHAMT]  DEFAULT ((0)),
	[TRAND_COVID_DISC_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_COVID_DISC_AMT]  DEFAULT ((0)),
	[TRAND_STRG_CGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_STRG_CGST_EXPRN]  DEFAULT ((0)),
	[TRAND_STRG_SGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_STRG_SGST_EXPRN]  DEFAULT ((0)),
	[TRAND_STRG_IGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_STRG_IGST_EXPRN]  DEFAULT ((0)),
	[TRAND_STRG_CGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_STRG_CGST_AMT]  DEFAULT ((0)),
	[TRAND_STRG_SGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_STRG_SGST_AMT]  DEFAULT ((0)),
	[TRAND_STRG_IGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_STRG_IGST_AMT]  DEFAULT ((0)),
	[TRAND_HANDL_CGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_HANDL_CGST_EXPRN]  DEFAULT ((0)),
	[TRAND_HANDL_SGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_HANDL_SGST_EXPRN]  DEFAULT ((0)),
	[TRAND_HANDL_IGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_HANDL_IGST_EXPRN]  DEFAULT ((0)),
	[TRAND_HANDL_CGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_HANDL_CGST_AMT]  DEFAULT ((0)),
	[TRAND_HANDL_SGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_HANDL_SGST_AMT]  DEFAULT ((0)),
	[TRAND_HANDL_IGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONDETAIL_TRAND_HANDL_IGST_AMT]  DEFAULT ((0)),
 CONSTRAINT [PK_PERFORMA_TRANSACTIONDETAIL] PRIMARY KEY CLUSTERED 
(
	[TRANDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERFORMA_TRANSACTIONMASTER]    Script Date: 01-09-2021 15:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
-- drop table [PERFORMA_TRANSACTIONMASTER]
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PERFORMA_TRANSACTIONMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PERFORMA_TRANSACTIONMASTER](
	[TRANMID] [int] IDENTITY(1,1) NOT NULL,
	[COMPYID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_COMPYID]  DEFAULT ((0)),
	[SDPTID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_SDPTID]  DEFAULT ((0)),
	[REGSTRID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_REGSTRID]  DEFAULT ((0)),
	[TRANBTYPE] [smallint] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANBTYPE]  DEFAULT ((0)),
	[TRANDATE] [smalldatetime] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANDATE]  DEFAULT (NULL),
	[TRANTIME] [datetime] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANTIME]  DEFAULT (NULL),
	[TRANNO] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANNO]  DEFAULT ((0)),
	[TRANDNO] [varchar](50) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANDNO]  DEFAULT (NULL),
	[TRANREFID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANREFID]  DEFAULT ((0)),
	[TRANREFNAME] [varchar](100) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANREFNAME]  DEFAULT (''),
	[LCATEID] [int] NOT NULL,
	[TRANTID] [numeric](18, 0) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANTID]  DEFAULT ((0)),
	[BANKMID] [int] NULL,
	[TRANMODE] [smallint] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANMODE]  DEFAULT ((0)),
	[TRANMODEDETL] [varchar](150) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANMODEDETL]  DEFAULT (NULL),
	[TRANREFNO] [varchar](25) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANREFNO]  DEFAULT (NULL),
	[TRANREFDATE] [smalldatetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANDATE1]  DEFAULT (NULL),
	[TRANREFBNAME] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANREFNAME1]  DEFAULT (NULL),
	[TRANREFAMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANGAMT1]  DEFAULT ((0)),
	[TRANROAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANROAMT]  DEFAULT ((0)),
	[TRANGAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANGAMT]  DEFAULT ((0)),
	[TRANSAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANSAMT]  DEFAULT ((0)),
	[TRANHAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANCAMT]  DEFAULT ((0)),
	[TRANNAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANNAMT]  DEFAULT ((0)),
	[TRANAMTWRDS] [varchar](250) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANAMTWRDS]  DEFAULT (NULL),
	[TRANLMID] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANLMID]  DEFAULT ((0)),
	[TRANLMNO] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANLMNO]  DEFAULT (NULL),
	[TRANLMDATE] [smalldatetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANLMDATE]  DEFAULT (NULL),
	[TRANLSID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANLSID]  DEFAULT ((0)),
	[TRANLSNO] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANLMNO1]  DEFAULT (NULL),
	[TRANLSDATE] [smalldatetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANLMDATE1]  DEFAULT (NULL),
	[TRANNARTN] [varchar](250) NULL,
	[TRANRMKS] [varchar](250) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANRMKS]  DEFAULT (NULL),
	[TRANCSNAME] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANCSNAME]  DEFAULT (NULL),
	[TRANPCOUNT] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANPCOUNT]  DEFAULT ((0)),
	[CUSRID] [varchar](25) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_PRCSDATE]  DEFAULT (NULL),
	[TRANEAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANEAMT]  DEFAULT ((0)),
	[TRANFAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANFAMT]  DEFAULT ((0)),
	[TRANPAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANPAMT]  DEFAULT ((0)),
	[TRANTCAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANPAMT1]  DEFAULT ((0)),
	[TRANAAMT] [numeric](18, 0) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANAAMT]  DEFAULT ((0)),
	[TRANINOC1] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANINOC1]  DEFAULT ((0)),
	[TRANINOC2] [numeric](18, 0) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANINOC2]  DEFAULT ((0)),
	[TRANHBLNO] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANHBLNO]  DEFAULT (NULL),
	[TRANPONO] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANPONO]  DEFAULT (NULL),
	[TRANIMPADDR1] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANIMPADDR1]  DEFAULT (NULL),
	[TRANIMPADDR2] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANIMPADDR13]  DEFAULT (NULL),
	[TRANIMPADDR3] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANIMPADDR12]  DEFAULT (NULL),
	[TRANIMPADDR4] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANIMPADDR11]  DEFAULT (NULL),
	[LEMID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_LEMID]  DEFAULT ((0)),
	[TRANAHAMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANAHAMT]  DEFAULT ((0)),
	[STRG_HSNCODE] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_HSNCODE]  DEFAULT (NULL),
	[HANDL_HSNCODE] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_HSNCODE]  DEFAULT (NULL),
	[STRG_TAXABLE_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_TAXABLE_AMT]  DEFAULT ((0)),
	[HANDL_TAXABLE_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_TAXABLE_AMT]  DEFAULT ((0)),
	[STRG_CGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_CGST_EXPRN]  DEFAULT ((0)),
	[STRG_SGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_SGST_EXPRN]  DEFAULT ((0)),
	[STRG_IGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_IGST_EXPRN]  DEFAULT ((0)),
	[STRG_CGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_CGST_AMT]  DEFAULT ((0)),
	[STRG_SGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_SGST_AMT]  DEFAULT ((0)),
	[STRG_IGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_STRG_IGST_AMT]  DEFAULT ((0)),
	[HANDL_CGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_CGST_EXPRN]  DEFAULT ((0)),
	[HANDL_SGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_SGST_EXPRN]  DEFAULT ((0)),
	[HANDL_IGST_EXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_IGST_EXPRN]  DEFAULT ((0)),
	[HANDL_CGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_CGST_AMT]  DEFAULT ((0)),
	[HANDL_SGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_SGST_AMT]  DEFAULT ((0)),
	[HANDL_IGST_AMT] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_HANDL_IGST_AMT]  DEFAULT ((0)),
	[TRANGSTNO] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRANGSTNO]  DEFAULT (NULL),
	[CATEAID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_CATEAID]  DEFAULT ((0)),
	[TALLYSTAT] [int] NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TALLYSTAT]  DEFAULT ((0)),
	[TRAN_COVID_DISC_AMT] [numeric](18, 2) NOT NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_TRAN_COVID_DISC_AMT]  DEFAULT ((0)),
	[IRNNO] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_IRNNO]  DEFAULT (NULL),
	[ACKNO] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_ACKNO]  DEFAULT (NULL),
	[ACKDT] [datetime] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_ACKDT]  DEFAULT (NULL),
	[QRCODEPATH] [varchar](max) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTER_QRCODEPATH]  DEFAULT (NULL),
	[TRANBILLREFNO] [varchar](35) NULL,
	[STATEID] [int] NULL DEFAULT ((0)),
	[CATEAGSTNO] [varchar](50) NULL DEFAULT (''),
	[TRANCGSTAMT] [numeric](18, 2) NOT NULL DEFAULT ((0)),
	[TRANSGSTAMT] [numeric](18, 2) NOT NULL DEFAULT ((0)),
	[TRANIGSTAMT] [numeric](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_PERFORMA_TRANSACTIONMASTER] PRIMARY KEY CLUSTERED 
(
	[TRANMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERFORMA_TRANSACTIONMASTERFACTOR]    Script Date: 01-09-2021 15:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
-- drop table [PERFORMA_TRANSACTIONMASTERFACTOR]
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PERFORMA_TRANSACTIONMASTERFACTOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PERFORMA_TRANSACTIONMASTERFACTOR](
	[TRANMFID] [int] IDENTITY(1,1) NOT NULL,
	[TRANMID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_TRANMID]  DEFAULT ((0)),
	[CFID] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_CFID]  DEFAULT ((0)),
	[DEDEXPRN] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DEDEXPRN]  DEFAULT ((0)),
	[DEDNOS] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DEDNOS]  DEFAULT ((0)),
	[DEDMODE] [varchar](50) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DEDMODE]  DEFAULT (NULL),
	[DEDTYPE] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DEDTYPE]  DEFAULT ((0)),
	[DEDORDR] [int] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DEDORDR]  DEFAULT ((0)),
	[CFOPTN] [smallint] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_CFOPTN]  DEFAULT ((0)),
	[DORDRID] [smallint] NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DORDRID]  DEFAULT ((0)),
	[DEDVALUE] [numeric](18, 2) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DEDVALUE]  DEFAULT ((0)),
	[DEDCFDESC] [varchar](100) NULL CONSTRAINT [DF_PERFORMA_TRANSACTIONMASTERFACTOR_DEDCFDESC]  DEFAULT (NULL),
 CONSTRAINT [PK_PERFORMA_TRANSACTIONMASTERFACTOR] PRIMARY KEY CLUSTERED 
(
	[TRANMFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
-- drop table [PERFORMA_TRANSACTIONDETAIL]
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PERFORMA_TRANSACTIONDETAIL_PERFORMA_TRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[PERFORMA_TRANSACTIONDETAIL]'))
ALTER TABLE [dbo].[PERFORMA_TRANSACTIONDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_PERFORMA_TRANSACTIONDETAIL_PERFORMA_TRANSACTIONMASTER] FOREIGN KEY([TRANMID])
REFERENCES [dbo].[PERFORMA_TRANSACTIONMASTER] ([TRANMID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PERFORMA_TRANSACTIONDETAIL_PERFORMA_TRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[PERFORMA_TRANSACTIONDETAIL]'))
ALTER TABLE [dbo].[PERFORMA_TRANSACTIONDETAIL] CHECK CONSTRAINT [FK_PERFORMA_TRANSACTIONDETAIL_PERFORMA_TRANSACTIONMASTER]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PERFORMA_TRANSACTIONMASTERFACTOR_PERFORMA_TRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[PERFORMA_TRANSACTIONMASTERFACTOR]'))
ALTER TABLE [dbo].[PERFORMA_TRANSACTIONMASTERFACTOR]  WITH NOCHECK ADD  CONSTRAINT [FK_PERFORMA_TRANSACTIONMASTERFACTOR_PERFORMA_TRANSACTIONMASTER] FOREIGN KEY([TRANMID])
REFERENCES [dbo].[PERFORMA_TRANSACTIONMASTER] ([TRANMID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PERFORMA_TRANSACTIONMASTERFACTOR_PERFORMA_TRANSACTIONMASTER]') AND parent_object_id = OBJECT_ID(N'[dbo].[PERFORMA_TRANSACTIONMASTERFACTOR]'))
ALTER TABLE [dbo].[PERFORMA_TRANSACTIONMASTERFACTOR] CHECK CONSTRAINT [FK_PERFORMA_TRANSACTIONMASTERFACTOR_PERFORMA_TRANSACTIONMASTER]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONDETAIL', N'COLUMN',N'TRANDREFNAME'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONDETAIL', @level2type=N'COLUMN',@level2name=N'TRANDREFNAME'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONDETAIL', N'COLUMN',N'TRANDAID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PREVIOUS DETAIL ADJUSTED ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONDETAIL', @level2type=N'COLUMN',@level2name=N'TRANDAID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONDETAIL', N'COLUMN',N'DISPSTATUS'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-IN BOOKS 1 -CANCELLED' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONDETAIL', @level2type=N'COLUMN',@level2name=N'DISPSTATUS'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANBTYPE'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AUTOMATIC / MANUAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANBTYPE'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANREFID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IF REGSTRID -6 SUPPLIERID 7-WARDID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANREFID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANREFNAME'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SUPPLIER / DOCTOR / WARD NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANREFNAME'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANMODE'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MODE 0 -CASH 1 -CREDIT' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANMODE'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANMODEDETL'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CHEQUE / CREDIT / CARD DETAIL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANMODEDETL'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANREFNO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'REFERENCE NO (if any)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANREFNO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANREFBNAME'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SUPPLIER / DOCTOR / WARD NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANREFBNAME'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANAMTWRDS'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AMOUNT IN WORDS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANAMTWRDS'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANLMID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ORIGINAL BILL NO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANLMID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANRMKS'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'REMARKS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANRMKS'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'TRANCSNAME'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CHA STAFF NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'TRANCSNAME'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'CUSRID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ENTERED BY' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'CUSRID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PERFORMA_TRANSACTIONMASTER', N'COLUMN',N'LMUSRID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MODIFIED BY' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERFORMA_TRANSACTIONMASTER', @level2type=N'COLUMN',@level2name=N'LMUSRID'
GO
