USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Bond_HSN_Code_Wise_Invoice_Detail_Assgn]    Script Date: 26/12/2024 01:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Exec pr_Bond_HSN_Code_Wise_Invoice_Detail_Assgn 10, '01-apr-2023', '31-mar-2024'
CREATE PROCEDURE [dbo].[pr_Bond_HSN_Code_Wise_Invoice_Detail_Assgn]
@PSDPTID int, @PSDate smalldatetime, @PEDate smalldatetime
AS
BEGIN

	SET NOCOUNT ON;

	Declare @TmpTable Table
	(
	   TRANMID int,
	   REGSTRID int,
	   TRANNO int,
	   TRANDNO varchar(100),
	   TRANDATE smalldatetime,
	   CATEAGSTNO varchar(30),
	   TRANREFNAME varchar(100),
	   STRG_HSNCODE varchar(25),
	   TRANSAMT numeric(18,2),
	   HANDL_HSNCODE varchar(25),
	   TRANDHAMT numeric(18,2),
	   TRANGAMT numeric(18,2),
	   CGSTAMT numeric(18,2),
	   SGSTAMT numeric(18,2),
	   IGSTAMT numeric(18,2),
	   TRANNAMT numeric(18,2)
	)
    
	--Bond Invoice Register id 16,17
	Insert into @TmpTable(TRANMID, REGSTRID, TRANNO, TRANDNO, TRANDATE, CATEAGSTNO, TRANREFNAME, STRG_HSNCODE, TRANSAMT, HANDL_HSNCODE,
	                      TRANDHAMT, TRANGAMT, CGSTAMT, SGSTAMT, IGSTAMT, TRANNAMT)
    SELECT TOP (100) PERCENT dbo.BONDTRANSACTIONMASTER.TRANMID, dbo.BONDTRANSACTIONMASTER.REGSTRID, 
	dbo.BONDTRANSACTIONMASTER.TRANNO, dbo.BONDTRANSACTIONMASTER.TRANDNO, dbo.BONDTRANSACTIONMASTER.TRANDATE, 
    dbo.BONDTRANSACTIONMASTER.TRANGSTNO, dbo.BONDTRANSACTIONMASTER.TRANREFNAME, 
	MAX(CASE BONDTRANSACTIONDETAIL.SLABTID WHEN 2 THEN HSNCODE ELSE '' END) AS STRG_HSNCODE, 
    SUM(CASE BONDTRANSACTIONDETAIL.SLABTID WHEN 2 THEN TRANDGAMT ELSE 0 END) AS STRG_AMOUNT, 
	MAX(CASE BONDTRANSACTIONDETAIL.SLABTID WHEN 2 THEN '' ELSE HSNCODE END) AS HANDL_HSNCODE, 
    SUM(CASE BONDTRANSACTIONDETAIL.SLABTID WHEN 2 THEN 0 ELSE TRANDGAMT END) AS HANDL_AMOUNT, 
	dbo.BONDTRANSACTIONMASTER.TRANGAMT, dbo.BONDTRANSACTIONMASTER.TRAN_CGST_AMT, 
    dbo.BONDTRANSACTIONMASTER.TRAN_SGST_AMT, dbo.BONDTRANSACTIONMASTER.TRAN_IGST_AMT, 
	dbo.BONDTRANSACTIONMASTER.TRANNAMT
    FROM dbo.BONDTRANSACTIONMASTER 
	INNER JOIN dbo.BONDTRANSACTIONDETAIL ON dbo.BONDTRANSACTIONMASTER.TRANMID = dbo.BONDTRANSACTIONDETAIL.TRANMID 
	INNER JOIN dbo.BONDSLABTYPEMASTER ON dbo.BONDTRANSACTIONDETAIL.SLABTID = dbo.BONDSLABTYPEMASTER.SLABTID 
	INNER JOIN dbo.HSNCODEMASTER ON dbo.BONDSLABTYPEMASTER.HSNID = dbo.HSNCODEMASTER.HSNID
    WHERE (dbo.BONDTRANSACTIONMASTER.REGSTRID IN (16, 17))
	AND (dbo.BONDTRANSACTIONMASTER.SDPTID = @PSDPTID)
	AND (dbo.BONDTRANSACTIONMASTER.DISPSTATUS = 0)
	AND (dbo.BONDTRANSACTIONMASTER.TRANDATE BETWEEN @PSDate AND @PEDate)
	GROUP BY dbo.BONDTRANSACTIONMASTER.TRANMID, dbo.BONDTRANSACTIONMASTER.REGSTRID, dbo.BONDTRANSACTIONMASTER.TRANNO, dbo.BONDTRANSACTIONMASTER.TRANDNO, dbo.BONDTRANSACTIONMASTER.TRANDATE, 
             dbo.BONDTRANSACTIONMASTER.TRANREFNAME, dbo.BONDTRANSACTIONMASTER.TRANGSTNO, dbo.BONDTRANSACTIONMASTER.TRAN_CGST_AMT, dbo.BONDTRANSACTIONMASTER.TRAN_SGST_AMT, 
             dbo.BONDTRANSACTIONMASTER.TRAN_IGST_AMT, dbo.BONDTRANSACTIONMASTER.TRANGAMT, dbo.BONDTRANSACTIONMASTER.TRANNAMT    
    ORDER BY dbo.BONDTRANSACTIONMASTER.REGSTRID, dbo.BONDTRANSACTIONMASTER.TRANNO

    Select TRANDNO as [Invoice No.], TRANDATE as [Invoice Date], CATEAGSTNO as [GSTIN No.], 
	TRANREFNAME as [Party Name], STRG_HSNCODE as [Storage HSN Code], TRANSAMT as [Storage Amount], 
	HANDL_HSNCODE as [Handling HSN Code],TRANDHAMT as [Handling Amount], TRANGAMT as [Invoice Total], 
	CGSTAMT as [CGST], SGSTAMT as [SGST], IGSTAMT as [IGST], TRANNAMT as [Total Invoice Amoount] 
	From @TmpTable 
	Order by REGSTRID, TRANNO

END
