USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Export_Stuffing_COrder_No_Assgn]    Script Date: 02/08/2021 10:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[pr_Export_Stuffing_COrder_No_Assgn]  /* CHANGE */
		@PCHAId int, @PKUSRID VARCHAR(100)
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm

    DECLARE @TableMaster TABLE
    ( 
	   SBMID  INT,
	   SBDID INT ,
	   SBMDNO VARCHAR(100),
	   SBDNOP NUMERIC(18,2),
	   BNOP NUMERIC(18,2)
    )


DECLARE @LCHAId int, @LKUSRID VARCHAR(100)
set @LCHAId =@PCHAId
set @LKUSRID =@PKUSRID

set nocount on



INSERT INTO @TableMaster(SBMID, SBDID, SBMDNO, SBDNOP, BNOP)
SELECT        TOP (100) PERCENT dbo.SHIPPINGBILLDETAIL.SBMID, dbo.SHIPPINGBILLDETAIL.SBDID, LTRIM(dbo.SHIPPINGBILLMASTER.SBMDNO) 
                         + '(' + dbo.VW_YEAR_DETAIL_CBX_ASSGN.YRDESC + ')' AS SBMDNO, dbo.SHIPPINGBILLDETAIL.SBDNOP, 0
FROM            dbo.SHIPPINGBILLDETAIL INNER JOIN
                         dbo.SHIPPINGBILLMASTER ON dbo.SHIPPINGBILLDETAIL.SBMID = dbo.SHIPPINGBILLMASTER.SBMID INNER JOIN
                         dbo.VW_YEAR_DETAIL_CBX_ASSGN ON dbo.SHIPPINGBILLMASTER.COMPYID = dbo.VW_YEAR_DETAIL_CBX_ASSGN.COMPYID INNER JOIN
                         dbo.EXPORTSHIPPINGBILLMASTER ON dbo.SHIPPINGBILLDETAIL.ESBMID = dbo.EXPORTSHIPPINGBILLMASTER.ESBMID
WHERE        (dbo.SHIPPINGBILLMASTER.CHAID = @LCHAID)
GROUP BY dbo.SHIPPINGBILLDETAIL.SBMID, dbo.SHIPPINGBILLDETAIL.SBDID, LTRIM(dbo.SHIPPINGBILLMASTER.SBMDNO) 
                         + '(' + dbo.VW_YEAR_DETAIL_CBX_ASSGN.YRDESC + ')', dbo.SHIPPINGBILLDETAIL.SBDNOP
ORDER BY dbo.SHIPPINGBILLDETAIL.SBDID


--balance
INSERT INTO @TableMaster(SBMID, SBDID, SBMDNO, SBDNOP, BNOP)
SELECT   dbo.SHIPPINGBILLDETAIL.SBMID, dbo.STUFFINGPRODUCTDETAIL.SBDID, LTRIM(dbo.SHIPPINGBILLMASTER.SBMDNO) 
                         + '(' + dbo.VW_YEAR_DETAIL_CBX_ASSGN.YRDESC + ')' , 0, SUM(dbo.STUFFINGPRODUCTDETAIL.STFDNOP) AS STFDNOP
FROM            dbo.STUFFINGPRODUCTDETAIL INNER JOIN
                         dbo.STUFFINGDETAIL ON dbo.STUFFINGPRODUCTDETAIL.STFDID = dbo.STUFFINGDETAIL.STFDID INNER JOIN
                         dbo.SHIPPINGBILLDETAIL ON dbo.STUFFINGPRODUCTDETAIL.SBDID = dbo.SHIPPINGBILLDETAIL.SBDID INNER JOIN
                         dbo.SHIPPINGBILLMASTER ON dbo.SHIPPINGBILLDETAIL.SBMID = dbo.SHIPPINGBILLMASTER.SBMID INNER JOIN
                         dbo.VW_YEAR_DETAIL_CBX_ASSGN ON dbo.SHIPPINGBILLMASTER.COMPYID = dbo.VW_YEAR_DETAIL_CBX_ASSGN.COMPYID
GROUP BY dbo.STUFFINGPRODUCTDETAIL.SBDID, dbo.SHIPPINGBILLDETAIL.SBMID, LTRIM(dbo.SHIPPINGBILLMASTER.SBMDNO) 
                         + '(' + dbo.VW_YEAR_DETAIL_CBX_ASSGN.YRDESC + ')'
ORDER BY dbo.STUFFINGPRODUCTDETAIL.SBDID



INSERT INTO @TableMaster(SBMID, SBDID, SBMDNO, SBDNOP, BNOP)

SELECT  SBMID, SBDID, '-', 0, SUM(NOP) * 1 AS SBDNOP
FROM         dbo.TMP_STUFFING_SBDID WHERE KUSRID = @LKUSRID
GROUP BY SBMID, SBDID
ORDER BY SBDID
               
                      
    SELECT SBMID,MAX(SBMDNO) AS SBMDNO, SUM(SBDNOP) AS SBDNOP, SUM(SBDNOP - BNOP) AS BNOP
    FROM @TableMaster GROUP BY SBMID  HAVING SUM(SBDNOP - BNOP) > 0 order by  SBMID 
    
    return    
    
END


