USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[PR_EXPORT_SHIPPINGBILLCOUNT_DETAILS]    Script Date: 27/11/2021 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC PR_EXPORT_SHIPPINGBILLCOUNT_DETAILS '2021-11-01' , '2021-11-27'
ALTER PROCEDURE [dbo].[PR_EXPORT_SHIPPINGBILLCOUNT_DETAILS]
@PFDT datetime,
@PTDT datetime
as
begin

	Declare @temptable table
	(
	Sno int,
	Descriptn varchar(250),
	stuff_sb int,
	seal_sb int
	)


	insert into @temptable
	SELECT 1, 'EXPORT STUFFF' ,count(ESBD_SBILLNO),    0 from VW_EXPORT_SHIPPINGBILLDETAILS_ASSIGN  
	
	WHERE STFTID = 0 and STFMDATE between @PFDT and @PTDT
	--group by CONTNRSID

	insert into @temptable
	SELECT  2, 'EXPORT SEAL' , 0,count(ESBD_SBILLNO) from VW_EXPORT_SHIPPINGBILLDETAILS_ASSIGN 
	
	WHERE STFTID = 1 and STFMDATE  between @PFDT and @PTDT
	
	--group by CONTNRSID

	
	select * from @temptable
end