USE [SCFS_ERP_DEVPT]
GO
/****** Object:  StoredProcedure [dbo].[pr_GET_ESEAL_GATEINDETAIL_FVT]    Script Date: 14/09/2021 17:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[pr_GET_ESEAL_GATEINDETAIL_FVT]
   
   @GIDID INT 
AS
BEGIN
      DECLARE @ccount int;
	  DECLARE @VtGid int;
	  
	 DECLARE @TableMaster TABLE
    (	  
	    CONTNRNO VARCHAR(100)
	  , GIDID INT
	  , INDATE VarChar(10)	 
	  , GIDNO VarChar(10)
	  , TRNSPRTID INT 
	  , TRNSPRTNAME VarChar(100)
	  , VHLNO VarChar(100)
	  , DRVNAME VarChar(100)
	  , STMRID INT 
	  , STMRNAME VarChar(100)
	  , SiZe VarChar(20)
	  , CHAID INT 
	  , CHANAME VarChar(100)
	  , EXPRTRID INT 
	  , EXPRTRNAME VarChar(100)
	  , DRVMBLNO VarChar(100)
	  , DRVLCNO VarChar(100)
    )
	

    INSERT INTO @TableMaster (CONTNRNO, GIDID, INDATE, GIDNO, TRNSPRTID, TRNSPRTNAME, VHLNO, DRVNAME, STMRID, STMRNAME, SiZe, CHAID, CHANAME,
	                          EXPRTRID, EXPRTRNAME, DRVMBLNO, DRVLCNO)
	SELECT GATEINDETAIL.CONTNRNO,GATEINDETAIL.GIDID,Convert(varchar(10),GATEINDETAIL.GIDATE,103) ,GATEINDETAIL.GIDNO,
	GATEINDETAIL.TRNSPRTID,GATEINDETAIL.TRNSPRTNAME, GATEINDETAIL.VHLNO,GATEINDETAIL.DRVNAME,GATEINDETAIL.STMRID,GATEINDETAIL.STMRNAME,
	Isnull(CONTAINERSIZEMASTER.CONTNRSDESC,'') AS SiZe,GATEINDETAIL.CHAID as  CHAID,GATEINDETAIL.CHANAME,
	GATEINDETAIL.EXPRTRID as  EXPRTRID,GATEINDETAIL.EXPRTRNAME,GATEINDETAIL.DRVMBLNO,GATEINDETAIL.DRVLCNO
	FROM 
	GATEINDETAIL (nolock) Left Join VEHICLETICKETDETAIL (nolock) On GATEINDETAIL.GIDID = VEHICLETICKETDETAIL.GIDID  Left JOIN  
	CONTAINERSIZEMASTER (nolock) ON GATEINDETAIL.CONTNRSID = CONTAINERSIZEMASTER.CONTNRSID 
	WHERE (GATEINDETAIL.SDPTID = 11 ) AND GATEINDETAIL.GIDID = @GIDID
	

	SELECT  * from  @TableMaster --WHERE CONTNRNO IS NOT NULL

END

-- EXEC pr_GET_ESEAL_GATEINDETAIL_FVT @GIDID = 1324  EXEC pr_GET_ESEAL_GATEINDETAIL_FVT @FilterTerm = 'MLC' 

