USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[PR_IMPORT_REMOTEGATEINCONTAINER_DETAILS]    Script Date: 13/11/2021 17:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC PR_IMPORT_DASHBOARD_DETAILS '2021-10-20' , '2021-10-20', 1
create Procedure [dbo].[PR_IMPORT_REMOTEGATEINCONTAINER_DETAILS]
@PFDT datetime,
@PTDT datetime,
@PSDPTID int
as
begin

	Declare @temptable table
	(
	Sno int,
	Descriptn varchar(250),
	c_20 int,
	c_40 int,
	c_45 int,
	c_tues int)

	insert into @temptable
	select	1, 'IMPORT - REMOTEGATEIN', SUM(CASE WHEN CONTNRSID = 3 THEN 1 ELSE 0 END) '20"', 
			SUM(CASE WHEN CONTNRSID = 4 THEN 1 ELSE 0 END) '40"',
			SUM(CASE WHEN CONTNRSID = 5 THEN 1 ELSE 0 END) '45"',
			0 'TUES'
	from REMOTEGATEINDETAIL (nolock)
	where SDPTID = @PSDPTID
	and GIDATE between @PFDT and @PTDT
	and CONTNRSID > 2
	and DISPSTATUS = 0
	--group by CONTNRSID

	

	update @temptable
	set c_tues = isnull(c_20,0) + (isnull(c_40,0)*2)+ (isnull(c_45,0)*2)
	
	select * from @temptable
end