USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[PR_IMPORT_LOADESTUFFTOTCONTAINER_DETAILS]    Script Date: 13/11/2021 15:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC PR_IMPORT_LOADESTUFFTOTCONTAINER_DETAILS '2021-10-01' , '2021-11-13', 1
create PROCEDURE [dbo].[PR_IMPORT_LOADESTUFFTOTCONTAINER_DETAILS]
@PFDT datetime,
@PTDT datetime,
@PSDPTID int
as
begin

	Declare @temptable table
	(
	Sno int,
	Descriptn varchar(250),
	c_20 int,
	c_40 int,
	c_45 int,
	c_tues int)

	insert into @temptable
	select	1, 'IMPORT - LOADSLIP', SUM(CASE WHEN CONTNRSID = 3 THEN 1 ELSE 0 END) '20"', 
			SUM(CASE WHEN CONTNRSID = 4 THEN 1 ELSE 0 END) '40"',
			SUM(CASE WHEN CONTNRSID = 5 THEN 1 ELSE 0 END) '45"',
			0 'TUES'
	from GATEINDETAIL (nolock) INNER JOIN 
	AUTHORIZATIONSLIPDETAIL (nolock) on AUTHORIZATIONSLIPDETAIL.GIDID = GATEINDETAIL.GIDID INNER JOIN 
	AUTHORIZATIONSLIPMASTER (nolock) On AUTHORIZATIONSLIPMASTER.ASLMID = AUTHORIZATIONSLIPDETAIL.ASLMID and 
	AUTHORIZATIONSLIPMASTER.SDPTID = GATEINDETAIL.SDPTID  
	where AUTHORIZATIONSLIPMASTER.SDPTID = @PSDPTID
	and AUTHORIZATIONSLIPMASTER.ASLMDATE between @PFDT and @PTDT
	and CONTNRSID > 2 
	and GATEINDETAIL.DISPSTATUS = 0 and AUTHORIZATIONSLIPMASTER.ASLMTYPE = 1  
	--group by CONTNRSID

	insert into @temptable
	select 2, 'IMPORT - DESTUFF', SUM(CASE WHEN CONTNRSID = 3 THEN 1 ELSE 0 END) '20"', 
			SUM(CASE WHEN CONTNRSID = 4 THEN 1 ELSE 0 END) '40"',
			SUM(CASE WHEN CONTNRSID = 5 THEN 1 ELSE 0 END) '45"',
			0 'TUES'
	from GATEINDETAIL (nolock) INNER JOIN 
	AUTHORIZATIONSLIPDETAIL (nolock) on AUTHORIZATIONSLIPDETAIL.GIDID = GATEINDETAIL.GIDID  INNER JOIN 
	AUTHORIZATIONSLIPMASTER (nolock) On AUTHORIZATIONSLIPMASTER.ASLMID = AUTHORIZATIONSLIPDETAIL.ASLMID and 
	AUTHORIZATIONSLIPMASTER.SDPTID = GATEINDETAIL.SDPTID
	where AUTHORIZATIONSLIPMASTER.SDPTID = @PSDPTID
	and AUTHORIZATIONSLIPMASTER.ASLMDATE between @PFDT and @PTDT
	and CONTNRSID > 2 
	and GATEINDETAIL.DISPSTATUS = 0 and AUTHORIZATIONSLIPMASTER.ASLMTYPE = 2 
	--group by CONTNRSID

	insert into @temptable
	select 3, 'IMPORT - VEHICLETICKET', SUM(CASE WHEN CONTNRSID = 3 THEN 1 ELSE 0 END) '20"', 
			SUM(CASE WHEN CONTNRSID = 4 THEN 1 ELSE 0 END) '40"',
			SUM(CASE WHEN CONTNRSID = 5 THEN 1 ELSE 0 END) '45"',
			0 'TUES'
	from VEHICLETICKETDETAIL  (nolock) INNER JOIN 
	AUTHORIZATIONSLIPDETAIL (nolock) on VEHICLETICKETDETAIL.ASLDID = AUTHORIZATIONSLIPDETAIL.ASLDID Inner Join 
	AUTHORIZATIONSLIPMASTER (nolock) On AUTHORIZATIONSLIPMASTER.ASLMID = AUTHORIZATIONSLIPDETAIL.ASLMID Inner Join 
	GATEINDETAIL (nolock) on VEHICLETICKETDETAIL.GIDID = GATEINDETAIL.GIDID  and 
						VEHICLETICKETDETAIL.SDPTID = GATEINDETAIL.SDPTID
	where VEHICLETICKETDETAIL.SDPTID = @PSDPTID
	and VEHICLETICKETDETAIL.VTDATE between @PFDT and @PTDT
	and CONTNRSID > 2
	and GATEINDETAIL.DISPSTATUS = 0

	update @temptable
	set c_tues = isnull(c_20,0) + (isnull(c_40,0)*2)+ (isnull(c_45,0)*2)
	
	select * from @temptable
end