USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Import_TariffMaster]    Script Date: 30/07/2021 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

DECLARE @total INT
        @filtered INT

EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT

SELECT @total, @filtered
*/

ALTER PROCEDURE [dbo].[pr_Search_Import_TariffMaster]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'

    DECLARE @TableMaster TABLE
    ( 
	   TARIFFMCODE VARCHAR(100)
	   ,TariffType VARCHAR(50) 
	   ,TARIFFMDESC VARCHAR(100)
	   ,DISPSTATUS smallint 
	   ,TARIFFMID int 
	   ,RowNum INT
    )

    INSERT INTO @TableMaster(TARIFFMCODE,TariffType,
TARIFFMDESC,DISPSTATUS,TARIFFMID, RowNum)
    SELECT  TARIFFMCODE,ISNULL(SOFT_DEPARTMENTMASTER.SDPTNAME,'') AS SDPTNAME,
             TARIFFMDESC,TARIFFMASTER.DISPSTATUS
            , TARIFFMID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN TARIFFMCODE
                  WHEN 1 THEN TARIFFMDESC
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN TARIFFMCODE
                  WHEN 1 THEN TARIFFMDESC				
               
                END
            END DESC 
            
            /*DATETIME ORDER BY*/
             

            
            ) AS RowNum
    FROM    dbo.TARIFFMASTER LEFT JOIN   
	dbo.SOFT_DEPARTMENTMASTER ON dbo.TARIFFMASTER.SDPTID = SOFT_DEPARTMENTMASTER.SDPTID   /* CHANGE  TABLE NAME */
    WHERE   @FilterTerm IS NULL 
              OR TARIFFMCODE LIKE @FilterTerm
              OR TARIFFMDESC LIKE @FilterTerm
            

    SELECT TARIFFMCODE
	       ,TariffType
            , TARIFFMDESC
			,
			  CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS
			 ,TARIFFMID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    
    SELECT @TotalRowsCount = COUNT(*)
    FROM   dbo.TARIFFMASTER   /* CHANGE  TABLE NAME */
    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END