USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Empty_SlipIn]    Script Date: 20/10/2021 15:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[pr_Search_Empty_SlipIn]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PCompyId INT
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
 
AS BEGIN

Declare @LCompyId int,@LSDate Smalldatetime, @LEDate Smalldatetime
set @LCompyId = @PCompyId
set @LSDate = @PSDate
set @LEDate = @PEDate

    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'


    DECLARE @TableMaster TABLE
    (
      ASLMDATE SMALLDATETIME
    , ASLMNO VARCHAR(15)
    , CONTNRNO  VARCHAR(15)
    , CONTNRSDESC  VARCHAR(5)	
	, CHANAME VARCHAR(100)
    
	, ASLMID int
	, ASLDID int
	, DISPSTATUS int,ASLMDNO VARCHAR(50)
	,VHLNO VARCHAR(50)
    , RowNum INT
    )
    INSERT INTO @TableMaster(ASLMDATE, ASLMNO, CONTNRNO, CONTNRSDESC, CHANAME, ASLMID, ASLDID, DISPSTATUS,ASLMDNO,VHLNO, RowNum)
  
    SELECT   dbo.AUTHORIZATIONSLIPMASTER.ASLMDATE, dbo.AUTHORIZATIONSLIPMASTER.ASLMNO, dbo.GATEINDETAIL.CONTNRNO, 
                      dbo.CONTAINERSIZEMASTER.CONTNRSCODE,GATEINDETAIL.STMRNAME,
                      dbo.AUTHORIZATIONSLIPDETAIL.ASLMID,  dbo.AUTHORIZATIONSLIPDETAIL.ASLDID,
                      dbo.AUTHORIZATIONSLIPMASTER.DISPSTATUS,ASLMDNO,AUTHORIZATIONSLIPDETAIL.VHLNO


            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
                 WHEN 'ASC'  THEN
                      CASE @SortIndex
           				  WHEN 1 then ASLMNO
			  			  WHEN 2 then CONTNRNO
					      WHEN 3 then CONTNRSDESC
			  			  WHEN 4 then CHANAME
						  WHEN 8 THEN ASLMDNO
						    WHEN 9 THEN AUTHORIZATIONSLIPDETAIL.VHLNO
					   END             
				 END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                   CASE @SortIndex
           			    WHEN 1 then ASLMNO
			  		    WHEN 2 then CONTNRNO
					    WHEN 3 then CONTNRSDESC
			  			WHEN 4 then CHANAME
						 WHEN 8 THEN ASLMDNO
						  WHEN 9 THEN AUTHORIZATIONSLIPDETAIL.VHLNO
                    END
               END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                   CASE @SortIndex
                     WHEN 0 THEN ASLMDATE
                   END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN ASLMDATE
                END
            END DESC
            
            ) AS RowNum
            
FROM         dbo.CONTAINERSIZEMASTER  (NOLOCk) INNER JOIN
                      dbo.GATEINDETAIL (NOLOCk) ON dbo.CONTAINERSIZEMASTER.CONTNRSID = dbo.GATEINDETAIL.CONTNRSID INNER JOIN
                      dbo.AUTHORIZATIONSLIPDETAIL (NOLOCk)  ON dbo.GATEINDETAIL.GIDID = dbo.AUTHORIZATIONSLIPDETAIL.OSDID   INNER JOIN
                      dbo.AUTHORIZATIONSLIPMASTER (NOLOCk)  ON dbo.AUTHORIZATIONSLIPMASTER.ASLMID=dbo.AUTHORIZATIONSLIPDETAIL.ASLMID

WHERE (ASLMTYPE = 3) AND  (dbo.AUTHORIZATIONSLIPMASTER.COMPYID = @LCompyId) and
(ASLMDATE BETWEEN @PSDate AND @PEDate) AND (AUTHORIZATIONSLIPMASTER.SDPTID=1) AND (@FilterTerm IS NULL 
             OR ASLMDATE LIKE @FilterTerm
              OR ASLMNO LIKE @FilterTerm
              OR CONTNRNO  LIKE @FilterTerm
              OR CONTNRSDESC    LIKE @FilterTerm
              oR CHANAME LIKE @FilterTerm
			  OR ASLMDNO    LIKE @FilterTerm
			  OR AUTHORIZATIONSLIPDETAIL.VHLNO    LIKE @FilterTerm)

			   
ORDER BY dbo.AUTHORIZATIONSLIPMASTER.ASLMNO, dbo.GATEINDETAIL.CONTNRNO
            
    SELECT ASLMDATE, ASLMNO, CONTNRNO, CONTNRSDESC, CHANAME, ASLMID,  ASLDID, 
	case DISPSTATUS when 1 then 'C' else 'In Book' end as DISPSTATUS,ASLMDNO,VHLNO
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    ORDER BY ASLMDNO DESC

SELECT    @TotalRowsCount = COUNT(*)
FROM AUTHORIZATIONSLIPMASTER
WHERE DBO.AUTHORIZATIONSLIPMASTER.ASLMTYPE = 3  AND dbo.AUTHORIZATIONSLIPMASTER.SDPTID = 1 AND  dbo.AUTHORIZATIONSLIPMASTER.COMPYID = @LCompyId AND ASLMDATE BETWEEN @LSDate AND @LEDate

    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END