USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Import_RemoteGateIn]    Script Date: 12/10/2021 11:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
declare @TotalRowsCount int, @FilteredRowsCount int
exec [pr_Search_Import_RemoteGateIn] null, 1, 'asc', 0 , 10, @TotalRowsCount output , @FilteredRowsCount output, '2021-07-01', '2021-08-19'
*/
ALTER PROCEDURE [dbo].[pr_Search_Import_RemoteGateIn] ( 
          @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
 )
AS
BEGIN
	--Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'
	declare @LSDate Smalldatetime
        , @LEDate Smalldatetime
		set @LSDate=@PSDate
		set @LEDate=@PEDate
		

	SET NOCOUNT ON;

	Declare  @tblremotegatein Table 
	(
	   GIDATE varchar(10)
      , GINO INT
      , GIDNO VARCHAR(25)
      , CONTNRNO  VARCHAR(25)
      , CONTNRSID  int
	  ,IGMNO VARCHAR(25)
	  ,GPLNO VARCHAR(25)
      , STMRNAME VARCHAR(150)
	  , IMPRTNAME VARCHAR(150)
	  ,VSLNAME VARCHAR(100)
	  ,PRDTDESC VARCHAR(100)
	  ,DISPSTATUS SMALLINT
	  , GIDID int 
	  ,AGIDID INT
      , RowNum INT
	)

	Insert Into @tblremotegatein(GIDATE,GINO,GIDNO,CONTNRNO,CONTNRSID,IGMNO,GPLNO,STMRNAME,IMPRTNAME, VSLNAME,
	PRDTDESC,DISPSTATUS,GIDID,AGIDID,RowNum)
	SELECT ISNULL(convert(varchar(10),REMOTEGATEINDETAIL.GIDATE,103),'') as GIDATE,ISNULL(REMOTEGATEINDETAIL.GINO,0) as GINO, 
	       ISNULL(REMOTEGATEINDETAIL.GIDNO,'') as GIDNO , ISNULL(REMOTEGATEINDETAIL.CONTNRNO,'') as CONTNRNO ,
		   ISNULL(REMOTEGATEINDETAIL.CONTNRSID,0) as CONTNRSID ,ISNULL(REMOTEGATEINDETAIL.IGMNO,'') as IGMNO,
		   ISNULL(REMOTEGATEINDETAIL.GPLNO,'') as GPLNO,ISNULL(STMN.CATENAME,'') as STMRNAME,
		   ISNULL(IMPN.CATENAME,'') as IMPRTNAME,ISNULL(VESSELMASTER.VSLDESC,'') as VSLNAME,
		   REMOTEGATEINDETAIL.PRDTDESC as PRDTGDESC,
		   --ISNULL(PRODUCTGROUPMASTER.PRDTGDESC,'') as PRDTGDESC,
		   ISNULL(REMOTEGATEINDETAIL.DISPSTATUS,0) as DISPSTATUS,
		   ISNULL(REMOTEGATEINDETAIL.GIDID,0) as GIDID, --0 as AGIDID,
		   ISNULL(GATEINDETAIL.RGIDID,0) as AGIDID,
		    Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
				
           	      WHEN 2 then REMOTEGATEINDETAIL.GIDNO
			  	  WHEN 3 then REMOTEGATEINDETAIL.CONTNRNO
			  	 
				   WHEN 5 then REMOTEGATEINDETAIL.IGMNO
			  	  WHEN 6 then REMOTEGATEINDETAIL.GPLNO
				   WHEN 7 then STMN.CATENAME
				   WHEN 8 then VESSELMASTER.VSLDESC
			  	  WHEN 9 then REMOTEGATEINDETAIL.PRDTDESC
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex

           	     WHEN 2 then REMOTEGATEINDETAIL.GIDNO
			  	  WHEN 3 then REMOTEGATEINDETAIL.CONTNRNO
			  	 
				   WHEN 5 then REMOTEGATEINDETAIL.IGMNO
			  	  WHEN 6 then REMOTEGATEINDETAIL.GPLNO
				   WHEN 7 then STMN.CATENAME
				   WHEN 8 then VESSELMASTER.VSLDESC
			  	  WHEN 9 then REMOTEGATEINDETAIL.PRDTDESC
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN REMOTEGATEINDETAIL.GIDATE
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN REMOTEGATEINDETAIL.GIDATE
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
								  WHEN 1 then REMOTEGATEINDETAIL.GINO
                  WHEN 3 THEN REMOTEGATEINDETAIL.CONTNRSID
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
				  WHEN 1 then REMOTEGATEINDETAIL.GINO
                  WHEN 3 THEN REMOTEGATEINDETAIL.CONTNRSID
                END
            END DESC                            

            ) AS RowNum
		   

    FROM   REMOTEGATEINDETAIL (nolock) Left Join  
	       CONTAINERSIZEMASTER (nolock) ON REMOTEGATEINDETAIL.CONTNRSID = CONTAINERSIZEMASTER.CONTNRSID Left Join
		   CATEGORYMASTER STMN (nolock) ON REMOTEGATEINDETAIL.STMRID = STMN.CATEID Left Join 
		   CATEGORYMASTER IMPN (nolock) ON REMOTEGATEINDETAIL.IMPRTID = IMPN.CATEID Left Join 
		   VESSELMASTER (nolock) ON REMOTEGATEINDETAIL.VSLID = VESSELMASTER.VSLID Left Join 
		   PRODUCTGROUPMASTER (nolock) ON REMOTEGATEINDETAIL.PRDTGID = PRODUCTGROUPMASTER.PRDTGID Left Join 
		   GATEINDETAIL (nolock) ON REMOTEGATEINDETAIL.GIDID = GATEINDETAIL.RGIDID 

	where (REMOTEGATEINDETAIL.GIDATE BETWEEN @LSDate AND @LEDate)
		    AND (@FilterTerm IS NULL 
              OR REMOTEGATEINDETAIL.GIDATE LIKE @FilterTerm
              OR REMOTEGATEINDETAIL.GITIME LIKE @FilterTerm
              OR REMOTEGATEINDETAIL.GINO LIKE @FilterTerm
			  OR REMOTEGATEINDETAIL.GIDNO LIKE @FilterTerm
              OR  REMOTEGATEINDETAIL.CONTNRNO  LIKE @FilterTerm
			  OR  REMOTEGATEINDETAIL.CONTNRSID LIKE @FilterTerm
			    OR  REMOTEGATEINDETAIL.IGMNO  LIKE @FilterTerm
				  OR  REMOTEGATEINDETAIL.GPLNO LIKE @FilterTerm
			    OR  REMOTEGATEINDETAIL.PRDTDESC  LIKE @FilterTerm
				or VESSELMASTER.VSLDESC LIKE @FilterTerm
				OR STMN.CATENAME LIKE @FilterTerm
           )

	GROUP BY REMOTEGATEINDETAIL.GIDATE,REMOTEGATEINDETAIL.GINO,REMOTEGATEINDETAIL.GIDNO,
	         REMOTEGATEINDETAIL.CONTNRNO,REMOTEGATEINDETAIL.CONTNRSID,REMOTEGATEINDETAIL.IGMNO,
			 REMOTEGATEINDETAIL.GPLNO,STMN.CATENAME,IMPN.CATENAME,
	         VESSELMASTER.VSLDESC,PRODUCTGROUPMASTER.PRDTGDESC,REMOTEGATEINDETAIL.DISPSTATUS,
			 REMOTEGATEINDETAIL.GIDID,GATEINDETAIL.RGIDID,REMOTEGATEINDETAIL.PRDTDESC

	SELECT GIDATE
                        , GINO
                        , GIDNO
                         , CONTNRNO 
      ,CASE CONTNRSID  WHEN 2 THEN 'NR' WHEN 3 THEN '20' WHEN 4 THEN '40'  WHEN 5 THEN '45' END  AS CONTNRSID
	  ,IGMNO 
	  ,GPLNO 
      , STMRNAME 
	  ,IMPRTNAME
	  ,VSLNAME 
	  ,PRDTDESC
	  ,CASE DISPSTATUS WHEN 1 THEN 'C' END AS DISPSTATUS
	  , GIDID,AGIDID
    FROM    @tblremotegatein
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum 
    
 --   SELECT @TotalRowsCount = COUNT(*)
 --   FROM         dbo.REMOTEGATEINDETAIL Left Join 
	--dbo.GATEINDETAIL (nolock) ON REMOTEGATEINDETAIL.GIDID = GATEINDETAIL.RGIDID   /* CHANGE  TABLE NAME */
 --   WHERE   (GATEINDETAIL.RGIDID =0) and (REMOTEGATEINDETAIL.DISPSTATUS = 0)
 --  -- WHERE   (DISPSTATUS=0)
    

 --   SELECT @FilteredRowsCount = COUNT(*)
 --   FROM   @tblremotegatein
         
	 select  @TotalRowsCount = COUNT(REMOTEGATEINDETAIL.GIDID) 
	   FROM   REMOTEGATEINDETAIL (nolock) Left Join  
	       CONTAINERSIZEMASTER (nolock) ON REMOTEGATEINDETAIL.CONTNRSID = CONTAINERSIZEMASTER.CONTNRSID Left Join
		   CATEGORYMASTER STMN (nolock) ON REMOTEGATEINDETAIL.STMRID = STMN.CATEID Left Join 
		   CATEGORYMASTER IMPN (nolock) ON REMOTEGATEINDETAIL.IMPRTID = IMPN.CATEID Left Join 
		   VESSELMASTER (nolock) ON REMOTEGATEINDETAIL.VSLID = VESSELMASTER.VSLID Left Join 
		   PRODUCTGROUPMASTER (nolock) ON REMOTEGATEINDETAIL.PRDTGID = PRODUCTGROUPMASTER.PRDTGID Left Join 
		   GATEINDETAIL (nolock) ON REMOTEGATEINDETAIL.GIDID = GATEINDETAIL.RGIDID 

	where (REMOTEGATEINDETAIL.GIDATE BETWEEN @LSDate AND @LEDate)

    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @tblremotegatein 
	--where DISPSTATUS=0

    -- Insert statements for procedure here
	
END




