USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Export_LoadSlip_Master]    Script Date: 06/08/2021 20:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[pr_Search_Export_LoadSlip_Master]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PCompyId INT
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
 
AS BEGIN

Declare @LCompyId int,@LSDate Smalldatetime, @LEDate Smalldatetime
set @LCompyId = @PCompyId
set @LSDate = @PSDate
set @LEDate = @PEDate

    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'


    DECLARE @TableMaster TABLE
    (
      ASLMDATE SMALLDATETIME
    , ASLMNO VARCHAR(25)
    , CONTNRNO  VARCHAR(25)
    , CONTNRSDESC  VARCHAR(25)	
	, CHANAME VARCHAR(250)
    , CSEALNO VARCHAR(25)
	, ASEALNO VARCHAR(25)
	, ASLMID int
	, GIDId  INT
	, ASLDID int 
	, VTDID int
	, DISPSTATUS int,ASLMDNO VARCHAR(50)
    , RowNum INT
    )
    INSERT INTO @TableMaster(ASLMDATE, ASLMNO, CONTNRNO, CONTNRSDESC, CHANAME, CSEALNO, ASEALNO, ASLMID, GIDId, ASLDID, VTDID, DISPSTATUS,ASLMDNO, RowNum)
  
    SELECT   dbo.AUTHORIZATIONSLIPMASTER.ASLMDATE, dbo.AUTHORIZATIONSLIPMASTER.ASLMNO, dbo.GATEINDETAIL.CONTNRNO, 
                      dbo.CONTAINERSIZEMASTER.CONTNRSDESC, dbo.STUFFINGMASTER.STFMNAME AS CHANAME,dbo.AUTHORIZATIONSLIPDETAIL.CSEALNO, dbo.AUTHORIZATIONSLIPDETAIL.ASEALNO,
                      dbo.AUTHORIZATIONSLIPDETAIL.ASLMID, dbo.GATEINDETAIL.GIDID, dbo.AUTHORIZATIONSLIPDETAIL.ASLDID, ISNULL(dbo.VEHICLETICKETDETAIL.VTDID, 0) AS VTDID, 
                      dbo.AUTHORIZATIONSLIPMASTER.DISPSTATUS,ASLMDNO


            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
                 WHEN 'ASC'  THEN
                      CASE @SortIndex
           				  WHEN 1 then ASLMNO
			  			  WHEN 2 then CONTNRNO
					      WHEN 3 then CONTNRSDESC
			  			  WHEN 4 then STFMNAME
						  WHEN 5 then AUTHORIZATIONSLIPDETAIL.CSEALNO
						  WHEN 6 then ASEALNO
						  WHEN 12 THEN ASLMDNO
					   END             
				 END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                   CASE @SortIndex
           			    WHEN 1 then ASLMNO
			  		    WHEN 2 then CONTNRNO
					    WHEN 3 then CONTNRSDESC
			  			WHEN 4 then STFMNAME
						WHEN 5 then AUTHORIZATIONSLIPDETAIL.CSEALNO
						WHEN 6 then ASEALNO
						 WHEN 12 THEN ASLMDNO
                    END
               END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                   CASE @SortIndex
                     WHEN 0 THEN ASLMDATE
                   END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN ASLMDATE
                END
            END DESC
            
            ) AS RowNum
            
FROM         dbo.CONTAINERSIZEMASTER INNER JOIN
                      dbo.GATEINDETAIL (nolock) ON dbo.CONTAINERSIZEMASTER.CONTNRSID = dbo.GATEINDETAIL.CONTNRSID INNER JOIN
                      dbo.STUFFINGDETAIL (nolock) ON dbo.GATEINDETAIL.GIDID = dbo.STUFFINGDETAIL.GIDID INNER JOIN
                      dbo.AUTHORIZATIONSLIPMASTER INNER JOIN
                      dbo.AUTHORIZATIONSLIPDETAIL (nolock)  ON dbo.AUTHORIZATIONSLIPMASTER.ASLMID = dbo.AUTHORIZATIONSLIPDETAIL.ASLMID  ON 
                      dbo.STUFFINGDETAIL.STFDID = dbo.AUTHORIZATIONSLIPDETAIL.STFDID INNER JOIN
                      dbo.STUFFINGMASTER (nolock)  ON dbo.STUFFINGDETAIL.STFMID = dbo.STUFFINGMASTER.STFMID LEFT OUTER JOIN
                      dbo.VEHICLETICKETDETAIL (nolock)  ON dbo.GATEINDETAIL.GIDID = dbo.VEHICLETICKETDETAIL.GIDID

WHERE (ASLMTYPE = 1) AND  (dbo.AUTHORIZATIONSLIPMASTER.COMPYID = @LCompyId) and
(ASLMDATE BETWEEN @PSDate AND @PEDate) AND (AUTHORIZATIONSLIPMASTER.SDPTID=2) AND (@FilterTerm IS NULL 
             OR ASLMDATE LIKE @FilterTerm
              OR ASLMNO LIKE @FilterTerm
              OR CONTNRNO  LIKE @FilterTerm
              OR CONTNRSDESC    LIKE @FilterTerm
              oR CHANAME LIKE @FilterTerm
              OR AUTHORIZATIONSLIPDETAIL.CSEALNO    LIKE @FilterTerm
              OR ASEALNO    LIKE @FilterTerm
			  OR ASLMDNO    LIKE @FilterTerm)
			   
ORDER BY dbo.AUTHORIZATIONSLIPMASTER.ASLMNO, dbo.GATEINDETAIL.CONTNRNO
            
    SELECT ISNULL(ASLMDATE,'') AS ASLMDATE ,ISNULL(ASLMNO,'') AS ASLMNO,ISNULL(CONTNRNO,'') AS CONTNRNO,
	ISNULL(CONTNRSDESC,'') AS CONTNRSDESC,ISNULL(CHANAME,'') AS CHANAME,ISNULL(CSEALNO,'') AS CSEALNO,
	ISNULL(ASEALNO,'') AS ASEALNO,ISNULL(ASLMID,0) AS ASLMID,ISNULL(GIDId,0) AS GIDId,ISNULL(ASLDID,0) AS ASLDID,
	ISNULL(VTDID,0) AS VTDID,(CASE WHEN  DISPSTATUS = 0 THEN 'In Books' ELSE 'C' END) AS DISPSTATUS,ISNULL(ASLMDNO,'') AS ASLMDNO
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    ORDER BY ASLMDNO DESC

SELECT    @TotalRowsCount = COUNT(*)
FROM AUTHORIZATIONSLIPMASTER
WHERE DBO.AUTHORIZATIONSLIPMASTER.ASLMTYPE = 1  AND dbo.AUTHORIZATIONSLIPMASTER.SDPTID = 2 AND  dbo.AUTHORIZATIONSLIPMASTER.COMPYID = @LCompyId AND ASLMDATE BETWEEN @LSDate AND @LEDate

    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END
-- EXEC pr_Search_Export_LoadSlip_Master @FilterTerm = '',@SortIndex =1,@SortDirection ='ASC',@StartRowNum = 1,@EndRowNum = 10, @TotalRowsCount=10, @FilteredRowsCount=10,@PCompyId= 32,@PSDate='2021-08-06 00:00:00',@PEDate='2021-08-06 00:00:00'
