USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Import_GateInBlock]    Script Date: 11/09/2021 15:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

DECLARE @total INT
        @filtered INT

EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT

SELECT @total, @filtered
*/

ALTER PROCEDURE [dbo].[pr_Search_Import_GateInBlock]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
		,@PCompyid int
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'

	declare @LCompyid int
	set @LCompyid=@PCompyid
    DECLARE @TableMaster TABLE
    (
      GBDATE SMALLDATETIME
      , GBNO INT
      , GBDNO VARCHAR(15)
      , CONTNRNO  VARCHAR(15)
      , CONTNRSID  int
	  ,IGMNO VARCHAR(15)
	  ,GPLNO VARCHAR(15)
      , STMRNAME VARCHAR(100)
	  ,VSLNAME VARCHAR(100)
	  ,PRDTDESC VARCHAR(100)
	  ,DISPSTATUS SMALLINT
	  ,GBTYPE SMALLINT
	  , GBDID int 
      , RowNum INT
    )

    INSERT INTO @TableMaster(GBDATE
                        , GBNO
                        , GBDNO
                         , CONTNRNO 
      , CONTNRSID  
	  ,IGMNO 
	  ,GPLNO 
      , STMRNAME 
	  ,VSLNAME 
	  ,PRDTDESC,DISPSTATUS ,GBTYPE, GBDID, RowNum)
  
    SELECT  GBDATE, GBNO
                        , GBDNO
                         , CONTNRNO 
      , CONTNRSID  
	  ,IGMNO 
	  ,GPLNO 
      , STMRNAME 
	  ,VSLNAME 
	  ,PRDTDESC
            ,GATEIN_BLOCK_DETAILS.DISPSTATUS 
			 ,GBTYPE
			, GBDID
                        
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
				
           	      WHEN 2 then GBDNO
			  	  WHEN 3 then CONTNRNO
			  	 
				   WHEN 5 then IGMNO
			  	  WHEN 6 then GPLNO
				   WHEN 7 then STMRNAME
				   WHEN 8 then VSLNAME
			  	  WHEN 9 then PRDTDESC
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex

           	     WHEN 2 then GBDNO
			  	  WHEN 3 then CONTNRNO
			  	 
				   WHEN 5 then IGMNO
			  	  WHEN 6 then GPLNO
				   WHEN 7 then STMRNAME
				   WHEN 8 then VSLNAME
			  	  WHEN 9 then PRDTDESC
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN GBDATE
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN GBDATE
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
								  WHEN 1 then GBNO
                  WHEN 3 THEN CONTNRSID
				    WHEN 11 THEN GBTYPE
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
				  WHEN 1 then GBNO
                  WHEN 3 THEN CONTNRSID
				  WHEN 11 THEN GBTYPE
                END
            END DESC                            

            ) AS RowNum
   FROM         dbo.GATEIN_BLOCK_DETAILS left outer join GATEINDETAIL on GATEIN_BLOCK_DETAILS.GIDID=GATEINDETAIL.GIDID  /* CHANGE  TABLE NAME */
    WHERE   (GBDATE BETWEEN @PSDate AND @PEDate) and (GATEIN_BLOCK_DETAILS.COMPYID=@LCompyid) AND @FilterTerm IS NULL 
              OR GBDATE LIKE @FilterTerm
              OR GBNO LIKE @FilterTerm
              OR  GBDNO  LIKE @FilterTerm
              OR  CONTNRSID    LIKE @FilterTerm
              OR  CONTNRNO    LIKE @FilterTerm
              OR  IGMNO    LIKE @FilterTerm
			   OR GPLNO LIKE @FilterTerm
              OR  STMRNAME  LIKE @FilterTerm
              OR  VSLNAME    LIKE @FilterTerm
			   OR  PRDTDESC    LIKE @FilterTerm
			   OR GBTYPE LIKE @FilterTerm
    SELECT GBDATE
                        , GBNO
                        , GBDNO
                         , CONTNRNO 
      ,CASE CONTNRSID  WHEN 2 THEN 'NR' WHEN 3 THEN '20' WHEN 4 THEN '40'  WHEN 5 THEN '45' END  AS CONTNRSID
	  ,IGMNO 
	  ,GPLNO 
      , STMRNAME 
	  ,VSLNAME 
	  ,PRDTDESC
	  ,CASE DISPSTATUS WHEN 1 THEN 'C' END AS DISPSTATUS
	   ,CASE GBTYPE WHEN 0 THEN 'CUSTOMS BLOCK' WHEN 1 THEN 'SCFS BLOCK' END AS GBTYPE
	  , GBDID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    
    SELECT @TotalRowsCount = COUNT(*)
    FROM         dbo.GATEIN_BLOCK_DETAILS left outer join GATEINDETAIL on GATEIN_BLOCK_DETAILS.GIDID=GATEINDETAIL.GIDID  /* CHANGE  TABLE NAME */
    WHERE  (GBDATE BETWEEN @PSDate AND @PEDate) and (GATEIN_BLOCK_DETAILS.COMPYID=@LCompyid)
    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END