USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Finance_CreditNote]    Script Date: 17/11/2021 11:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[pr_Search_Finance_CreditNote]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PCompyId INT,@PSDPTID int
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
		, @PTRANBTYPE int
 
AS BEGIN

Declare @LCompyId int,@LSDate Smalldatetime, @LEDate Smalldatetime,@LSDPTID int, @LTRANBTYPE int
set @LCompyId = @PCompyId
set @LSDate = @PSDate
set @LEDate = @PEDate
set @LSDPTID = @PSDPTID
set @LTRANBTYPE = @PTRANBTYPE

    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'


    DECLARE @TableMaster TABLE
    (
      TRANDATE varchar(20)	
    , TRANDNO VARCHAR(50)
    , TRANREFNAME  VARCHAR(100)	
	, TRANGSTAMT NUMERIC(18,2) 	
	, TRANNAMT NUMERIC(18,2) 
	, ACKNO VARCHAR(100)	
	, DISPSTATUS int
	, TRANBILLREFNO VARCHAR(100)	
	, TRANMID int 		
    , RowNum INT
    )
    INSERT INTO @TableMaster(TRANDATE, TRANDNO, TRANREFNAME,TRANGSTAMT, TRANNAMT,ACKNO,DISPSTATUS,TRANBILLREFNO,TRANMID, RowNum)
  
    SELECT convert(varchar(10),TRANDATE,103) AS TRANDATE,TRANDNO,CATEGORYMASTER.CATENAME,
        CREDITNOTE_TRANSACTIONMASTER.TRANCGSTAMT+CREDITNOTE_TRANSACTIONMASTER.TRANSGSTAMT+CREDITNOTE_TRANSACTIONMASTER.TRANIGSTAMT,
		CREDITNOTE_TRANSACTIONMASTER.TRANNAMT,  ISNULL(CREDITNOTE_TRANSACTIONMASTER.ACKNO,'0') AS ACKNO,
		CREDITNOTE_TRANSACTIONMASTER.DISPSTATUS,CREDITNOTE_TRANSACTIONMASTER.TRANBILLREFNO,CREDITNOTE_TRANSACTIONMASTER.TRANMID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
                 WHEN 'ASC'  THEN
                      CASE @SortIndex
           				  WHEN 1 then TRANDNO
			  		    WHEN 2 then TRANREFNAME
			  			when 3 then CREDITNOTE_TRANSACTIONMASTER.ACKNO
						when 4 then CREDITNOTE_TRANSACTIONMASTER.TRANBILLREFNO 
						 
						  
					   END             
				 END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                   CASE @SortIndex
           			    WHEN 1 then TRANDNO
			  		    WHEN 2 then TRANREFNAME
			  			when 3 then CREDITNOTE_TRANSACTIONMASTER.ACKNO 
						when 4 then CREDITNOTE_TRANSACTIONMASTER.TRANBILLREFNO 
                    END
               END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                   CASE @SortIndex
                     WHEN 0 THEN TRANDATE
					 
                   END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN TRANDATE
				  
                END
            END DESC
		
            ) AS RowNum
      FROM CREDITNOTE_TRANSACTIONMASTER (nolock) Inner Join  
	  CATEGORYMASTER (nolock) On CREDITNOTE_TRANSACTIONMASTER.TRANREFID = CATEGORYMASTER.CATEID  
	  WHERE   (COMPYID = @LCompyId) and (CREDITNOTE_TRANSACTIONMASTER.SDPTID=@LSDPTID ) AND  
	  TRANBTYPE = @LTRANBTYPE AND
	  (TRANDATE BETWEEN @PSDate AND @PEDate)  AND (@FilterTerm IS NULL 
             OR TRANDATE LIKE @FilterTerm	 		 
              OR TRANDNO LIKE @FilterTerm 
              OR TRANREFNAME  LIKE @FilterTerm 	 		 			  
			  OR TRANNAMT LIKE @FilterTerm  
			  OR CREDITNOTE_TRANSACTIONMASTER.ACKNO LIKE @FilterTerm   
			  OR CREDITNOTE_TRANSACTIONMASTER.TRANBILLREFNO LIKE @FilterTerm 
			   )
			   
ORDER BY TRANDNO
            
    SELECT TRANDATE, TRANDNO, TRANREFNAME,TRANGSTAMT, TRANNAMT,isnull(ACKNO,'0') as ACKNO,
	CASE DISPSTATUS WHEN 1 THEN 'C' WHEN 2 THEN 'RETURN' else '' end as DISPSTATUS,TRANBILLREFNO,  TRANMID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    ORDER BY TRANDNO DESC

SELECT    @TotalRowsCount = COUNT(*)
 FROM CREDITNOTE_TRANSACTIONMASTER (nolock) Inner Join  
	  CATEGORYMASTER (nolock) On CREDITNOTE_TRANSACTIONMASTER.TRANREFID = CATEGORYMASTER.CATEID  
WHERE (COMPYID = @LCompyId) and (CREDITNOTE_TRANSACTIONMASTER.SDPTID=@LSDPTID ) and TRANBTYPE = @LTRANBTYPE 
     AND(TRANDATE BETWEEN @LSDate AND @LEDate)
	 
	     SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END