USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchExportCartingOrder]    Script Date: 12/10/2021 11:46:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

DECLARE @TotalRowsCount INT
        @FilteredRowsCount INT

EXEC [dbo].[pr_SearchExportCartingOrder] NULL, 1, 'ASC', 1, 10, @TotalRowsCount OUTPUT,@FilteredRowsCount OUTPUT,
'2021-07-01', '2021-07-29', 32

SELECT @TotalRowsCount, @FilteredRowsCount
*/
ALTER PROCEDURE [dbo].[pr_SearchExportCartingOrder]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
		,@PCOMPYID INT
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'
	declare @LSDate Smalldatetime
        , @LEDate Smalldatetime,@LCOMPYID INT
		set @LSDate=@PSDate
		set @LEDate=@PEDate
		set @LCOMPYID=@PCOMPYID
    DECLARE @TableMaster TABLE
    (
        SBMDATE SMALLDATETIME
      , SBMTIME DATETIME
      , SBMNO int
      , EXPRTNAME  VARCHAR(100)
      , CHANAME  VARCHAR(100)
	  , VHLNO NVARCHAR(50)
	  , DISPSTATUS smallint
	  , SBMDNO VARCHAR(100)
	  , SBMID int 
      , RowNum INT
    )

    INSERT INTO @TableMaster(SBMDATE,SBMTIME, SBMNO,EXPRTNAME,CHANAME,VHLNO,DISPSTATUS,SBMDNO,SBMID,RowNum)
    SELECT DISTINCT TOP(100)   SBMDATE,SBMTIME, SBMNO,EXPRTNAME,SHIPPINGBILLMASTER.CHANAME,GATEINDETAIL.VHLNO,SHIPPINGBILLMASTER.DISPSTATUS,SBMDNO,SHIPPINGBILLMASTER.SBMID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
           	      WHEN 2 then SBMNO
			  	  WHEN 3 then EXPRTNAME
				  WHEN 4 then SHIPPINGBILLMASTER.CHANAME
				  WHEN 5 then GATEINDETAIL.VHLNO
			  	 
                END             
            END ASC,
            
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
           	      WHEN 2 then SBMNO
			  	  WHEN 3 then EXPRTNAME
			      WHEN 4 then SHIPPINGBILLMASTER.CHANAME
				  WHEN 5 then GATEINDETAIL.VHLNO
			  	
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN SBMDATE
                  WHEN 1 THEN SBMTIME
                END             
            END ASC,

            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN SBMDATE
				  when 1 then SBMTIME
                END
            END DESC,
            
       
			  CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex  
                				   
				   WHEN 6 THEN SBMDNO 
                END             
            END ASC,

            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex			
				    
					WHEN 6 THEN SBMDNO
                END
            END DESC                             

            ) AS RowNum
   FROM   dbo.SHIPPINGBILLMASTER  (NOLOCK)           
          Inner Join dbo.SHIPPINGBILLDETAIL (NOLOCK) ON SHIPPINGBILLDETAIL.SBMID = SHIPPINGBILLMASTER.SBMID  
          Inner Join GATEINDETAIL  (NOLOCK) ON SHIPPINGBILLDETAIL.GIDID = GATEINDETAIL.GIDID       /* CHANGE  TABLE NAME */
    WHERE GATEINDETAIL.SDPTID = 2 AND (SHIPPINGBILLMASTER.COMPYID=@LCOMPYID) and (SBMDATE BETWEEN @LSDate AND @LEDate) AND (@FilterTerm IS NULL 
              OR SBMDATE LIKE @FilterTerm
              OR SBMTIME LIKE @FilterTerm
              OR SBMNO LIKE @FilterTerm
              OR SHIPPINGBILLMASTER.EXPRTNAME  LIKE @FilterTerm
			  OR SHIPPINGBILLMASTER.CHANAME  LIKE @FilterTerm
			  OR GATEINDETAIL.VHLNO  LIKE @FilterTerm
			  OR SBMDNO  LIKE @FilterTerm
           )

    SELECT DISTINCT SBMDATE
      , SBMTIME
      , SBMNO 
      , EXPRTNAME ,CHANAME ,VHLNO
	  ,case DISPSTATUS when 1 then 'C' when 0 then 'In book' end as  DISPSTATUS,SBMDNO 
	  , SBMID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
	ORDER BY SBMDATE  DESC
    
 SELECT @TotalRowsCount = COUNT(*)
   FROM   dbo.SHIPPINGBILLMASTER  (NOLOCK)           
          Inner Join dbo.SHIPPINGBILLDETAIL (NOLOCK) ON SHIPPINGBILLDETAIL.SBMID = SHIPPINGBILLMASTER.SBMID  
          Inner Join GATEINDETAIL  (NOLOCK) ON SHIPPINGBILLDETAIL.GIDID = GATEINDETAIL.GIDID      /* CHANGE  TABLE NAME */
    WHERE GATEINDETAIL.SDPTID = 2 AND (SHIPPINGBILLMASTER.COMPYID=@LCOMPYID) and  (SBMDATE BETWEEN @LSDate AND @LEDate)
    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END