USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_StagMaster]    Script Date: 27/11/2021 14:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[pr_Search_StagMaster]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'

    DECLARE @TableMaster TABLE
    ( 
	   STAGCODE VARCHAR(100)
      ,STAGDESC VARCHAR(100)
	  ,GDWNCODE VARCHAR(100) 
	  ,DISPSTATUS smallint
	  ,STAGID int 
      , RowNum INT
    )

    INSERT INTO @TableMaster(STAGCODE,STAGDESC,GDWNCODE,DISPSTATUS,STAGID, RowNum)
    SELECT  STAGCODE
            , STAGDESC,GODOWNMASTER.GDWNCODE,STAGMASTER.DISPSTATUS
            , STAGID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN STAGCODE
                  WHEN 1 THEN STAGDESC
				  WHEN 2 THEN GODOWNMASTER.GDWNCODE
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN STAGCODE
                  WHEN 1 THEN STAGDESC
				  WHEN 2 THEN GODOWNMASTER.GDWNCODE				
               
                END
            END DESC 
            
            /*DATETIME ORDER BY*/
             

            
            ) AS RowNum
    FROM    dbo.STAGMASTER   Inner Join GODOWNMASTER (nolock) on STAGMASTER.GDWNID = GODOWNMASTER.GDWNID  /* CHANGE  TABLE NAME */
    WHERE   @FilterTerm IS NULL 
              OR STAGCODE LIKE @FilterTerm   
              OR STAGDESC LIKE @FilterTerm  
			  OR GODOWNMASTER.GDWNCODE LIKE @FilterTerm
            

    SELECT STAGCODE
            , STAGDESC , GDWNCODE 
			,
			  CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS
			 ,STAGID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    
    SELECT @TotalRowsCount = COUNT(*)
    FROM   dbo.STAGMASTER   Inner Join GODOWNMASTER (nolock) on STAGMASTER.GDWNID = GODOWNMASTER.GDWNID    /* CHANGE  TABLE NAME */
    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END

