USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_UPDATAE_CONTAINERNo]    Script Date: 12/10/2021 11:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[pr_UPDATAE_CONTAINERNo]  
          @FilterTerm varchar(100) 
        
AS BEGIN


SET @FilterTerm = @FilterTerm + '%'    

    DECLARE @TableMaster Table 
	( 
	  CONTNRNO nvarchar(100) not null,
	  GIDID int
	)

	
   Insert Into  @TableMaster(CONTNRNO ,GIDID )  
  SELECT GATEINDETAIL.CONTNRNO , max(GATEINDETAIL.GIDID) as GIDID
 FROM GATEINDETAIL (Nolock)
 WHERE (@FilterTerm IS NULL  OR GATEINDETAIL.CONTNRNO LIKE @FilterTerm   )  AND GATEINDETAIL.SDPTID= 1  AND GATEINDETAIL.CONTNRSID > 0 
 GROUP BY GATEINDETAIL.CONTNRNO ,GATEINDETAIL.GIDID
      

  Select CONTNRNO ,GIDID 
	    FROM @TableMaster
        


 
        
END

-- exec [dbo].[pr_UPDATAE_CONTAINERNo] @FilterTerm = '%tem%'