USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SP_OPENSHEET_CONTAINER_FLX_ASSGN]    Script Date: 01-10-2021 20:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE  [dbo].[SP_OPENSHEET_CONTAINER_FLX_ASSGN] @PIGMNO VARCHAR(50) , @PGPLNO AS VARCHAR(15)  AS

SELECT * FROM VW_OPENSHEET_CONTAINER_CBX_ASSGN_01 WHERE IGMNO = @PIGMNO AND GPLNO = @PGPLNO ORDER BY CONTNRNO