USE [SCFS_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SP_STUFFINGDETAIL_FLX_ASSGN]    Script Date: 02/08/2021 10:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_STUFFINGDETAIL_FLX_ASSGN] @PSTFMID INT AS

/*
SELECT     dbo.STUFFINGDETAIL.STFDID, dbo.STUFFINGDETAIL.STFMID, dbo.STUFFINGPRODUCTDETAIL.SBDID, STFCORDNO,  dbo.STUFFINGPRODUCTDETAIL.STFDSBNO, 
                      dbo.STUFFINGPRODUCTDETAIL.STFDSBDNO, dbo.STUFFINGPRODUCTDETAIL.STFDSBDATE, dbo.STUFFINGPRODUCTDETAIL.STFDSBDDATE, 
                      dbo.STUFFINGDETAIL.GIDID, dbo.STUFFINGPRODUCTDETAIL.STFDNOP, dbo.STUFFINGPRODUCTDETAIL.STFDQTY, dbo.GATEINDETAIL.CONTNRNO, 
                      dbo.CONTAINERSIZEMASTER.CONTNRSDESC, dbo.SHIPPINGBILLDETAIL.PRDTDESC, dbo.STUFFINGPRODUCTDETAIL.STFPID
FROM         dbo.STUFFINGDETAIL INNER JOIN
                      dbo.GATEINDETAIL ON dbo.STUFFINGDETAIL.GIDID = dbo.GATEINDETAIL.GIDID INNER JOIN
                      dbo.CONTAINERSIZEMASTER ON dbo.GATEINDETAIL.CONTNRSID = dbo.CONTAINERSIZEMASTER.CONTNRSID INNER JOIN
                      dbo.STUFFINGPRODUCTDETAIL ON dbo.STUFFINGDETAIL.STFDID = dbo.STUFFINGPRODUCTDETAIL.STFDID INNER JOIN
                      dbo.SHIPPINGBILLDETAIL ON dbo.STUFFINGPRODUCTDETAIL.SBDID = dbo.SHIPPINGBILLDETAIL.SBDID
WHERE     (dbo.STUFFINGDETAIL.STFMID = @PSTFMID)

GO
*/
SELECT     dbo.STUFFINGDETAIL.STFDID, dbo.STUFFINGDETAIL.STFMID, dbo.STUFFINGPRODUCTDETAIL.SBDID, dbo.STUFFINGPRODUCTDETAIL.STFCORDNO, 
                      dbo.STUFFINGPRODUCTDETAIL.STFDSBNO, dbo.STUFFINGPRODUCTDETAIL.STFDSBDNO, dbo.STUFFINGPRODUCTDETAIL.STFDSBDATE, 
                      dbo.STUFFINGPRODUCTDETAIL.STFDSBDDATE, dbo.STUFFINGDETAIL.GIDID, dbo.STUFFINGPRODUCTDETAIL.STFDNOP, 
                      dbo.STUFFINGPRODUCTDETAIL.STFDQTY, dbo.GATEINDETAIL.CONTNRNO, dbo.CONTAINERSIZEMASTER.CONTNRSDESC, 
                      dbo.SHIPPINGBILLDETAIL.PRDTDESC, dbo.STUFFINGPRODUCTDETAIL.STFPID
FROM         dbo.STUFFINGDETAIL INNER JOIN
                      dbo.STUFFINGPRODUCTDETAIL ON dbo.STUFFINGDETAIL.STFDID = dbo.STUFFINGPRODUCTDETAIL.STFDID INNER JOIN
                      dbo.SHIPPINGBILLDETAIL ON dbo.STUFFINGPRODUCTDETAIL.SBDID = dbo.SHIPPINGBILLDETAIL.SBDID LEFT OUTER JOIN
                      dbo.GATEINDETAIL ON dbo.STUFFINGDETAIL.GIDID = dbo.GATEINDETAIL.GIDID LEFT OUTER JOIN
                      dbo.CONTAINERSIZEMASTER ON dbo.GATEINDETAIL.CONTNRSID = dbo.CONTAINERSIZEMASTER.CONTNRSID
WHERE     (dbo.STUFFINGDETAIL.STFMID = @PSTFMID)