--USE [SCFS_ERP]
--GO

/****** Object:  Table [dbo].[STATEMASTER]    Script Date: 26-08-2021 18:59:47 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO
drop table [STATEMASTER]
CREATE TABLE [dbo].[STATEMASTER](
	[STATEID] [int] IDENTITY(1,1) NOT NULL,
	[STATEDESC] [varchar](100) NOT NULL CONSTRAINT [DF_Table_1_LOCTDESC]  DEFAULT (NULL),
	[STATECODE] [varchar](15) NOT NULL CONSTRAINT [DF_Table_1_LOCTCODE]  DEFAULT (NULL),
	[STATETYPE] [smallint] NOT NULL CONSTRAINT [DF_STATEMASTER_STATETYPE]  DEFAULT ((0)),
	[CUSRID] [varchar](100) NOT NULL CONSTRAINT [DF_STATEMASTER_CUSRID]  DEFAULT ((0)),
	[LMUSRID] [int] NOT NULL CONSTRAINT [DF_STATEMASTER_LMUSRID]  DEFAULT ((0)),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_STATEMASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_STATEMASTER_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_STATEMASTER] PRIMARY KEY CLUSTERED 
(
	[STATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

--delete [STATEMASTER]

GO
SET ANSI_PADDING OFF
GO

set identity_insert [STATEMASTER] on 

INSERT [dbo].[STATEMASTER] ([STATEID], [STATEDESC], [STATECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE], [STAtETYPE]) VALUES (1, N'Of All State', N'All', 1, 1, 0, CAST(N'2017-04-01 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[STATEMASTER] ([STATEID], [STATEDESC], [STATECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE], [STAtETYPE]) VALUES (2, N'TAMIL NADU', N'33', 1, 1, 0, CAST(N'2017-06-23 16:04:00.000' AS DateTime), 1)
INSERT [dbo].[STATEMASTER] ([STATEID], [STATEDESC], [STATECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE], [STAtETYPE]) VALUES (3, N' ANDHRA PRADESH', N'28', 1, 1, 1, CAST(N'2020-03-10 15:59:00.000' AS DateTime), 1)

set identity_insert [STATEMASTER] off